<template>
    <div>
        <transition name="custom-classes-transition"
                    enter-active-class="animated zoomIn"
                    leave-active-class="animated zoomOut">
            <div class="company-view-modal">
                <div class="company-view-modal__top">
                    <div class="company-view-modal__header">{{clientData.Name}}</div>
                    <div class="company-view-modal__description">{{clientData.Comment}}</div>
                </div>

                <div class="company-view-modal__mid">
                    <div class="company-view-modal__area">
                        <div class="company-view-modal__area-header">
                            {{clientData.DealName}}
                        </div>
                        <div class="company-view-modal__area-footage">
                            {{clientData.SquareFrom}} - {{clientData.SquareTo}} м<sup>2</sup>
                        </div>
                        <div class="company-view-modal__separator"></div>
                    </div>
                    <div class="company-view-modal__cost">
                        <div class="company-view-modal__cost-header">&nbsp;</div>
                        <div class="company-view-modal__cost-price">
                            {{clientData.CostFrom}} - {{clientData.CostTo}}
                            <span class="text_sm">руб./м<sup>2</sup> в год</span>
                        </div>
                        <div class="company-view-modal__separator"></div>
                    </div>

                    <div class="company-view-modal__subway">
                        <div class="company-view-modal__subway-header">Станции метро</div>

                        <!-- <div class="company-view-modal__subway-item"
                              v-for="item in clientData.Metros"
                              v-tooltip.bottom="{content: '<b>' + item.Name + '</b> / ' + item.Stations }"
                              :style="'background-color: #' + item.Color + ';'"

                              title=""
                         ><span>{{item.StationsCnt}}</span>
                         </div>-->

                        <span v-for="item in clientData.Metros"
                              class="client_metro_icon sitePopover"
                              data-trigger="hover"
                              :data-title="item.Name"
                              data-placement="bottom"
                              :data-content="item.Stations"
                              data-original-title=""
                              :style="'background-color: #' + item.Color + ';'"
                              title="">{{item.StationsCnt}}</span>


                    </div>
                </div>

                <div v-if="clientData.Persons.length > 0" class="company-view-modal__contacts clearfix">

                    <div v-for="person in clientData.Persons"
                         class="company-view-modal__contacts-item clearfix">
                        <div class="company-view-modal__contacts-item-photo">
                            <img src="/dist/template/ph/contacts-ico--default.jpg"
                                 alt=""
                                 width="66" height="66">
                        </div>
                        <div class="company-view-modal__contacts-item-info">

                            <div class="company-view-modal__contacts-item-name"
                                 v-if="person.Name !==''">
                                <strong>{{person.Name}}</strong><br></div>

                            <span v-for="phone in person.Contacts"
                                  class="company-view-modal__contacts-item-phone"
                                  v-if="phone.Contact !=='' && phone.TypeID == 1">{{phone.Contact}}</span><br>

                            <a v-for="email in person.Contacts" :href="'mailto:' + email.Contact"
                               class="company-view-modal__contacts-item-email"
                               v-if="email.Contact !=='' && email.TypeID == 2">{{email.Contact}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'client-details-modal',
        data() {
            return {}
        },
        methods: {
            hideModal() {
                this.$emit('update:showModal', false);
                this.$emit('update:currentClient', {});
            }
        },
        props: ['clientData', 'showModal'],
        mounted() {
            let self = this;

            setTimeout(function () {
                $('.company-view-modal__container').on('click', function (event) {
                    event.stopPropagation();
                    if (event.target.className.indexOf('__close-area') > 0) {
                        self.hideModal();
                    }
                });
            }, 500);
        },
        computed: {}
    }
</script>

<style lang="scss">
    $border-color: #dddddd;
    $contacts-bg: #f5f5f5;
    $overlay-bg: rgba(0, 0, 0, .6);

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $overlay-bg;
        z-index: 999;
        top: 0;
        left: 0;
    }

    .company-view-modal {
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .1);;
        width: 750px;
        height: auto;
        position: relative;
        /*top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        z-index: 10;
        margin: 0 auto;
        &__container {
            overflow: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-collapse: collapse;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
        }
        &__table {
            height: 100%;
            min-height: 100%;
            margin: 0 auto;
            width: 750px;
        }
        &__cell {
            padding: 24px;
            margin: 0;
            border: 0;
            vertical-align: middle;
            width: auto;
        }
        &__top {
            padding: 35px 60px 20px 60px;
            border-bottom: 1px solid #e1e1e1;
        }
        &__mid {
            padding: 12px 60px;
            //border-bottom: 1px solid #e1e1e1;
        }
        &__header {
            font-size: 24px;
            line-height: 30px;
            font-weight: bold;
            margin-bottom: 8px;
            color: #333333;
        }
        &__description {
            opacity: 0.5;
            color: #000000;
        }
        &__separator {
            margin: 7px 25px;
            content: '';
            display: inline-block;
            width: 1px;
            height: 13px;
            background-color: #9c9c9c;
            border-radius: 100%;
            vertical-align: -0.5rem;
        }
        &__area {
            display: inline-block;
            vertical-align: top;
            &-header {
                font-size: 13px;
                line-height: 17px;
                font-weight: bold;
            }
            &-footage {
                line-height: 27px;
                font-size: 18px;
                font-weight: bold;
                color: #ed090a;
                display: inline-block;
                & sup {
                    position: relative;
                    top: -0.5em;
                    font-size: .6em;
                }

            }
        }
        &__cost {
            display: inline-block;
            vertical-align: top;
            &-header {
                font-size: 13px;
                line-height: 17px;
                font-weight: bold;
            }
            &-price {
                line-height: 27px;
                font-size: 18px;
                font-weight: bold;
                display: inline-block;
                & span {
                    font-size: 13px;
                    line-height: 27px;
                    color: #000;
                    font-weight: normal;
                    vertical-align: top;
                    & sup {
                        position: relative;
                        top: -0.5em;
                        font-size: .6em;
                    }
                }
            }
        }
        &__subway {
            display: inline-block;
            max-width: 180px;
            vertical-align: top;
            &-header {
                font-size: 13px;
                line-height: 17px;
                font-weight: bold;
            }
            &-item {
                height: 20px;
                width: 20px;
                text-align: center;
                border-radius: 100%;
                display: inline-block;
                line-height: 20px !important;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                margin: 3px 2px;
                cursor: pointer;
                font-size: 0;
                & span {
                    font-size: 11px;
                }
            }
        }
        &__contacts {
            background-color: $contacts-bg;
            border-top: 1px solid #e1e1e1;
            &-item {
                display: inline-block;
                width: 50%;
                background-color: $contacts-bg;
                padding: 20px 0 15px 0;
                vertical-align: top;
                &:nth-child(2n-1) {
                    padding-left: 30px;
                    border-right: 1px solid $border-color;
                }
                &:nth-child(n+3) {
                    border-top: 1px solid $border-color;
                }
                &-photo {
                    float: left;
                    width: 72px;
                    height: 72px;
                    border: 3px solid #e6e7e8;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-left: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                }
                &-info {
                    padding: 0 20px;
                    float: left;
                }
                &-name {
                    font-weight: bold;
                }
                &-phone {
                    font-size: 18px;
                    line-height: 27px;
                }
                &-email {
                    color: #000;
                    text-decoration: none;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    &:hover {
                        color: #ed090a;
                        text-decoration: none;
                    }
                }
                &-description {
                    padding-top: .25rem;
                    opacity: .5;
                    font-size: .9rem;
                }
            }
        }
    }

    .box-modal_close {
        cursor: pointer;
        display: block;
        height: 18px;
        width: 18px;
        position: fixed;
        top: 40px;
        right: 40px;
        background: url(/img/design/lightbox-close.png) 0 0 no-repeat;
        z-index: 9999;
    }

    .tooltip {
        display: block !important;
        padding: 4px;
        transition: all .1s ease;
        z-index: 10000;
        .tooltip-inner {
            background: black;
            color: white;
            border-radius: 16px;
            padding: 5px 10px 4px;
        }
        .tooltip-arrow {
            display: none;
        }
        &[aria-hidden='true'] {
            visibility: hidden;
            opacity: 0;
            transition: opacity .15s, visibility .15s;
        }
        &[aria-hidden='false'] {
            visibility: visible;
            opacity: 1;
            transition: opacity .15s;
        }
    }
</style>
