<template>
    <section class="pageContent main clearfix">
        <div>
            <h3 class="pageTitle" v-html="pageTitile"></h3>
            <form method="POST" class="newClientForm ">
                <button type="submit" @click.prevent="saveClientInfo" class="btn btn-success btn-no-border btn-lg saveBtn">Сохранить</button>

                <table class="newClientParams">
                    <tbody>
                    <tr>
                        <td class="column1">
                            <h5>Общая информация</h5>

                            <div class="form-group">
                                <label for="Name">Название карточки</label>
                                <input type="text" id="Name" name="Name" class="form-control" v-model="client.Name">
                            </div>

                            <div class="form-group">
                                <label for="Comment">Комментарий</label>
                                <textarea id="Comment" name="Comment" class="form-control " data-max-height="100"
                                          style="width: 100%; height: 170px;" v-model="client.Comment"></textarea>
                            </div>

                        </td>
                        <td class="column2">
                            <h5>Параметры поиска</h5>

                            <div class="form-group dealBlock">
                                <label for="Name">Вид сделки</label>
                                <div class="dealTypeRadio">
                                    <ul>
                                        <li>
                                            <input type="radio" id="DealTypeID-radio-1" class="radio" name="DealTypeID"
                                                   value="1" data-label="Аренда" v-model="client.DealTypeID"
                                                   :data-minmax="response.blocksMinMax">
                                            <label for="DealTypeID-radio-1">Аренда</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="DealTypeID-radio-2" class="radio" name="DealTypeID"
                                                   value="2" data-label="Продажа" v-model="client.DealTypeID"
                                                   :data-minmax="response.blocksMinMax">
                                            <label for="DealTypeID-radio-2">Продажа</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <table class="rangeClientParam">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="SquareFrom">Площадь от</label>
                                            <input type="text" id="SquareFrom" name="SquareFrom"
                                                   class="form-control number" v-model="client.SquareFrom">
                                        </div>
                                    </td>
                                    <td>—</td>
                                    <td>
                                        <div class="form-group">
                                            <label for="SquareTo">до, м<sup>2</sup></label>
                                            <input type="text" id="SquareTo" name="SquareTo" class="form-control number" v-model="client.SquareTo">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <slider name="Square" :params="sliderSquareParams"></slider>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><span class="error"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="rangeClientParam costParam">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="CostFrom"><span class="costLabel" v-html="response.blocksMinMax[client['DealTranslitName'] + 'CostLabel']"></span> от</label>
                                            <input type="text" id="CostFrom" name="CostFrom" class="form-control number" v-model="client.CostFrom">
                                        </div>
                                    </td>
                                    <td>—</td>
                                    <td>
                                        <div class="form-group">
                                            <label for="CostTo">до,<span
                                                    class="costPostLabel" v-html="response.blocksMinMax[client['DealTranslitName'] + 'CostPostLabel']"></span></label>
                                            <input type="text" id="CostTo" name="CostTo" class="form-control number" v-model="client.CostTo">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <slider name="Cost" :params="sliderCostParams"></slider>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="form-group clientLocation">
                                <label for="Comment">Метро</label>
                                <button @click="showMap = true" type="button" class="btn-dashed openMetroMap" data-metromapid="metroMap"
                                        data-action="click">Выбрать
                                </button>
                                <div class="locations"></div>
                            </div>

                        </td>
                        <td class="column3">
                            <h5>Контактные лица</h5>

                            <contacts-items :contacts.sync="client.contacts"></contacts-items>



                            <!--<div class="contacts">




                                <div class="contactsItems">
                                    <div id="contactsTabs" class="tab-base" data-hash="true">
                                        <ul class="nav nav-tabs">
                                            <li class="active " style="max-width: calc(88% + 1px);"><a class=""
                                                                                                       data-toggle="tab"
                                                                                                       href="#new_person_1"><span>Контакт 1</span></a>
                                            </li>
                                            <li class=" plusContactTab"><a href="#"
                                                                           onclick="addPerson($(this).closest('.contactsItems'), $(this)); return false;">+</a>
                                            </li>
                                        </ul>
                                        <div v-if='client.contacts' class="tab-content" v-for="(person, index) in client.contacts.persons">
                                            <div id="new_person_1" class="tab-pane fade active in">
                                                <table class="contactsPerson" data-person="new_person_1"
                                                       data-phonecount="2"
                                                       data-emailcount="2">
                                                    <tbody>
                                                    <tr class="personName">
                                                        <td>
                                                            <div class="form-group">
                                                                <label for="contacts[new_person_1][Name]">Контактное лицо</label>
                                                                <input type="text" class="form-control"
                                                                       name="contacts[new_person_1][Name]"
                                                                       v-model="person.name">
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="contactsInfo">
                                                                <div class="col-lg-12">
                                                                    <div class="col-sm-4 personContacts"
                                                                         data-max-count="3">
                                                                        <table>
                                                                            <tbody>
                                                                            <tr class="contactItem phone_contactItem">
                                                                                <td>
                                                                                    <div class="form-group">
                                                                                        <label>Телефон</label>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="contactItem phone_contactItem"
                                                                                v-for="(phone, phoneIndex) in person.phones">
                                                                                <td>
                                                                                    <div class="form-group">
                                                                                        <div class="buttonedInput">
                                                                                            <input type="text"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_phone_1][phone]"
                                                                                                   class="form-control"
                                                                                                   value=""
                                                                                                   v-model="person.phones[phoneIndex]"
                                                                                                   v-mask="'(###) ###-####'">
                                                                                            <span class="inputButton fa fa-close"
                                                                                                  onclick="clearContactItem($(this))"></span>
                                                                                        </div>

                                                                                    </div>
                                                                                </td>
                                                                                <td class="contactsBtns">
                                                                                    <div style=""
                                                                                         class="btn text-danger fa fa-close"
                                                                                         onclick="deleteContact($(this), 'phone')"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="contactsBtns" colspan="2">
                                                                                <span class="dashedGreenLink"
                                                                                      v-if="person.phones.length < 3"
                                                                                      @click="addPhone(index)">Добавить</span>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="col-sm-8 personContacts"
                                                                         data-max-count="3">
                                                                        <table>
                                                                            <tbody>
                                                                            <tr class="contactItem email_contactItem">
                                                                                <td>
                                                                                    <div class="form-group">
                                                                                        <label>E-mail</label>
                                                                                        <div class="buttonedInput">
                                                                                            <input type="text"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_email_1][email]"
                                                                                                   value=""
                                                                                                   class="form-control">
                                                                                            <input type="hidden"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_email_1][TypeID]"
                                                                                                   value="2">
                                                                                            <input type="hidden"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_email_1][SubTypeID][2]"
                                                                                                   value="4">
                                                                                            <span class="inputButton fa fa-close"
                                                                                                  onclick="clearContactItem($(this))"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="contactsBtns">
                                                                                    <div style=""
                                                                                         class="btn text-danger fa fa-close"
                                                                                         onclick="deleteContact($(this), 'email')"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="contactsBtns" colspan="2">
                                                                                <span class="dashedGreenLink"
                                                                                      onclick="addContact($(this).closest('tbody'), 'email')">Добавить</span>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="">
                                                                <div class="form-group">
                                                                    <label for="contacts[new_person_1][About]">Информация</label>
                                                                    <textarea type="text" class="form-control "
                                                                              data-max-height="100"
                                                                              style="height: 80px;"
                                                                              name="contacts[new_person_1][About]"></textarea>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="dashedRedLink">
                                                                Удалить контактное лицо
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="height100"></div>
                <input type="hidden" name="step" value="1">


                <modal-container v-show="showMap" :show-modal.sync="showMap" mode="show">
                    <div slot="content">
                        <metro-map id="metroMap" :params="mapParams" :data="$store.getters.global.metroMapData"></metro-map>
                    </div>
                </modal-container>


            </form>
        </div>



    </section>
</template>

<script>
    import slider from '../common/slider.vue';

    import contactsItems from '../common/contactsItems.vue';
    import MetroMap from "../search/metroMap.vue";
    import modalContainer from '../modal/modalContainerView.vue';
    import _ from 'lodash';
    export default {
        name: 'clientAdd',
        data() {
            return {
                showMap: false,
                response: [],
                msg: 'Client add view',
                contactsNum: 1,
                client: {
                    cardName: '',
                    cardComment: '',
                    searchParams: {
                        type: 'Аренда', //Продажа
                        areaFrom: '',
                        areaTo: '',
                        costFrom: '',
                        costTo: '',
                        subways: ''
                    },

                    contacts: {
                        personsCount: 0,
                        persons: [
                            {
                                num: 1,
                                name: '',
                                phones: [''],
                                emails: [''],
                                info: ''
                            }
                        ]
                    }
                }
            }
        },
        components: {
            MetroMap, modalContainer, slider, contactsItems
        },
        methods: {
            addPhone(index) {
                if (this.client.contacts.persons[index].phones.length < 3) {
                    console.log('BEFORE:', this.client.contacts.persons[index].phones);
                    this.client.contacts.persons[index].phones.push('');
                }
                console.log('AFTER:', this.client.contacts.persons[index].phones);
            },
            saveClientInfo(){

                let requestData = this.$root.clone(this.client);
                requestData.step = 1;

                for(var personID in this.response.defaultValues.contacts)
                {
                    let person = this.response.defaultValues.contacts[personID];
                    requestData.contacts[personID] = {
                        Name: person.Name,
                        About: person.About,
                        Contact: {}
                    };
                    let contatactIndex = {phone: 0, email: 0}

                    for(var contactID in person.Contact)
                    {
                        let contact = person.Contact[contactID];

                        if($.inArray(parseInt(contact.TypeID), [1, 2]) == -1)
                        {
                            break;
                        }

                        let typeName = (contact.TypeID == 1 ? 'phone' : 'email')

                        let correctContact = {
                            TypeID: contact.TypeID,
                            SubTypeID: {}
                        };
                        correctContact[typeName] = contact.Contact;
                        correctContact['SubTypeID'][(contact.TypeID == 1 ? 1 : 2)] = contact.TypeID == 1 ? 2 : 4
                        if(!contact.ContactID)
                        {
                            contatactIndex[typeName]++;
                            contact.ContactID = "new_contact_" + typeName + "_" + contatactIndex[typeName];
                        }

                        requestData.contacts[personID]['Contact'][contact.ContactID] = correctContact;
                    }
                }

                apiAjax('clients/edit', requestData,
                    function (data) {

                }, {async: true});
            }
        },
        created(){
            let self = this;
            if(this.$route.params.act === 'edit')
            {
                if(this.$route.params.ClientID === undefined){
                    this.$router.push({path: '/clients'});
                }
                apiAjax('clients/edit', {
                    'ClientID': this.$route.params.ClientID
                }, function (response) {
                    console.log('RESPONSE', response);
                    self.client = response.defaultValues;
                    self.response = response;
                }, {async: false});
            }else{
                apiAjax('clients/edit', {
                }, function (response) {
                    console.log('RESPONSE', response);
                    self.client = response.defaultValues;
                    self.response = response;
                    if(!_.isSet(self.client.contacts.new_person_1))
                        self.client.contacts.new_person_1.Name = 'Контакт';
                        self.client.contacts.new_person_1.Contact = [
                            {Contact:"",ContactID:"",ContactMore:"",Editable:"1",SubTypeID:null,TypeID:"1"},
                            {Contact:"",ContactID:"",ContactMore:"",Editable:"1",SubTypeID:null,TypeID:"2"}
                            ];
                }, {async: false});
            }
        },
        computed:{
            sliderCostParams: function(){
                return {
                    'ID': 'CostClientSlider',
                    'SliderOnly': true,
                    'PostLabel': this.response.blocksMinMax[this.client['DealTranslitName'] + 'CostPostLabel'],
                    'Min': this.response.blocksMinMax["Min" + this.client['DealTranslitName'] + "Cost"],
                    'Max': this.response.blocksMinMax["Max" + this.client['DealTranslitName'] + "Cost"],
                    'From': this.client.CostFrom,
                    'To': this.client.CostTo,
                    'k' : 20000
                };
            },
            sliderSquareParams: function(){
                return {
                    'ID': 'SquareClientSlider',
                    'SliderOnly': true,
                    'PostLabel': ' м<sup>2</sup>',

                    'Min': this.response.blocksMinMax["Min" + this.client['DealTranslitName'] + "Square"],
                    'Max': this.response.blocksMinMax["Max" + this.client['DealTranslitName'] + "Square"],
                    'From': this.client.SquareFrom,
                    'To': this.client.SquareTo
                };
            },
            pageTitile: function(){
                if(this.$route.params.ClientID)
                {
                    return "Редактирование карточки клиента «" + this.client['Name'] + "»";
                }
                else
                    return 'Новая карточка клиента';
            },
            mapParams: function () {
                let self = this;
                return {
                    'ChooseFunc': 'setClientsMetroStations',
                    'SelectedStations': [],
                    'chooseClick': function () {
                        self.showMap = false;
                    }
                };
            }
        },
        mounted() {
            setTimeout(function () {
                initAddClient();
                console.log('init add client');
                $('.newClientParams .dealTypeRadio input[type=radio][name=DealTypeID]').trigger("change");
            }, 200);
            setFooterPosition();
        }
    }
</script>

<style lang="scss">

</style>
