<template>
    <div>
        <h1>{{count}}</h1>
        <B>filtered</B>
        <ul>
            <li v-for="item in results">{{item}}</li>
        </ul>
        <b>All:</b>
        <ul>
            <li v-for="item in resultsAll">{{item}}</li>
        </ul>
        <input type="text" v-model="result"> <button @click="pushResult">add</button>
    </div>
</template>
<script>
    export default {
        name: 'test-vuex',
        data() {
            return {
                result: ''
            }
        },
        computed:{
            results(){
                return this.$store.getters.getterResults;
            },
            resultsAll(){
                return this.$store.getters.getterResultsAll;
            },
            count(){
                return this.$store.state.count;
            }
        },
        methods: {
            pushResult(){
                this.$store.dispatch('actionResults', this.result);
                this.$store.state.count = 999;
            }
        }
    }
</script>

<style lang="scss">

</style>