<template>
    <section class="pageContent main clearfix">
        <h3 class="pageTitle">Поддержка</h3>
        <div class="mainPadding support row">
            <form method="post" id="supportRequestForm" class="col-xs-6 notModal form-horizontal">
                <input type="hidden" name="BlockID" value="0">
                <div class="form-group">
                    <label class="col-xs-3 control-label">Тема обращения</label>
                    <div class="col-xs-9">
                        <!-- select -->
                        <select name="QuestionID" style="width: 100%;" v-model="user.questionId">
                            <!--<option selected disabled value="0">Выберите один из пунктов</option>-->
                            <option selected value="1">Технический вопрос по работе сайта</option>
                            <option value="2">Некорректная информация об объекте</option>
                            <option value="3">Неверная контактная информация</option>
                            <option value="4">Другое</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">ФИО</label>
                    <div class="col-xs-9">
                        <input name='Fio' v-model="user.fio">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">E-mail</label>
                    <div class="col-xs-9">
                        <input name='Email' v-model="user.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Ваш вопрос</label>
                    <div class="col-xs-9">
                        <textarea name="Request" v-model="user.request" style="height: 200px;"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button type="submit" class="btn btn-success btn-lg sendSupportRequest">Отправить</button>
                    </div>
                </div>
            </form>
            <div class="col-xs-6">
                <div class="supportInfo">
                    <h4>Добавление объектов и предложений</h4>
                    <div>
                        Если вы хотите, чтобы на PropertyHunter появилось новое здание или предложение, которого ещё нет в каталоге,
                        Вы можете обратиться в отдел мониторинга и качества информации по электронной почте: <a
                            href="mailto:objects@ph.ru">objects@ph.ru</a>
                    </div>
                </div>
                <div class="supportInfo">
                    <h4>Вопросы сотрудничества</h4>
                    <div>
                        По любым вопросам, связанным с организацией сотрудничества с PropertyHunter и участием в различных мероприятиях,
                        Вы можете обратиться по электронной почте: <a href="mailto:co@ph.ru">co@ph.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'Support',
        data() {
            return {}
        },
        computed: {
            userVuex() {
                return this.$store.getters.getterAuth;
            },
            profileFullName() {
                return this.$store.getters.profileFullName;
            },
            user() {
                return {
                    email: this.userVuex.login,
                    questionId: "1",
                    fio: this.profileFullName,
                    request: ''
                }
            }
        },
        methods: {

        },
        mounted() {
            setMeta({'title' : 'Поддержка пользователей'});
            setFooterPosition();
            initSendSupportRequest();
        }
    }
</script>

<style lang="scss">

</style>