<template>
    <section class="pageContent main clearfix">
        <h3 class="pageTitle">Пользовательское соглашение</h3>

        <div class="agreementBlock">
            <div>
                Дата опубликования текущей версии: 1 июля 2017 г.
            </div>

            <div>
                Настоящее Пользовательское соглашение (далее – Соглашение) в
                соответствии с положениями ст. 435 ГК РФ является публичной офертой
                <strong>Общества с ограниченной ответственностью «Пропертихантер»</strong>
                (далее – Администратор), и адресовано любому дееспособному лицу (далее
                – Посетитель) на изложенных в Соглашении условиях.
            </div>
            <div>
                Безусловным принятием (акцептом) условий Соглашения считается
                совершение Посетителем любых действий, направленных на какое-либо
                использование интернет-сайта <a href="/">https://ph.ru</a>.
            </div>

            <h3>Термины и определения</h3>

            <div>
                Сайт – принадлежащий Администратору интернет-сайт, расположенный по
                адресу <a href="/">https://ph.ru</a>.
            </div>
            <div>
                Пользователь – Посетитель, зарегистрированный в установленном порядке
                на Сайте.
            </div>
            <div>
                Агент – Пользователь, выступающий как агент по коммерческой
                недвижимости.
            </div>
            <div>
                Собственник – Пользователь, выступающий как собственник коммерческой
                недвижимости.
            </div>
            <div>
                Аккаунт – уникальная учетная запись для доступа Пользователя к Профилю.
            </div>
            <div>
                Профиль – персональный раздел Пользователя на Сайте, с помощью которого
                он размещает/редактирует информацию.
            </div>
            <div>
                Контент – информация, размещенная на Сайте, в том числе элементы
                дизайна, текст, графические изображения, иллюстрации, фото и пр.,
                которые принадлежат Администратору, Пользователям, третьим лицам.
            </div>
            <div>
                Объект – один из представленных на Сайте объектов коммерческой
                недвижимости.
            </div>
            <div>
                Объявление – информационное сообщение с предложением об Объекте.
            </div>
            <div>
                Презентация – презентация по объектам недвижимости. Формируется
                автоматически средствами Сайта исходя из указанной Пользователем
                информации.
            </div>


            <h3>1. Предмет</h3>
            <div>
                1.1. Администратор безвозмездно предоставляет Посетителю
                неисключительную лицензию на использование Сайта.
            </div>
            <div>
                1.2. Посетитель использует Сайт согласно условиям Соглашения.
            </div>
            <div>
                1.3. Администратор оказывает платные услуги, связанные с Сайтом, на
                основании отдельного договора.
            </div>
            <h3>2. Общие положения. Регистрация</h3>
            <div>
                2.1. Посетителю доступна демо-версия Сайта. Посетитель вправе
                использовать Сайт без прохождения процедуры регистрации.
            </div>
            <div>
                2.2. Посетитель вправе использовать полный функционал Сайта с момента
                прохождения процедуры регистрации в качестве Пользователя.
            </div>


            <div>
                2.3. Посетитель проходит регистрацию в следующем порядке:
            </div>
            <div>
                2.3.1. Посетитель выбирает, в качестве кого он регистрируется на Сайте
                – Агента или Собственника.
            </div>
            <div>
                2.3.2. Посетитель вводит адрес электронной почты.
            </div>
            <div>
                2.3.3. Администратор направляет на указанный адрес электронной почты
                сообщение с инструкцией и гиперссылкой для перехода на Сайт.
            </div>
            <div>
                2.3.4. Посетитель переходит по гиперссылке и вводит в форме следующую
                информацию:
            </div>


            <ul type="circle">
                <li>имя;</li>
                <li>пароль;</li>
                <li>номер мобильного телефона. На номер телефона отправляется код
                    подтверждения, который также необходимо указать в форме.
                </li>
            </ul>


            <div>
                2.4. С момента положительного прохождения вышеуказанной процедуры,
                Посетитель считается зарегистрированным в качестве Пользователя и
                получает доступ к Аккаунту.
            </div>
            <div>
                2.5. Пользователь гарантирует, что все введенные данные являются
                достоверными и не нарушают законодательство РФ.
            </div>
            <div>
                2.6. Последующий доступ к Аккаунту осуществляется с помощью указанного
                при регистрации логина (адреса электронной почты) и пароля.
            </div>
            <div>
                2.7. Создавая Аккаунт на Сайте, Пользователь понимает и принимает на
                себя все риски, связанные с этим, в том числе включая, но не
                ограничиваясь: риск попадания адреса электронной почты в списки для
                рассылки спам-сообщений и/или к различного рода мошенникам, риск
                попадания телефонного номера к SMS-спамерам и/или SMS-мошенникам и иные
                риски, вытекающие из такого размещения информации.
            </div>


            <div>
                2.8. Все действия, совершаемые Пользователем на Сайте, считаются
                совершенными Пользователем лично.
            </div>
            <div>
                2.9. Пользователь самостоятельно несет ответственность за:
            </div>


            <ul type="circle">
                <li>сохранность своего логина и пароля;</li>
                <li>последствия в случае утери и/или разглашения логина и пароля третьим
                    лицам.
                </li>
            </ul>


            <div>
                2.10. Администратор не рекомендует Пользователю передавать третьим
                лицам данные своего Аккаунта. В случае такой передачи, Пользователь
                должен ознакомить третьих лиц с Соглашением и несет всю ответственность
                за их действия.
            </div>
            <div>
                2.11. Пользователь должен незамедлительно уведомить Администратора в
                случае утраты доступа к Аккаунту.
            </div>

            <h3>3. Условия использования</h3>
            <div>
                <em>Общие условия</em>
            </div>
            <div>
                3.1. Пользователь вправе использовать Сайт в соответствии с Соглашением
                и действующим законодательством Российской Федерации.
            </div>
            <div>
                3.2. Сайт предоставляются на условиях «как есть».
            </div>
            <div>
                3.3. Пользователь принимает на себя все риски, связанные с
                использованием Сайта.
            </div>
            <div>
                3.4. Администратор не дает Пользователю никаких явно выраженных или
                предполагаемых гарантий в отношении Сайта и/или Контента. Администратор
                не гарантирует (включая, но не ограничиваясь): пригодность для
                конкретных целей (в том числе коммерческих), безопасность и
                защищенность, точность, полноту, производительность, системную
                интеграцию, бесперебойное функционирование, отсутствие ошибок,
                исправление неполадок, отсутствие вирусов, законность использования на
                любых территориях за пределами Российской Федерации.
            </div>
            <div>
                3.5. Администратор обязан направлять на указанный Пользователем адрес
                электронной почты сообщения, уведомления, запросы, сведения
                информационного характера, связанные с Сайтом.
            </div>
            <div>
                3.6. Пользователь вправе с помощью Сайта искать клиентов для сдачи в
                аренду и/или продажи Объектов.
            </div>


            <div>
                <em>Агент</em>
            </div>
            <div>
                3.7. Агент не вправе запрашивать контактную информацию о собственнике
                Объектов более чем 50 раз в день.
            </div>
            <div>
                3.8. Агент не вправе генерировать более чем 50 презентаций об Объектах
                в день.
            </div>
            <div>
                <em>Собственник</em>
            </div>
            <div>
                3.9. Собственник обязан корректно заполнять все поля Объявления,
                указанные на сайте.
            </div>
            <div>
                3.10. Информация об Объекте на Сайте не является офертой, то есть
                адресованным одному или нескольким конкретным лицам предложением
                заключить договор. Собственник Объекта вправе в любое время изменить
                любую информацию, касающуюся размещенного на Сайте Объекта.
            </div>
            <div>
                <em>Презентации</em>
            </div>


            <div>
                3.11. Пользователь вправе сформировать Презентацию из выбранных
                Объектов и своей контактной информации.
            </div>
            <div>
                3.12. Презентация используется в качестве предложения для клиента
                Пользователя. Пользователь принимает на себя все риски, связанные с
                отправкой Презентации на электронный адрес клиента. К таким рискам, в
                том числе, но не ограничиваясь, относятся претензии клиента о спаме.
            </div>
            <div>
                3.13. Шаблоны Презентаций принадлежат Администратору. Любое
                использование Презентаций способами, кроме разрешенных в Соглашении,
                запрещено.
            </div>
            <div>
                3.14. Независимо от права Администратора, Пользователь сохраняет
                исключительные права на самостоятельно включенный в Презентацию
                Контент.
            </div>

            <h3>4. Интеллектуальная собственность</h3>
            <div>
                4.1. Администратор является правообладателем Сайта и его составных
                частей (программный код, дизайн, верстка, базы данных).
            </div>
            <div>
                4.2. Неисключительная лицензия на Сайт ограничена «правом на
                использование», и ни одно из положений Соглашения не означает передачи
                Пользователю исключительного права на Сайт и его составные части.
            </div>
            <div>
                4.3. Неисключительная лицензия предоставляется на срок действия
                Соглашения на территорию всего мира.
            </div>
            <div>
                4.4. Пользователь гарантирует, что является правообладателем
                размещаемого им Контента или имеет право на использование такого
                Контента.
            </div>
            <div>
                4.5. Пользователь предоставляет Администратору право использования
                Контента в любой форме и любым способом в рамках Сайта. Право
                использования предоставляется на условиях простой (неисключительной)
                лицензии и без выплаты авторского вознаграждения на весь срок действия
                авторского права и на территории стран всего мира. Прекращение действия
                Соглашения между Сторонами не отменяет настоящее положение.
            </div>
            <div>
                4.6. Пользователь, размещая на Сайте принадлежащий ему на законных
                основаниях Контент, предоставляет другим Пользователям неисключительную
                лицензию на его использование путем просмотра, воспроизведения (в том
                числе копирования и использования в Презентациях), переработку (в том
                числе на распечатку копий), а также иные права с целью личного
                некоммерческого использования.
            </div>
            <div>
                4.7. Весь Контент, включая информацию об Объекте, предназначен лишь для
                ознакомительных целей. Администратор не гарантирует его актуальность и
                достоверность.
            </div>
            <div>
                4.8. Любое использование Сайта или Контента, кроме разрешенного в
                Соглашении или в случае явно выраженного согласия правообладателя на
                такое использование, запрещено без предварительного письменного
                разрешения правообладателя.
            </div>


            <h3>5. Запрещенные действия</h3>
            <div>
                Пользователь не вправе:
            </div>
            <div>
                5.1. Использовать Сайт способами, прямо не предусмотренными
                Соглашением.
            </div>
            <div>
                5.2. Любым способом, в том числе, но не ограничиваясь, путем обмана,
                злоупотребления доверием или взлома, пытаться получить доступ к
                Аккаунту/личной информации/паролю другого Пользователя.
            </div>
            <div>
                5.3. Предпринимать любые действия, в том числе технического характера,
                направленные на нарушение нормального функционирования Сайта.
            </div>
            <div>
                5.4. Использовать любые технические средства для сбора и обработки
                информации на Сайте, включая персональные данные других Пользователей.
            </div>
            <div>
                5.5. Предпринимать попытки обойти установленные технические
                ограничения.
            </div>
            <div>
                5.6. Копировать, вносить изменения, подготавливать производные
                материалы, декомпилировать, анализировать с помощью дизассемблера или
                пытаться вскрыть исходный код, каким-либо иным способом изменять Сайт.
            </div>
            <div>
                5.7. Вводить других Пользователей или Администратора в заблуждение.
            </div>
            <div>
                5.8. Выдавать себя за другое лицо, его представителя, без достаточных
                на то прав, в том числе за Администратора или его сотрудников, а также
                применять любые другие формы и способы незаконного представительства
                других лиц.
            </div>
            <div>
                5.9. Уничтожать и/или изменять любые материалы на Сайте, автором
                которых Пользователь не является.
            </div>
            <div>
                5.10. Использовать информацию о телефонах, почтовых адресах, адресах
                электронной почты для целей иных, нежели тематика Сайта (для поиска
                вакансий, предложений продажи товаров, оказания услуг или выполнения
                работ и тому подобное).
            </div>
            <div>
                5.11. Регистрировать несколько аккаунтов на один адрес электронной
                почты и/или более одного раза использовать при регистрации один номер
                телефона.
            </div>
            <div>
                5.12. Регистрироваться, используя чужой адрес электронной почты или
                номер телефона.
            </div>


            <div>
                5.13. Использовать товарные знаки Администратора.
            </div>
            <div>
                5.14. Использовать Сайт для:
            </div>


            <ul type="circle">
                <li>размещения ссылок на ресурсы, содержание которых противоречит
                    действующему законодательству РФ и нормам международного права;
                </li>
                <li>распространения не соответствующих действительности сведений
                    относительно своей причастности к Администратору и /или его партнерам.
                </li>
                <li>содействия любым мероприятиям, направленным на нарушение ограничений
                    и запретов, налагаемых Соглашением.
                </li>
            </ul>


            <div>
                5.15. Использовать Сайт для публикации, распространения, хранения,
                передачи в любой форме Контента, который:
            </div>


            <ul type="circle">
                <li>нарушает законодательство РФ и международное законодательство;</li>
                <li>является угрожающим, оскорбительным, клеветническим, заведомо ложным,
                    грубым, непристойным, вредит другим посетителям Сайта, нарушает их
                    права и законные интересы;
                </li>
                <li>нарушает права несовершеннолетних лиц;</li>
                <li>нарушает права третьих лиц на результаты интеллектуальной
                    деятельности и приравненные к ним средства индивидуализации, права на
                    информацию, составляющую коммерческую тайну, наносит вред чести,
                    деловой репутации и достоинству третьих лиц;
                </li>
                <li>содержит не разрешенную к разглашению информацию;</li>
                <li>содержит вредоносное программное обеспечение (вирусы, черви, трояны
                    или другие компьютерные коды, файлы или программы), предназначенное для
                    нарушения, уничтожения, либо ограничения функциональности любого
                    компьютерного или телекоммуникационного оборудования (их частей), для
                    осуществления несанкционированного доступа к коммерческим программным
                    продуктам путем предоставления серийных номеров, логинов, паролей, либо
                    программ для их генерации и прочих средств, для получения
                    несанкционированного доступа к платным ресурсам, а также размещения
                    ссылок на вышеуказанную информацию;
                </li>
                <li>представляет собой спам, т.е. сообщения коммерческого и
                    некоммерческого характера в форме (включая, но не ограничиваясь):
                    рекламы товаров, оборот которых запрещен или ограничен согласно
                    законодательству РФ; сообщений социального и/или
                    религиозно-мистического содержания с призывом о дальнейшем
                    распространении таких сообщений («писем счастья»); списков чужих
                    адресов электронной почты; схем «пирамид», многоуровневого (сетевого)
                    маркетинга (MLM); реферальных ссылок; систем Интернет-заработка и
                    онлайн-бизнесов;
                </li>
                <li>может использоваться для незаконного сбора, хранения и обработки
                    персональных данных других лиц.
                </li>
            </ul>


            <h3>6. Блокировка и удаление</h3>
            <div>
                6.1. Администратор вправе незамедлительно осуществить блокировку
                Аккаунта Пользователя в случае:
            </div>


            <ul type="circle">
                <li>выявления нарушения Пользователем положений Соглашения;</li>
                <li>выявления нарушения Пользователем положений действующего
                    законодательства РФ и международного законодательства;
                </li>
                <li>получения от третьих лиц претензий о нарушении Пользователем их прав;</li>
                <li>получения соответствующих требований от государственных органов.</li>
            </ul>


            <div>
                6.2. Блокировка означает ограничение Пользователя в доступе к Аккаунту
                и содержанию Сайта.
            </div>
            <div>
                6.3. Пользователь обязуется самостоятельно предпринять все действия для
                прекращения нарушения.
            </div>
            <div>
                6.4. В случае блокировки в связи с получением от третьих лиц претензий
                о нарушении Пользователем их прав, Пользователь вправе в дальнейшем
                использовать аккаунт только при соблюдении одного из следующих условий:
            </div>


            <ul type="circle">
                <li>полное удаление информации и (или) материалов, вызвавших претензии
                    третьих лиц;
                </li>
                <li>получение Администратором от таких третьих лиц подтверждения
                    отсутствия претензий к Пользователю.
                </li>
            </ul>


            <div>
                6.5. В случае отказа прекратить нарушение или неоднократных блокировок
                Аккаунта, Администратор вправе в одностороннем порядке удалить Аккаунт
                со всем Контентом и данными. Администратор вправе удалять все новые
                Аккаунты такого Пользователя.
            </div>


            <h3>7. Обращения Пользователя</h3>
            <div>
                7.1. Администратор вправе оказывать консультационную и техническую
                поддержку Пользователю по адресу <a href="/support/">https://ph.rusupport/</a>, в том
                числе и при нарушении прав Пользователя.
            </div>


            <div>
                7.2. Пользователь должен указать свою контактную информацию и текст
                обращения. К обращению могут быть приложены документы.
            </div>
            <div>
                7.3. Процедура рассмотрения обращений:
            </div>
            <div>
                7.3.1. В течение 5 (пяти) рабочих дней с момента поступления обращения,
                Администратор осуществляет проверку на предмет полноты указанных в нем
                сведений и достаточности подтверждающих документов.
            </div>
            <div>
                7.3.2. В случае достаточности предоставленных сведений и документов,
                Администратор в течение 5 (пяти) рабочих дней с момента окончания
                проверки направляет мотивированное решение Пользователю, на указанный
                им контактный адрес.
            </div>
            <div>
                7.3.3. Администратор, в случае недостаточности предоставленных
                Пользователем сведений и/или документов, запрашивает дополнительные,
                которые последний должен предоставить в течение 5 (пяти) рабочих дней с
                даты отправки Администратором запроса на контактный адрес Пользователя.
            </div>
            <div>
                7.3.4. В случае непредоставления Пользователем дополнительных сведений
                и/или документов обращение Пользователя считается отозванным.
            </div>
            <div>
                7.4. При отказе Администратора удалить Контент на основании обращения
                Пользователя, Контент подлежит удалению на основании решения суда. <strong></strong>
            </div>

            <h3>8. Права Администратора</h3>
            <div>
                <em>Администратор вправе: </em>
            </div>
            <div>
                8.1. Изменять, дорабатывать и обновлять Сайт без согласия и уведомления
                Пользователя.
            </div>
            <div>
                8.2. Отказать Пользователю в размещении и/или распространении им
                Контента. В любой момент приостановить, прекратить демонстрацию
                Контента без предварительного согласования и уведомления Пользователя
            </div>
            <div>
                8.3. Устанавливать любые ограничения на использование Сайта.
            </div>
            <div>
                8.4. В любое время отказать Пользователю в регистрации.
            </div>
            <div>
                8.5. Удалять Аккаунт Пользователя, который к моменту удаления в течение
                шести и более календарных месяцев не используется Пользователем.
            </div>
            <div>
                8.6. Проводить сбор любых сведений на сайте с целью формирования
                статистики использования Сайта.
            </div>
            <div>
                8.7. Получать доступ к Аккаунту Пользователя для мониторинга работы
                Сайта.
            </div>
            <div>
                8.8. Проводить профилактические работы, влекущие приостановление работы
                Сайта.
            </div>
            <div>
                8.9. Возвращать Пользователю доступ к Аккаунту в случае его взлома,
                утери или смены логина/пароля при одновременном соблюдении следующих
                условий:
            </div>


            <ul type="circle">
                <li>подтверждения использованного при регистрации номера телефона;</li>
                <li>подтверждения адреса электронной почты.</li>
            </ul>


            <h3>9. Персональные данные</h3>
            <div>
                9.1. Платформа выполняет обработку персональных данных Пользователя в
                целях исполнения Соглашения и согласно требованиям, установленным
                Федеральным законом «О персональных данных» от 27.07.2006 N 152-ФЗ.
            </div>
            <div>
                9.2. Порядок обработки и защита персональных данных определяется
                Политикой в области обработки и защиты персональных данных,
                расположенной по адресу <a href="/privacy">https://ph.ru/privacy/</a>.
            </div>
            <div>
                9.3. В случае осуществления Пользователем обработки персональных данных
                третьих лиц, Пользователь самостоятельно несет ответственность за
                соблюдение надлежащих мер по защите персональных данных согласно
                требованиям 152-ФЗ и иных законов и подзаконных актов, в том числе в
                части получения соответствующих разрешений, размещения на Сайте
                необходимых документов и информации.
            </div>


            <h3>10. Ответственность</h3>
            <div>
                10.1. Администратор не несет ответственности за:
            </div>


            <ul type="circle">
                <li>убытки Пользователя;</li>
                <li>невозможность использования Сайта по причинам, не зависящим от
                    Администратора;
                </li>
                <li>любые действия и/или бездействия поставщиков услуг, сервисов, сетей,
                    программного обеспечения или оборудования;
                </li>
                <li>искажение, изменение, утрату Контента;</li>
                <li>безопасность логина и/или пароля Пользователя;</li>
                <li>несанкционированное и/или неправомерное использования третьими лицами
                    логина и/или пароля Пользователя;
                </li>
                <li>ущерб, который может быть нанесен любым устройствам и носителям
                    информации и/или программному обеспечению Пользователя в результате
                    использования Сайта.
                </li>
            </ul>


            <div>
                10.2. Ответственность Администратора по Соглашению не может превышать
                10 (Десять тысяч) рублей.
            </div>
            <div>
                10.3. В случае предъявления Администратору претензий, требований и/или
                исков о нарушении прав третьих лиц, связанных с нарушением данных
                Пользователем гарантий, Пользователь принимает на себя обязательства по
                их урегулированию и возмещению ущерба Администратору в случае его
                возникновения.
            </div>


            <div>
                10.4. Администратор не участвует в разрешении конфликтов, возникающих
                между Пользователями, а также между Пользователем и третьими лицами,
                включая правообладателей.
            </div>


            <h3>11. Срок Соглашения</h3>
            <div>
                11.1. Соглашение действует с момент акцепта до момента удаления
                Аккаунта Пользователя.
            </div>
            <div>
                11.2. Аккаунт может быть удален:
            </div>


            <ul type="circle">
                <li>по заявке Пользователя по адресу <a href="/support/">https://ph.ru/support/</a>;</li>
                <li>по основаниям, предусмотренным разделом 6.</li>
            </ul>


            <h3>12. Разрешение споров и разногласий</h3>
            <div>
                12.1. Все споры или разногласия, возникающие между Сторонами в связи с
                исполнением Соглашения, разрешаются ими путем переговоров.
            </div>
            <div>
                12.2. При недостижении Сторонами соглашения, споры и разногласия
                подлежат разрешению в претензионном порядке. Срок ответа на претензию —
                30 дней.
            </div>
            <div>
                12.3. При невозможности прийти к соглашению спор может быть передан на
                разрешение суда по месту нахождения Администратора.
            </div>
            <div>
                12.4. Применимым правом является право Российской Федерации.
            </div>
            <h3>13. Заключительные положения</h3>
            <div>
                13.1. Администратор вправе изменить или дополнить Соглашение без
                уведомления Пользователя в любое время. Вступление новой редакции
                Соглашения в силу происходит с момента ее размещения на Сайте.
            </div>
            <div>
                13.2. Продолжая использовать Сайт после внесения изменений и/или
                дополнений в Соглашение, Пользователь принимает и соглашается с такими
                изменениями и/или дополнениями.
            </div>
            <div>
                13.3. Соглашение регулируется и толкуется в соответствии с
                законодательством Российской Федерации. Вопросы, не урегулированные
                Соглашением, подлежат разрешению в соответствии с законодательством РФ.
            </div>
            <div>
                13.4. В случае, если какое-либо из положений Соглашения окажется
                ничтожным в соответствии с законодательством Российской Федерации,
                остальные положения останутся в силе, а Соглашение будет исполняться
                Сторонами в полном объеме без учета такого положения.
            </div>
            <h3>Реквизиты:</h3>
            <div>
                ООО «Пропертихантер»
            </div>
            <div>
                Юридический адрес: 109153, г. Москва, Лермонтовский проспект, д. 12,
                пом. II, ком. 5
            </div>


            <div>
                ИНН 7702792695
            </div>
            <div>
                КПП 772101001
            </div>
            <div>
                ОГРН 1127746498406
            </div>

        </div>
    </section>
</template>

<script>
    export default {
        name: 'privacy',
        data() {
            return {}
        },
        created() {
            window.scrollTo(0, 0);
        }
    }
</script>

<style>

</style>
