<template>
    <div>
        <router-view name="header"></router-view>
        <router-view name="main"></router-view>
        <router-view class="" name="footer"></router-view>
    </div>
</template>

<script>
    import $ from 'jquery';
    export default {
        name: 'app',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        },
        created: function () {
            let self = this;

        }
    }
</script>

<style>

</style>
