<template>
    <footer class="clearfix hide_box_2">
        <div class="main">
            <div class="footer_wr clearfix">
                <div class="footer_box width70 font12">
                    <p>© 2017 Propertyhunter™<br>
                        <router-link to="/agreement" class="underline">пользовательское соглашение</router-link>
                        <br>
                        <router-link to="/privacy" class="underline">политика конфиденциальности</router-link>
                        <!--<a href="/agreement/" class="underline">пользовательское соглашение</a><br>
                        <a href="/privacy/" class="underline">политика конфиденциальности</a>-->
                    </p>
                </div>
                <div class="footer_box width15">
                    <ul>
                        <!--<li><a href="/clients/" class="">список клиентов</a></li>
                        <li><a href="/search/">подбор помещений</a></li>
                        <li><a href="/catalog/" class="">каталог объектов</a></li>-->
                        <li>
                            <router-link to="/clients" class="">список клиентов</router-link>
                        </li>
                        <li>
                            <router-link to="/search" class="">подбор помещений</router-link>
                        </li>
                        <li>
                            <router-link to="/catalog" class="">каталог объектов</router-link>
                        </li>
                    </ul>
                </div>
                <div class="footer_box width15">
                    <ul>
                        <li><router-link to="/about/">о сервисе</router-link></li>
                        <li><router-link to="/support/" class="">поддержка</router-link></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'footer-vue',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        }
    }
</script>

<style>

</style>