<template>
    <header class="clearfix main_top_line">
        <div class="">
            <div class="main">
                <div class="logoMain">
                    <a href="/" title="Property Hunter"><img width="94px" src="/img/logo_tm_2016_white.PNG"
                                                             alt="Property Hunter"></a>
                </div>
                <ul class="nav_box">
                    <!--li><a href="/about/">О сервисе</a></li-->
                    <li>
                        <router-link :to="{ name: 'about_main_content'}">О сервисе</router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'auth_register'}">Регистрация</router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'auth_login'}">Войти</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </header>

</template>

<script>
    export default {
        name: 'header-vue',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        }
    }
</script>

<style>

</style>