<template>
    <div>
        <header id="header" class="clearfix some_class">
            <div class="main ">
                <div class="logo">
                    <a href="/" title="Property Hunter">Property Hunter</a>
                </div>
                <ul class="nav_box">
                    <!--li><a href="/about/">О сервисе</a></li-->
                    <li>
                        <router-link :to="{ name: 'about_main_content'}">О сервисе</router-link>
                    </li>
                    <li> <router-link :to="{ name: 'support'}">Поддержка</router-link></li>

                    <!--<li><a class="icon_header_plus" href="/bc/add/">Разместить объект</a></li>-->
                    <li v-if="user.auth === true">
                        <div class="inline middle icon_user" style="height: 22px; padding-left: 18px;"></div>
                        <div class="btn-group userMenu">
                            <a class="dropdown-toggle icon_arrow" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">{{user.login}}</a>
                            <ul class="dropdown-menu">
                                <li><router-link to="/profile/edit/">Профиль</router-link></li>
                                <li><a @click="logout()">Выйти</a></li>
                            </ul>
                        </div>
                    </li>

                    <li v-else>
                        <router-link to="/register/" class="btn btn-danger btn-no-border authBtns">Регистрация</router-link>
                        <router-link to="/login/" class="authBtns">Войти</router-link>
                    </li>

                </ul>
            </div>
        </header>
        <div class="mainMenu scrolled">
            <div class="main">
                <!--<a class="mainMenuItem active " href="/clients/">Список клиентов</a>
                <a class="mainMenuItem" href="/search/">Подбор помещений</a>
                <a class="mainMenuItem " href="/catalog/">Каталог объектов</a>-->

                <router-link :to="{name: 'clients'}" class="mainMenuItem">Список клиентов</router-link>
                <router-link :to="{name: 'search'}" class="mainMenuItem">Подбор помещений</router-link>
                <router-link :to="{name: 'catalog_search'}" class="mainMenuItem">Каталог объектов</router-link>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'header-vue',
        data() {
            return {
                /*user: {
                    auth: localStorage.getItem('token'),
                    login: localStorage.getItem('userLogin'),
                    id: localStorage.getItem('userID')
                }*/
            }
        },
        methods:{
            logout(){
                this.$root.logout();

                return false;
            },
        },
        computed: {
          user(){
              return this.$store.getters.getterAuth;
          }
        },
        mounted() {
            let self = this;
            console.log('MOUNTER USER =>', self.user);
        }
    }
</script>

<style>

</style>