<template>
    <div>
        <header  class="clearfix main_top_line">
            <div class="">
                <div class="main">
                    <div class="logoMain">
                        <a href="/" title="Property Hunter"><img width="94px" src="/img/logo_tm_2016_white.PNG" alt="Property Hunter"></a>
                    </div>
                    <ul class="nav_box">
                        <!--li><a href="/about/">О сервисе</a></li-->
                        <li><a href="/about/">О сервисе</a></li>
                        <li><a href="/register/">Регистрация</a></li>
                        <li><a href="/login/">Войти</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section class='pageContent main clearfix'>
            <div class="main_box_filter">

                <div class="main_box_filter_ins">
                    <h1>Все офисы Москвы</h1>

                    <h2><strong>PROPERTYHUNTER</strong> - онлайн-сервис для агентов и собственников офисной недвижимости. <br>

                        Помогаем находить офисы и арендаторов. Размещаем прямые контакты. Указываем размер вознаграждения. Создаем продающие презентации.</h2>

                    <div class="main_filter">
                        <form  id="searchFilter" class="mainFilter">
                            <ul class="filter_nav clearfix">
                                <li class="main_filter_box_2 open_down_box_one_cont_cl_wr">
                                    <dl class="dropdown_radio dropdown_nav">
                                        <dt class="open_down_box_one">
                                <span class="select_form nav_arrow">
                                    <span class="select_title">Вид сделки</span>
                                    <p class="multiSelRadio"></p>
                                    <span class="hida">аренда офиса</span>
                                </span>
                                        </dt>
                                        <dd class="filter_box open_down_box_one_cont">
                                            <div class="mutliSelectRadio">
                                                <ul>
                                                    <li>
                                                        <input type="radio" class="radio" id="radio-12" name="DealTypeID" v-model="searchParams.DealTypeID" data-label="аренда" value="1" :data-minmax='response.minMaxParams' >
                                                        <label for="radio-12">аренда офиса</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="radio" id="radio-13" name="DealTypeID" v-model="searchParams.DealTypeID"  data-label="продажа" value="2" :data-minmax='response.minMaxParams'>
                                                        <label for="radio-13">продажа офиса</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </dd>
                                    </dl>
                                </li>

                                <li class="main_filter_box_3 open_down_box_one_cont_cl_wr" id="SearchSquares">

                                    <div class="filter_nav_btn nav_arrow open_down_box_one labels">
                                        <span>Площадь</span>
                                        <p>от <span class="size_text" data-dir="min" v-html="response.minMaxParams['MinRentSquare']"></span> до <span class="size_text" data-dir="max" v-html="response.minMaxParams['MaxRentSquare']"></span> м<sup>2</sup></p>
                                    </div>

                                    <div class="filter_box open_down_box_one_cont">
                                        <div class="filter_nav_ins">
                                            <slider name="Square" :params.sync="sliderSquareParams"></slider>
                                        </div>
                                    </div>
                                </li>

                                <li class="main_filter_box_4 open_down_box_one_cont_cl_wr costSearchValues" id="SearchCost">
                                    <div class="filter_nav_btn nav_arrow open_down_box_one labels">
                                        <span class="costLabel" v-html="response.minMaxParams['RentCostLabel']"></span>
                                        <p>от <span class="size_text" data-dir="min" v-html="response.minMaxParams['MinRentCost']"></span> до <span class="size_text" data-dir="max" v-html="response.minMaxParams['MaxRentCost']"></span><span class="postLabel" v-html="response.minMaxParams['RentCostPostLabel']"></span></p>
                                    </div>

                                    <div class="filter_box open_down_box_one_cont">
                                        <div class="filter_nav_ins">
                                            <slider name="Cost" :params.sync="sliderCostParams"></slider>
                                        </div>
                                    </div>
                                </li>

                                <li class="main_filter_box_5 open_down_box_one_cont_cl_wr placement">
                                    <div class="filter_nav_btn nav_arrow openMetroMap" data-metromapid="metroMap" data-action="click" @click="showMap = true"><!--open_down_box_one-->
                                        <span>Расположение</span>
                                        <p>любое</p>
                                    </div>
                                    <div class="filter_box open_down_box_one_cont">
                                    </div>
                                </li>

                                <li class="main_filter_box_6 open_down_box_one_cont_cl_wr">
                                    <button class="btn_main_filter" @click.prevent="search">Поиск</button>
                                </li>

                            </ul>
                        </form>
                    </div>

                </div>

                <div class="counter_up">
                    <ul>
                        <li class="counter_up_box">
                            <span class="counter" v-html="$root.global.counters.format.OfficeBlocks"></span>
                            <span class="counter_title" v-html="$root.global.counters.format.textOfficeBlocks"></span>
                        </li>
                        <li class="counter_up_box">
                            <span class="counter"  v-html="$root.global.counters.format.Builds"></span>
                            <span class="counter_title" v-html="$root.global.counters.format.textBuilds"></span>
                        </li>
                        <li class="counter_up_box">
                            <span class="counter" v-html="$root.global.counters.format.Owners"></span>
                            <span class="counter_title" v-html="$root.global.counters.format.textOwners"></span>
                        </li>
                        <li class="counter_up_box">
                            <span class="counter" v-html="$root.global.counters.format.Agents"></span>
                            <span class="counter_title" v-html="$root.global.counters.format.textAgents"></span>
                        </li>
                    </ul>
                </div>

                <modal-container v-show="showMap" :show-modal.sync="showMap" mode="show">
                    <div slot="content">
                        <metro-map id="metroMap" :params="mapParams"  :selectedStations.sync="searchParams.Metros"></metro-map>
                    </div>
                </modal-container>
            </div>
        </section>

    </div>

</template>
<script>
    import slider from './common/slider.vue';
    import MetroMap from "./search/metroMap.vue";
    import modalContainer from './modal/modalContainerView.vue';

    export default {
        name: 'index',
        components:{
            slider, MetroMap, modalContainer
        },
        data() {
            return {
                searchParams: {
                    DealTypeID: 1,
                    OfficeTypes: [],
                    BuildClasses: [],
                    BuildTypes: [],
                    Square: {From: 0, To: 0},
                    Cost: {From: 0, To: 0},
                    Metros: [],
                    Orders: []
                },
                showMap: false,
                response: {}
            }
        },
        methods:{
            search(){
                this.$router.push({name: 'search', params: {searchParams: this.searchParams}} );
                return false;
            }
        },
        computed: {
            mapParams: function () {

                let self = this;
                return {
                    SelectedStations: [],
                    'ChooseFunc': 'setSearchMetroStations',
                    'chooseClick': function () {
                        self.showMap = false;
                    }
                };
            },

            sliderSquareParams:
                {
                    get: function () {
                        return {
                            'ID': 'SquareSearchSlider',
                            'PostLabel': ' м<sup>2</sup>',
                            'Min': this.response.minMaxParams['MinRentSquare'],
                            'Max': this.response.minMaxParams['MaxRentSquare'],
                            'From': this.response.minMaxParams['MinRentSquare'],
                            'To': this.response.minMaxParams['MaxRentSquare'],
                            'Function': 'searchChangeSquareSliders'
                        }
                    },
                    set: function(params){
                        this.searchParams.Square.From = params.From;
                        this.searchParams.Square.To = params.To;
                    }
                },


            sliderCostParams: {
                get:  function(){
                        return {
                            'ID': 'CostSearchSlider',
                            'PostLabel': this.response.minMaxParams['RentCostPostLabel'],
                            'Min': this.response.minMaxParams['MinRentCost'],
                            'Max': this.response.minMaxParams['MaxRentCost'],
                            'From': this.response.minMaxParams['MinRentCost'],
                            'To': this.response.minMaxParams['MaxRentCost'],
                            'Function': 'searchChangeCostSliders',
                            'k' : 2000
                        }
                    },
                set: function(params){
                    this.searchParams.Cost.From = params.From;
                    this.searchParams.Cost.To = params.To;
                }
            }
        },
        destroyed(){
            $('body').removeClass('borderedHeader main_box_filter_bg');
        },
        created() {
            $('body').addClass('borderedHeader main_box_filter_bg');
            let self = this;
            apiAjax('page/get',{},function (response) {
                self.response = response;
            }, {async: false})
        }
    }
</script>