<template>
    <section class="pageContent main clearfix" style="min-height: 760px;">
        <h3 class="pageTitle">Согласие на обработку персональных данных</h3>

        <div class="agreementBlock">

            <div>
                Физическое лицо, регистрируясь на интернет-сайте <a href="/">https://ph.ru</a> (далее —
                Сайт), даёт
                свое согласие Обществу с ограниченной ответственностью «Пропертихантер»
                (адрес места нахождения: 109153, г. Москва, Лермонтовский проспект, д. 12,
                пом. II, ком. 5, далее — Компания) на обработку персональных данных в
                объеме, указанном в настоящем документе.
            </div>
            <div>
                Давая согласие, физическое лицо подтверждает, что:
            </div>
            <ul type="circle">
                <li>действует свободно, своей волей и в своем интересе;</li>
                <li>является дееспособным;</li>
                <li>согласие является конкретным, информированным и сознательным.</li>
            </ul>
            <div>
                1. Согласие дается на обработку персональных данных как с использованием
                средств автоматизации, так и без использования таких средств.
            </div>
            <div>
                2. Согласие дается на обработку следующих персональных данных:
            </div>
            <ul type="circle">
                <li>общие персональные данные: фамилия, имя, отчество, дата рождения, пол,
                    должность, наименование компании, электронный адрес, номер телефона,
                    фотография.
                </li>
                <li>иная информация, обрабатываемая Компанией: IP-адрес, вид операционной
                    системы, тип браузера, географическое положение, поставщик услуг сети
                    Интернет, сведения об использовании Сайта (в том числе сведения о
                    посещенных страницах), информация, автоматически получаемая при доступе к
                    Сайту (в том числе с использованием cookies), иная информация, полученная в
                    результате действий Пользователя.
                </li>
            </ul>
            <div>
                3. Персональные данные не являются общедоступными.
            </div>
            <div>
                4. Компания осуществляет связанные с обработкой персональных данных
                процессы в целях выполнения обязательств в соответствии с Пользовательским
                соглашением. Такими обязательствами Компании являются:
            </div>
            <ul type="circle">
                <li>предоставление доступа к Сайту, в том числе для регистрации на Сайте,
                    поиска объектов коммерческой недвижимости и поиска клиентов для сдачи в
                    аренду и/или продажи объектов коммерческой недвижимости;
                </li>
                <li>оказание консультационной и технической поддержки Пользователю;</li>
                <li>направление на указанный Пользователем адрес электронной почты сообщений,
                    уведомлений, запросов, сведений информационного характера;
                </li>
                <li>проведение, при необходимости, исследования любых категорий, в том числе
                    анализа по улучшению качества Сервисов;
                </li>
                <li>обеспечение работоспособности и безопасности Сайта.</li>
            </ul>
            <div>
                5. Основанием для обработки персональных данных является: ст. 24
                Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ «О
                персональных данных»; Пользовательское соглашение; Политика
                конфиденциальности; Согласие.
            </div>
            <div>
                6. В ходе обработки с персональными данными будут совершены следующие
                действия: сбор, запись, систематизация, накопление, хранение, уточнение
                (обновление, изменение), электронное копирование, извлечение,
                использование, передача (распространение, предоставление, доступ),
                обезличивание, блокирование, удаление и уничтожение.
            </div>
            <div>
                7. Согласие считается данным в том числе и третьим лицам. В случае
                необходимости предоставления персональных данных для достижения целей их
                обработки любым третьим лицам, а также в случае привлечения третьих лиц к
                оказанию услуг в таких целях, Компания вправе в необходимом объеме
                раскрывать персональные данные третьим лицам.
            </div>
            <div>
                8. Персональные данные обрабатываются до удаления учетной записи
                Пользователя. Также обработка персональных данных может быть прекращена по
                запросу субъекта персональных данных.
            </div>
            <div>
                9. Согласие может быть отозвано субъектом персональных данных или его
                представителем путем направления письменного заявления Компании по адресу
                ее местонахождения (см. преамбулу Согласия).
            </div>
            <div>
                10. В случае отзыва физическим лицом или его представителем согласия на
                обработку персональных данных, Компания вправе продолжить обработку
                персональных данных без согласия физического лица при наличии оснований,
                указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2
                статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006
                г.
            </div>
            <div>
                11. Согласие действует все время до момента прекращения обработки
                персональных данных, указанных в п.8 и п.9 Согласия.
            </div>

        </div>
    </section>
</template>

<script>
    export default {
        name: 'personal_data',
        data() {
            return {}
        },
        created() {
            window.scrollTo(0, 0);
        }
    }
</script>

<style lang="scss">

</style>
