<template>
    <section class="pageContent main clearfix">
        <h3 class="pageTitle">Политика в области обработки и защиты персональных данных</h3>

        <div class="agreementBlock">
            <div>
                Дата опубликования текущей версии: 1 июля 2017 года
            </div>
            <div>
                Политика в области обработки и защиты персональных данных (далее —
                Политика) разработана <strong>Обществом с ограниченной ответственностью «Пропертихантер»</strong>
                (далее — Компания) в соответствии с Федеральным законом от 27.07.2006 г.
                №152-ФЗ «О персональных данных» (далее — Закон) и другими нормативными
                правовыми актами в области персональных данных.
            </div>
            <div>
                Политика используется совместно с Пользовательским соглашением (размещено
                по адресу <a href="/agreement/">https://ph.ru/agreement/</a>,
                далее — Соглашение) и Согласием на обработку персональных данных (размещено
                по адресу <a href="/personal-data/">https://ph.ru/personal-data/</a>,
                далее — Согласие), размещенными на официальном сайте Компании в сети
                интернет <a href="/">https://ph.ru</a> (далее — Сайт).
            </div>

            <h3 class="text-center">1. Общие положения</h3>
            <div>
                1.1. Политика определяет порядок обработки и защиты информации о физических
                лицах, использующих Сайт (включая поддомены).
            </div>
            <div>
                1.2. Использование физическим лицом Сайта означает безоговорочное согласие
                с настоящей Политикой и указанными в ней условиями обработки персональных
                данных. В случае несогласия физического лица с Политикой использование
                Сайта должно быть немедленно прекращено.
            </div>
            <div>
                1.3. Целью Политики является обеспечение защиты прав и свобод человека и
                гражданина при обработке его персональных данных, в том числе защиты прав
                на неприкосновенность частной жизни, личную и семейную тайну, четкое и
                неукоснительное соблюдение требований российского законодательства в
                области персональных данных.
            </div>
            <div>
                1.4. Действие Политики распространяется на все персональные данные
                физических лиц, обрабатываемые Компанией как с применением средств
                автоматизации, так и без применения таких средств, а также связанные с
                обработкой персональных данных процессы. К таким процессам в том числе, но
                не ограничиваясь, могут относится: сбор, запись, систематизация,
                накопление, хранение, уточнение (обновление, изменение), электронное
                копирование, извлечение, использование, передача (распространение,
                предоставление, доступ), обезличивание, блокирование, удаление и
                уничтожение персональных данных.
            </div>
            <div>
                1.5. Компания публикует Политику на Сайте по адресу:
                https://ph.ru/privacy/, а также предоставляет неограниченный доступ к
                ней любому лицу, лично обратившемуся к Компании.
            </div>
            <div>
                1.6. Компания вправе вносить изменения в Политику по мере необходимости.
                Обязательный пересмотр Политики проводится в случае существенных изменений
                международного или национального законодательства в сфере персональных
                данных.
            </div>
            <div>
                1.7. Компания не проверяет достоверность предоставленных физическим лицом
                персональных данных и его дееспособность. Физическое лицо гарантирует, что
                все данные являются достоверными, актуальными и не нарушают
                законодательство РФ.
            </div>

            <h3 class="text-center">2. Статус Компании и физического лица, использующего Сервисы</h3>
            <div>
                2.1. Компания является оператором персональных данных в отношении
                информации, относящейся к физическим лицам.
            </div>
            <div>
                2.2. Физическим лицом является пользователь, разместивший свои персональные
                данные на Сайте, в том числе в веб-формах (далее — Пользователь).
            </div>

            <h3 class="text-center">3. Цели обработки персональных данных</h3>
            <div>
                3.1. Компания осуществляет связанные с обработкой персональных данных
                процессы в целях выполнения договорных обязательств, в том числе
                обязательств по Соглашению.
            </div>
            <div>
                Такими обязательствами Компании являются:
            </div>
            <ul type="circle">
                <li>предоставление доступа к Сайту, в том числе для регистрации на Сайте,
                    поиска объектов коммерческой недвижимости и поиска клиентов для сдачи в
                    аренду и/или продажи объектов коммерческой недвижимости;
                </li>
                <li>оказание консультационной и технической поддержки Пользователю;</li>
                <li>направление на указанный Пользователем адрес электронной почты сообщений,
                    уведомлений, запросов, сведений рекламного и информационного характера;
                </li>
                <li>проведение, при необходимости, исследования любых категорий, в том числе
                    анализа по улучшению качества Сервисов;
                </li>
                <li>обеспечение работоспособности и безопасности Сайта.</li>
            </ul>

            <h3 class="text-center">4. Перечень персональных данных, на обработку которых дается согласие</h3>
            <div>
                4.1. Персональные данные Пользователя:
                <br>
                Общие персональные данные: фамилия, имя, отчество, дата рождения, пол,
                должность, наименование компании, электронный адрес, номер телефона,
                фотография.
            </div>
            <div>
                4.2. Иная информация, обрабатываемая Компанией:
            </div>
            <ul type="circle">
                <li>данные о технических средствах (устройствах): IP-адрес, вид операционной
                    системы, тип браузера, географическое положение, поставщик услуг сети
                    Интернет.
                </li>
                <li>сведения об использовании Сайта (в том числе сведения о посещенных
                    страницах);
                </li>
                <li>информация, автоматически получаемая при доступе к Сайту, в том числе с
                    использованием cookies;
                </li>
                <li>информация, полученная в результате действий Пользователя, в том числе
                    следующие сведения: о направленных запросах, отзывах и вопросах.
                </li>
            </ul>

            <h3 class="text-center">5. Принципы обработки персональных данных</h3>
            <div>
                Обработка персональных данных осуществляется на основе следующих принципов:
            </div>
            <div>
                5.1. Законность и справедливая основа обработки персональных данных.
            </div>
            <div>
                5.2. Обработка персональных данных в соответствии с конкретными, заранее
                определенными и законными целями.
            </div>
            <div>
                5.3. Недопущение объединения баз данных, содержащих персональные данные,
                обработка которых осуществляется в целях, несовместимых между собой.
            </div>
            <div>
                5.4. Обработке подлежат только те персональные данные, которые отвечают
                целям их обработки.
            </div>
            <div>
                5.5. Соответствие содержания и объема персональных данных заявленным целям
                обработки.
            </div>
            <div>
                5.6. Точность, достаточность, актуальность и достоверность персональных
                данных.
            </div>
            <div>
                5.7. Законность технических мер, направленных на обработку персональных
                данных.
            </div>
            <div>
                5.8. Разумность и целесообразность обработки персональных данных.
            </div>
            <div>
                5.9. Хранение персональных данных не дольше, чем того требуют цели их
                обработки или в течение срока согласия Пользователя.
            </div>
            <div>
                5.10. Обрабатываемые персональные данные подлежат уничтожению либо
                обезличиванию незамедлительно после удаления учетной записи Пользователя.
            </div>

            <h3 class="text-center">6. Обработка персональных данных</h3>
            <div>
                6.1. Сбор персональных данных.
            </div>
            <div>
                Сбор персональных данных осуществляется следующими способами:
            </div>
            <ul type="circle">
                <li>предоставление персональных данных Пользователями на Сайте, в том числе
                    при заполнении веб-форм;
                </li>
                <li>автоматический сбор информации о Пользователе с помощью технологий и
                    сервисов: веб-протоколы, файлов "cookie", веб-отметки, которые запускаются
                    только при вводе Пользователем своих данных.
                </li>
            </ul>
            <div>
                6.2. Хранение и использование персональных данных.
            </div>
            <ul type="circle">
                <li>персональные данные Пользователей хранятся исключительно на должным
                    образом защищенных электронных носителях и обрабатываются с использованием
                    автоматизированных систем, за исключением случаев, когда
                    неавтоматизированная обработка персональных данных необходима в
                    соответствии с законодательством Российской Федерации;
                </li>
                <li>Компания при обработке персональных данных Пользователя обеспечивает
                    использование баз данных, находящихся на территории Российской Федерации.
                </li>
            </ul>
            <div>
                6.3. Передача персональных данных.
            </div>
            <ul type="circle">
                <li>Компания не передает персональные данные третьим лицам (далее —
                    Консультанты) без согласия Пользователя, за исключением случаев, когда
                    передача осуществляется для обеспечения соблюдения требований
                    законодательства Российской Федерации, предупреждения, пресечения
                    незаконных действий Пользователя и защиты законных интересов Компании и
                    третьих лиц;
                </li>
                <li>Передача персональных данных третьим лицам осуществляется для достижения
                    указанных выше целей, а также в целях выполнения Компанией договорных
                    обязательств. При этом Консультанты обязуются использовать персональные
                    данные исключительно в соответствии с настоящей Политикой, для достижения
                    указанных целей и для оказания услуг по заключенному договору.
                </li>
            </ul>
            <div>
                6.4. Уничтожение персональных данных.
            </div>
            <div>
                Компания уничтожает персональные данные Пользователя в следующих случаях:
            </div>
            <ul type="circle">
                <li>наличие угрозы безопасности Сервисов;</li>
                <li>нарушение Пользователем условий Политики и Пользовательского соглашения;</li>
                <li>истечение срока хранения персональных данных;</li>
                <li>по запросу Пользователя.</li>
            </ul>

            <h3 class="text-center">7. Права Пользователя</h3>
            <div>
                7.1. Пользователь имеет право на получение информации об обработке
                персональных данных, в том числе содержащей:
            </div>
            <ul type="circle">
                <li>подтверждение факта обработки персональных данных;</li>
                <li>правовые основания обработки персональных данных;</li>
                <li>цели и применяемые Компанией способы обработки персональных данных;</li>
                <li>обрабатываемые персональные данные, относящиеся к соответствующему
                    Пользователю, источник их получения, если иной порядок представления таких
                    данных не предусмотрен законодательством Российской Федерации;
                </li>
                <li>сроки обработки персональных данных, в том числе сроки их хранения;</li>
                <li>порядок осуществления прав, предусмотренных законодательством Российской
                    Федерации;
                </li>
                <li>информацию об осуществленной или о предполагаемой трансграничной передаче
                    данных;
                </li>
                <li>сведения о лицах, которым могут быть раскрыты персональные данные на
                    основании договора с Компанией или в соответствии с законодательством
                    Российской Федерации;
                </li>
                <li>наименование или фамилию, имя, отчество и адрес лица, осуществляющего
                    обработку персональных данных по поручению Компании, если обработка
                    поручена или будет поручена такому лицу;
                </li>
                <li>иные сведения, предусмотренные законодательством Российской Федерации.</li>
            </ul>
            <div>
                7.2. Пользователь вправе получать сведения, указанные в п. 7.1. Политики,
                неограниченное количество раз, направив Компании соответствующий запрос в
                порядке, предусмотренном разделом 12 Политики.
            </div>

            <h3 class="text-center">8. Обязанности Компании</h3>
            <div>
                8.1. В соответствии с требованиями Закона Компания обязана:
            </div>
            <ul type="circle">
                <li>предоставлять по запросу Пользователя информацию об обработке его
                    персональных данных, указанную в п. 7.1. Политики, или обоснованный отказ;
                </li>
                <li>принимать меры, необходимые и достаточные для обеспечения выполнения
                    обязанностей, предусмотренных Законом;
                </li>
                <li>по требованию Пользователя уточнять обрабатываемые персональные данные,
                    блокировать или удалять, если они являются неполными, устаревшими,
                    неточными, незаконно полученными или ненужными для заявленной цели
                    обработки;
                </li>
                <li>обеспечить правомерность обработки персональных данных. В случае, если
                    обеспечить правомерность обработки персональных данных невозможно, Компания
                    в срок, не превышающий 10 (десять) рабочих дней с даты выявления
                    неправомерной обработки персональных данных, обязана уничтожить или
                    обеспечить их уничтожение;
                </li>
                <li>в случае отзыва Пользователем согласия на обработку персональных данных
                    прекратить их обработку и уничтожить в срок, не превышающий 30 (тридцать)
                    рабочих дней с даты поступления указанного отзыва, за исключением случаев,
                    когда обработка может быть продолжена в соответствии с законодательством.
                </li>
            </ul>

            <h3 class="text-center">9. Сведения о реализуемых требованиях к защите персональных данных</h3>
            <div>
                9.1. Защита персональных данных, обрабатываемых Компанией, обеспечивается
                реализацией правовых, организационных и технических мер, необходимых и
                достаточных для обеспечения требований законодательства в области защиты
                персональных данных.
            </div>
            <div>
                9.2. Правовые меры включают в себя:
            </div>
            <ul type="circle">
                <li>разработку локальных актов Компании, реализующих требования российского
                    законодательства (в том числе Политики в отношении обработки и защиты
                    персональных данных с размещением ее на Сайте);
                </li>
                <li>отказ от любых способов обработки персональных данных, не соответствующих
                    заранее предопределенным Компанией целям.
                </li>
            </ul>

            <div>
                9.3. Организационные меры включают в себя:
            </div>
            <ul type="circle">
                <li>назначение лица, ответственного за организацию обработки персональных
                    данных;
                </li>
                <li>ограничение состава работников Компании, имеющих доступ к персональным
                    данным, и организацию разрешительной системы доступа к ним;
                </li>
                <li>ознакомление работников Компании с положениями законодательства
                    Российской Федерации о персональных данных, в том числе с требованиями к
                    защите персональных данных, с локальными актами Компании по вопросам
                    обработки персональных данных, обучение указанных работников.
                    9.4. Компания обязуется и обязует третьих лиц, в случае передачи им права
                    на обработку персональных данных Пользователя, соблюдать режим
                    конфиденциальности в отношении персональных данных Пользователя и не
                    использовать персональные данные без согласия Пользователя за исключением
                    случаев, предусмотренных настоящей Политикой.
                </li>
            </ul>
            <div>
                9.5. Компания гарантирует, что не собирает, не использует и не передает
                третьим лицам информацию, касающуюся детей младше 14 лет. Малолетним младше
                14 лет запрещено использовать Сервисы Компании.
            </div>

            <h3 class="text-center">10. Зарубежные Пользователи</h3>
            <div>
                10.1. До начала осуществления трансграничной передачи персональных данных
                Компания обязана убедиться в том, что иностранным государством, на
                территорию которого осуществляется передача персональных данных,
                обеспечивается адекватная защита прав Пользователя.
            </div>
            <div>
                10.2. Трансграничная передача персональных данных на территории иностранных
                государств, не обеспечивающих адекватной защиты прав субъектов персональных
                данных, может осуществляться в случаях:
            </div>
            <ul type="circle">
                <li>наличия согласия в письменной форме Пользователя на трансграничную
                    передачу его персональных данных;
                </li>
                <li>исполнения договора, стороной которого является Пользователь;</li>
                <li>защиты жизни, здоровья, иных жизненно важных интересов Пользователя или
                    других лиц при невозможности получения согласия в письменной форме
                    Пользователя.
                </li>
            </ul>

            <h3 class="text-center">11. Ограничение действия Политики</h3>
            <div>
                11.1. Действие Политики распространяются исключительно на Сайт и не
                применяются к другим интернет-ресурсам.
            </div>
            <div>
                11.2. Компания не несет ответственности за действия третьих лиц, получивших
                доступ к персональным данным Пользователя по вине последнего. <strong></strong>
            </div>

            <h3 class="text-center">12. Обращения Пользователя</h3>
            <div>
                12.1. Пользователь вправе направлять Компании свои запросы, в том числе
                запросы относительно использования их персональных данных:
            </div>
            <ul type="circle">
                <li>в письменной форме по адресу: 109153, г. Москва, Лермонтовский проспект,
                    д. 12, пом. II, ком. 5;
                </li>
                <li>в форме электронного документа по адресу электронной почты: <a
                        href="mailto:info@ph.ru">info@ph.ru</a></li>
            </ul>
            <div>
                12.2. Запрос должен содержать следующую информацию:
            </div>
            <ul type="circle">
                <li>номер основного документа, удостоверяющего личность Пользователя;</li>
                <li>сведения о дате выдачи указанного документа и выдавшем его органе;</li>
                <li>сведения, подтверждающие участие Пользователя в отношениях с Компанией;</li>
                <li>подпись Пользователя.</li>
            </ul>
            <div>
                12.3. Компания обязуется рассмотреть и направить ответ на поступивший
                запрос в течение 30 (тридцати) дней с момента поступления обращения.
            </div>
            <div>
                12.4. Вся корреспонденция, полученная Компанией от Пользователя (обращения
                в письменной или электронной форме), относится к информации ограниченного
                доступа и не разглашается без его письменного согласия.<strong></strong>
            </div>

            <h3 class="text-center">13. Контактная информация и реквизиты Компании</h3>
            <div>
                ООО «Пропертихантер»
            </div>
            <div>
                Юридический адрес: 109153, г. Москва, Лермонтовский проспект, д. 12, пом.
                II, ком. 5
            </div>
            <div>
                ИНН 7702792695
            </div>
            <div>
                КПП 772101001
            </div>
            <div>
                ОГРН 1127746498406
            </div>

        </div>

    </section>
</template>

<script>
    export default {
        name: 'privacy',
        data() {
            return {}
        },
        created() {
            window.scrollTo(0, 0);
        }
    }
</script>

<style>

</style>
