<template>
    <div class="agentBar" :data-addclient="params.AddClient" :data-link="link">

        <div>
            <div class="agent_box_1 agentBox" :class="agentBoxClass">
                <div class="agent_box_2" v-if="sizeOf(clients) !== 0">
                    <label>Поиск для клиента</label>
                    <span class="green_box_arrow"></span>
                    <div class="agent_box_cont selectedClient" :data-id="selectedClient">
                        <span>
                            <a v-if="selectedClient" target='_blank' :href="'/clients/edit/' + selectedClient + '/'">{{ clients.List[selectedClient] }}</a>
                            <span v-if="!selectedClient" class="openClientsList">Выбрать клиента</span>
                        </span>
                    </div>
                </div>
                <div v-else>
                    <ul class="agent_nav">
                        <li><router-link to="/clients/add/" target="_blank" class="addClientLink  noAgent openClientsList"><span class="fa fa-plus fa-lg addClientFromSearch"></span>Добавить клиента</router-link></li>
                    </ul>
                </div>
            </div>
            <div class="agent_box_3">
                <div class="agent_nav agentSearchPage">
                    <div class="btn-group">
                        <router-link :to="{name: 'search', params: {pageName: button.pageRouter, ClientID: selectedClient ? selectedClient : null}}" v-for="(button, index) in buttons" class="btn btn-default" :class="data.noAgentClass + ' ' + (data.activeSearchPage == button.page ? 'active': ' ')" :key="'rl'+index" :data-page='button.page'><span class="fa inline middle" :class="button.icon"></span>&nbsp;&nbsp;<span class="inline middle">{{button.name}}</span></router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'agentBar',
        computed:{
            link: function () {
                return "/search/" + (this.data.activeSearchPage ? this.data.activeSearchPage + "/" : "" ) + "%ClientID%/";
            },

            agentBoxClass: function(){
                let resultClass = '';

                if( !(this.data.activeSearchPage == 'selected' && !this.clients.List) )
                {
                    resultClass = 'openClientsList';
                }

                return resultClass;
            },
            clients: function(){
                return this.data.info.Clients;
            },
            selectedClient: function(){
                let ClientID = 0;
                if(this.clients && this.clients.Selected && this.clients.Selected.ClientID)
                    ClientID = this.clients.Selected.ClientID;

                return ClientID;
            }
        },
        created(){

        },
        mounted(){
            initAgentBar();
            console.log('CL LIST', this.sizeOf(this.clients));
        },

        updated(){


        },
        methods: {
            sizeOf(arr){
                return _.size(arr);
            }
        },
        data() {
            return {
                buttons: [
                    {name: 'Поиск', page: '', icon: 'fa-search', pageRouter: null},
                    {name: 'Отобранные', page: 'selected', icon: 'fa-star-o', pageRouter: 'selected'},
                ]
            };

        },
        props: ['params', 'data'],

    };
</script>