<template>
    <div :id='id' class='metroMap'>
        <div class='metroMapBox'>
            <div class='selectedStationContainer'>
                <img src='/img/metro/moscow.jpg' :usemap="'#metromap_' + id" class='metro_map'>
            </div>
            <div class='metroMapRight'>
                <div class='metroGroups'>
                    <div class='metroLines' v-html="LinesGroups"></div>
                    <div v-html="GeoPositionGroups"></div>
                    <div class='selectedStations'></div>
                </div>
            </div>
            <map :name="'metromap_' + id" class='metromap' v-html="Areas"></map>
        </div>
        <div class='metroControllBtns'>
            <button class='btn_green removeAllStations'>Очистить</button>
            <button class='btn_green_2 chooseStations' @click.prevent="chooseClick" :class="params['Modal'] ? 'arcticmodal-close' : ''" :data-func="params['ChooseFunc']">Выбрать</button>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'metroMap',
        props: ['id', 'params', 'data', 'selectedStations'],
        methods: {
            'chooseClick': function() {
                let selectedStations = [];

                $("#" + this.id + " .selectedStations .selectedStation").each(function(ind, element){
                    if($(element).data('id'))
                    {
                        selectedStations[selectedStations.length] = $(element).data('id');
                    }
                });

                this.$emit('update:selectedStations', selectedStations);

                if(this.params.chooseClick)
                {
                    this.params.chooseClick();
                }
            }
        },
        computed: {
            'getData': function(){
                let areas = [];
                let lines = [];

                let sourceData = this.$store.getters.global.metroMapData;

                for(var stationID in sourceData.stations)
                {
                    let station = sourceData.stations[stationID];
                    let groups = [ 'L_' + station['LineID'] ];
                    if (station['MetroGeoPosID'] == 1) { //внутри Садового кольца
                        groups[groups.length] = 'GP_1'; //внутри Садового кольца
                        groups[groups.length] = 'GP_2'; //а Садовое кольцо внутри ТТК
                    }

                    if (station['MetroGeoPosID'] == 2) //внутри ТТК
                        groups[groups.length] = 'GP_2';

                    if(!this.params.SelectedStations)
                        this.params.SelectedStations = [];

                    let areaActive = ($.inArray(parseInt(station['StationID']), Object.values(this.params.SelectedStations)) != -1) ? 1 : 0;

                    areas[areas.length] = "<area " +
                        "shape='circle' title='" + station['StationName'] + "' class='station'" +
                        "coords='" + station['Left'] + "," + station['Top'] + ",5'" +
                        "data-id='" + station['StationID'] + "'" +
                        "data-left='" + station['Left'] + "'" +
                        "data-top='" + station['Top'] + "'" +
                        "data-transfers='" + station['Transfers'] + "'" +
                        "data-groups='" + groups.join(',') + "'" +
                        "data-color='" + sourceData.lines[station['LineID']]['Color'] + "'" +
                        "data-active='" + areaActive + "'>";

                }
                if(sourceData.lines)
                {
                    for(var key in sourceData.lines)
                    {
                        let line = sourceData.lines[key];

                        lines[lines.length] = "<div class='metroLine'>" +
                            "<span class='metroIcon' style='background-color: #" + line['Color'] + ";' title='" + line['Name'] + " линия'>М</span>" +
                            "<a href='' class='group' data-group='L_" + line['LineID'] + "'>" + line['Name'] + "</a></div>";

                        let topX = parseFloat(line['TopX']) + 13; //координаты кнопки частичной выборки линии
                        let topY = parseFloat(line['TopY']) + 13;
                        let bottomX = parseFloat(line['BottomX']) + 13;
                        let bottomY = parseFloat(line['BottomY']) + 13;

                        if (line['TopX'] || line['TopY']) { //до кольца сверху
                            let currentStations = [];
                            for(var stationID in sourceData.stations)
                            {
                                let station = sourceData.stations[stationID];
                                if(station['MetroPosID'] == 1 && station['LineID'] == line['LineID'])
                                {
                                    currentStations[currentStations.length] = station['StationID'];
                                }
                            }

                            areas[areas.length] = "<area shape='rect' title='Выделить станции до кольцевой' class='group'" +
                                "coords='" + line['TopX'] + ',' + line['TopY'] + ',' + topX + ',' + topY +"'" +
                                "data-stations='" + currentStations.join(',') + "'>";
                        }

                        if (line['BottomX'] || line['BottomY']) { //до кольца снизу
                            let currentStations = [];
                            for(var stationID in sourceData.stations)
                            {
                                let station = sourceData.stations[stationID];
                                if(station['MetroPosID'] == 3 && station['LineID'] == line['LineID'])
                                {
                                    currentStations[currentStations.length] = station['StationID'];
                                }
                            }

                            areas[areas.length] = "<area shape='rect' title='Выделить станции до кольцевой' class='group'" +
                                "coords='" + line['BottomX'] + ',' + line['BottomY'] + ',' + bottomX + ',' + bottomY + "' data-stations='" + currentStations.join(',') + "'>";
                        }
                    }
                }

                var metroGroups = [];
                if(sourceData.positions)
                {
                    for(var key in sourceData.positions)
                    {
                        let item = sourceData.positions[key];

                        metroGroups[metroGroups.length] = "<a href='' class='group' data-transfer='1' data-group='GP_" + item['GeoPosID'] + "'>" + item['Name'] + "</a>";

                    }
                }

                return {
                    'areas': areas,
                    'lines': lines,
                    'metroGroups': metroGroups
                };

            },
            'LinesGroups': function(){
                return this.getData['lines'].join("");
            },
            'GeoPositionGroups': function(){
                let data = this.getData;
                return data.metroGroups ? "<div class='metroGeoGroups'><span>Выбрать станции:</span><div>" + data.metroGroups.join('<br>') + '</div></div>' : '';
            },
            'Areas': function(){
                return this.getData['areas'].join("");
            }
        }
    }
</script>