<template>
    <li class="clearfix blockItem" :rel="count" :class="blockClasses">
        <div v-if="currentPageName === 'selected' && block.Active === '1'" class="favorites">
            <span class="text_sm text_gray">Обновлено {{block.UpdateDay | prettyShortDate}}</span>
            <form class="checkbox_empty checkBlocks">
                <input type="checkbox" class="checkbox checkbox-success control_box_activ blockSelecter"
                       :data-block="block.BlockID"
                       :id="'checkbox-' + block.BlockID"
                       :value="block.BlockID">
                <label :for="'checkbox-' + block.BlockID"></label>
            </form>
        </div>

        <div v-if="currentPageName !== 'selected' && block.Active === '1'" class="favorites">
            <span class="text_sm text_gray">Обновлено {{block.UpdateDay | prettyShortDate}}</span>
            <br><span class="btn_green_3 btn_active selectBlockForClientBtn  manualActive " data-client=""
                      :onclick="'selectBlockForClient(this,' + block.BlockID + ')'"><span class="s">Отобрать</span><span class="h">Отобрано</span></span>
        </div>

        <div v-if="block.Active === '0'" class="favorites">
            <span class="text_sm text_gray">Обновлено {{block.UpdateDay | prettyShortDate}}</span>
            <div class="checkbox_empty checkBlocks">
                <button type="button" class="btn btn-default fa fa-trash-o blockSelecter" data-block="75129"
                        :onclick="'deleteFromSelected(\'' + block.BuildID + '\', [' + block.BlockID + '], $(this))'"></button>
            </div>
        </div>
        <div class="information_box">
            <div class="topBox topBlockInfo">
                <span class="text_sm"><strong v-html="block['DealName']+ ' ' + block['BlockType2']"></strong></span>
                <span class='icon_point'></span><span class='text_sm text_gray' v-html="blockLevel"></span>
                <span class="icon_point"></span>
                <template v-html="blockFurnish"></template>
                <span class="text_sm text_gray">{{blockFurnishTime}}</span>
                <span class="text_sm text_gray noWrapText">
                    <span class="icon_point"></span> {{block.PlainingFullName}}</span>


            </div>
            <div class="text_lg_box mainBlockInfo">
                <span class="text_lg text_red">
                    <strong>
                        <a class="" target="_blank" :href="'/bc/' + build.InternalNameTranslit + '/offices/' + block.BlockID">
                            {{block.Square}} м<sup>2</sup>
                        </a>
                    </strong>
                </span>
                <span class="icon_line"></span>
                <span class="text_lg"><strong>{{block.Cost1 | prettyDigits}}</strong></span>
                <span class="text_sm">руб./м<sup>2</sup> в год</span>
                <span class="icon_line"></span>
                <span class="text_lg"><strong>{{block.Cost2 | prettyDigits}}</strong></span>
                <span class="text_sm">руб./мес</span>
                <span class="arrow_label _arrow_label">{{block.TaxesNameShort}}</span>
                <span class="discount_box tooltipVue"
                      title='Вознаграждение агента'>{{parseFloat(block.Commission)}}%</span>
            </div>


            <div class="text_resp_box bottomBlockInfo">
                <span v-if="block.NotShowerBlock == '1'" class="icon_format new">НОВОЕ</span>
                <span class="text_sm text_gray">Собственник /</span>
                <span class="text_sm ownerLink " :onclick="'loadOwnerModal(' + block.BlockID + ',this)'">
                        <span class="icon_green_phone"></span>
                        <span class="ownerLinkText">Показать контакты</span>
                </span>
                <span class="icon_point"></span>
                <a target="_blank" :href="'/PDF/' + build.InternalNameTranslit + '/block/' + block.BlockID + '/'"
                   class="pdfLink d_ib  manualActive pdfEditor"
                   data-name="block" :data-parents="block.BlockID"><span class="icon_format loadIcon">PDF</span>Презентация</a>
            </div>
        </div>
        <!-- Overlay -->
        <div v-if="block.Active === '0'" class="notActiveBlockOverlay"></div>

        <!--
                    <div style="border: 3px solid #ff9500;"></div>


                    <?=($block['FurnishName'] && !$otherParams['Without']['Furnish'])
                        ? "<span class='icon_point'></span>
                    <span class='text_sm text_gray'>
                            ".mb_ucfirst(($block['FurnishID'] == 1)
                            ? 'Готово к въезду'.($block['FurnishTime'] > mktime() ? ' c '.date('d.m.Y', $block['FurnishTime']) : '') : $block['FurnishName'])."</span>"
                    : '' ?>
                    <?=($block['PlainingFullName'] && !$otherParams['Without']['Plaining']) ? "<span class='text_sm text_gray noWrapText'>
                    <span class='icon_point'></span> {$block['PlainingFullName']}</span>" : ''?>
                    <?=($block['IsNewBlock']) ? "<span class='icon_format newBlock'>NEW</span>" : ''?>
                </div>
                <div class="text_lg_box mainBlockInfo">
                        <span class="text_lg text_red"><strong><a :class="data.noAgentClass" <?=$openInNewWindow?>
                            href="/bc/<?=$build['InternalNameTranslit'] ?>/offices/?block=<?=$block['BlockID'] ?>
                            "><?=$block['Square'] ?> м<sup>2</sup></a></strong></span>
                    <span class="icon_line"></span>
                    <span class="text_lg"><strong><?=number_format($block['Cost1'], 0, '.', ' ') ?></strong></span>
                    <span class="text_sm">руб./м<sup>2</sup><?=($block['DealTypeID'] == 1) ? ' в год' : '' ?></span>
                    <span class="icon_line"></span>
                    <span class="text_lg"><strong><?=number_format($block['Cost2'], 0, '.', ' ') ?></strong></span>
                    <span class="text_sm">руб.<?=($block['DealTypeID'] == 1) ? '/мес' : '' ?></span>
                    <?=$block['TaxesNameShort'] ? "<span class='arrow_label'>{$block['TaxesNameShort']}</span>" : '' ?>
                    <?=($block['Commission']) ? "<span class='discount_box tooltip' title='Вознаграждение агента'>
                    ".floatval($block['Commission'])."%</span>" : '' ?>
                </div>
                <div class="text_resp_box bottomBlockInfo">
                    <? if ($block['Active']) { ?>
                    <?=$block['NotShowedBlock'] ? '<span class="icon_format new">НОВОЕ</span>' : ''?>
                    <? if ($block['OwnerID']) { ?>
                    <span class="text_sm text_gray">Собственник /</span>
                    <span class="text_sm ownerLink" :class="data.noAgentClass"
                          onclick="loadOwnerModal(<?=$block['BlockID'] ?>,this)">
                                <span class="icon_green_phone"></span>
                                <span class="ownerLinkText">Показать контакты</span>
                            </span>

                    <span class="icon_point"></span>
                    <? } ?>
                    <?/*=(!$otherParams['Without']['PDF']) ? "<a target='_blank' data-name='block' data-parents='{$block['BlockID']}' href='#' class='pdfLink d_ib {$noAgentClass}'>
                    <span class='icon_format loadIcon'>PDF</span>Презентация</a>" : ''*/?>
                    <?=(!$otherParams['Without']['PDF']) ? "<a target='_blank' href='/PDF/m1/block/{$block['BlockID']}/' class='pdfLink d_ib {$noAgentClass} manualActive pdfEditor' data-name='block' data-parents='{$block['BlockID']}'>
                    <span class='icon_format loadIcon'>PDF</span>Презентация</a>" : ''?>
                    <? } else { ?>
                    <span class="text_sm text_gray">Снято с экспозиции <?=date('d', strtotime($block['EditDate'])).' '.getMonthName($block['EditDate'])?></span>
                    <? } ?>
                </div>
                <? if ($block['SendInfo']) { ?>
                <div class="text_resp_box bottomBlockInfo">
                    <a class="BlockAlreadySent initHtmlPopover" data-placement="bottom"
                       data-popover-content="#popover-<?=$block['BlockID']?>" data-trigger="hover"><i
                            class="pdf_sended"></i> <span>ПРЕДЛОЖЕН</span></a>
                    <div class="hidden" id="popover-<?=$block['BlockID']?>">
                        <div class="popover-body">
                            <? foreach ($block['SendInfo'] as $item) {
                                    $emailLabel = $item['PersonName'] ? "<span class='bold'>{$item['PersonName']}</span>
                            ({$item['Email']})" : $item['Email'];

                            echo "
                            <div>{$emailLabel}</div>
                            ";

                            echo implode(array_map(
                            function ($time) {
                            return '
                            <div class="text_gray">'.date('d.m.Y — H:i', $time).'</div>
                            ';
                            },
                            $item['Times']
                            ));
                            } ?>
                        </div>
                    </div>
                </div>
                <? } ?>
                </div>
                <?=(!$block['Active']) ? '<div class="notActiveBlockOverlay"></div>' : ''?>-->
    </li>
</template>
<script>
    import _ from 'lodash';

    export default {
        name: 'SearchBlockItem',
        data() {
            return {
                currentPageName: this.$route.params.pageName
            }
        },
        props: ['data', 'block', 'otherParams', 'build', 'count'],
        computed: {
            'blockLevel': function () {
                this.block['LevelTo'] = parseInt(this.block['LevelTo']);
                this.block['Level'] = parseInt(this.block['Level']);
                return (this.block['LevelTo'] && this.block['Level'] !== this.block['LevelTo']) ? this.block['Level'] + "-" + this.block['LevelTo'] + " этаж" : this.block['Level'] + " этаж";
            },
            'blockFurnish': function () {
                return (this.block['FurnishName'] && !this.otherParams['Without']['Furnish']) ? "<span class='icon_point'></span><span class='text_sm text_gray'>" + (this.block['FurnishID'] === 1) ? 'Готово к въезду' + (this.block['FurnishTime'] > mktime() ? ' c ' + date('d.m.Y', this.block['FurnishTime']) : '') : this.block['FurnishName'] + "</span>" : '';
            },
            blockFurnishTime() {
                let self = this;
                let str = '';
                if (self.block.FurnishID === '1') {
                    str = 'Готово к въезду';
                    if (self.block.FurnishTime > _.now()) {
                        let date = new Date(self.block.FurnishTime);
                        str += ' c ' + date.toDateString();
                    }
                    _.upperFirst(str)
                }
                return str;
            },
            blockClasses(){
                let className = '';
                className += (parseInt(this.count) > 2) ? ' openDownBoxItem ' : ''; //activeItem
                className += (parseInt(this.block.Active) === 0) ? 'notActive' : '';
                return className;
            }
        },
        mounted() {
            setTimeout(function () {
                //initTooltipster();
            }, 200);
        }
    }
</script>

<style lang="scss" scoped>
    ._arrow_label {
        border: 1px solid #9e9e9e;
        border-left: 0;
        position: relative;
        display: inline-block;
        line-height: 16px !important;
        font-size: 10px;
        color: #58595b;
        font-weight: bold;
        padding: 0 6px;
        margin: 6px 6px 0 16px;
        height: 16px;
    }

    ._arrow_label:before {
        position: absolute;
        content: '';
        left: -6px;
        top: -1px;
        width: 6px;
        height: 16px;
        background: url(/img/design/arrow_label.png) 0 0 no-repeat;
    }

    .discount_box {
        color: #68a067;
        font-size: 16px;
        font-weight: bold;
        padding-left: 25px;
        background: url(/img/design/icon_discount.png) 0 0 no-repeat;

    }
</style>