<template>
    <div class="item_box_1 clearfix buildItem" :data-parent="build.BuildID ? build.BuildID: ''">
        <div class="item_box_gal_1" v-html="images"></div>

        <div class="item_box_cont_1">
            <div class="information_main_box clearfix">
                <div class="rating" :data-rating="buildRating">
                    <div class="clearfix">
                        <span class="rating_text">Рейтинг<br>объекта</span>
                        <span class="rating_value"></span>
                    </div>
                    <div class="rating_item clearfix"></div>
                </div>
                <div class="item_box_cont_title">
                    <div>
                        <h3 class="bcLink inline middle">
                            <span v-html="build['BuildType'] + ' «' + build['InternalName'] +'»'"></span>
                            <a target="_blank" :href="'/bc/' + build['InternalNameTranslit'] + '/'" class="fa fa-clone "
                               :class="data.noAgentClass"></a>
                        </h3>
                    </div>
                    <div class="text_address">
                        <span class="text_sm text_gray">{{ build['Address'] | prettyAddress }}</span>
                        <span class="text_sm show_map" :class="data.noAgentClass"
                              :onclick="'showBuildMap(' + build['Lat'] + ', ' + build['Lng'] +', this)'">Показать на карте</span>
                    </div>
                    <span class="metro_icon metro_icon_blue"
                          :style="'background-color: #' + build['Metro']['LineColor']">М</span>
                    <span class="text_sm pad_r_7" v-html="build['Metro']['StationName']"></span><span
                        class="text_sm text_gray"
                        v-html="build['Metro']['FromMetroMinTime'] ? build['Metro']['FromMetroMinTime'] + ' мин ' + build['Metro']['FromMetroName'] : ''"></span>
                </div>
            </div>
            <ul class="information_wr blocksBox _blocksList">
                <search-block-item
                        v-for="(block, count) in build['Blocks']"
                        :count="count"
                        :data="data"
                        :block="block"
                        :build="build"
                        :key="block.BlockID"></search-block-item>
            </ul>
            <span class="btn_add_information_box open_down_box_bottom _showMoreBlocks"
                  v-if="build['Blocks'].length > 3">
                                <span class="h">Ещё <span class="moreBlocksCount">{{build['Blocks'].length - 3}}</span> <span
                                        class="countWord">{{declOfNum(build['Blocks'].length -3, ['помещений', 'помещения', 'помещение'])}}</span> в этом здании</span>
                                <span class="s">Скрыть <span class="hideLastWord">{{declOfNum(build['Blocks'].length -3, ['последних', 'последние', 'последнее'])}}</span> <span
                                        class="moreBlocksCount">{{build['Blocks'].length - 3}}</span> <span
                                        class="countWord">{{declOfNum(build['Blocks'].length -3, ['помещений', 'помещения', 'помещение'])}}</span></span>
                            </span>
            <template v-html="additionalInfo"></template>
        </div>
    </div>
</template>
<script>
    import SearchBlockItem from './searchBlockItem.vue';

    export default {
        name: 'SearchBuildItem',
        props: ['data', 'build'],
        computed: {
            'images': function () {
                let result = "";
                let images = [];
                for (var key in this.build['Images']) {
                    let image = this.build['Images'][key];
                    images[images.length] = {
                        'Small': imgPath(image, '', 200, 200),
                        'Big': imgPath(image),
                        'ImageID': image['ID']
                    };
                }

                let showImages = images.slice(0, 5);
                let allImagesCount = images.length;
                let showImagesCount = showImages.length;
                result += "<div class='galleryWrapper' data-count='" + allImagesCount + "'>";

                if (showImages)
                    for (var cnt in showImages) {
                        let image = showImages[cnt];
                        let isLastImage = ((cnt == showImagesCount - 1) && (allImagesCount > showImagesCount));

                        result += "<a class='showGallery manualActive " + (isLastImage ? 'manualClick lastImage ' + this.data.noAgentClass : '') + "' href='" + (isLastImage ? SITE_URL + "/bc/" + this.build['InternalNameTranslit'] + "/?iID=" + image['ImageID'] : image['Big']) + "' target='_blank' data-title='" + (isLastImage ? "Смотреть все (" + allImagesCount + ")" : '') + "' data-group='build_" + this.build['BuildID'] + "' data-href='" + (isLastImage ? image['Big'] : '') + "'><img src='" + image['Small'] + "' class='buildImg'></a>";
                    }

                result += "</div>";
                return result;
            },
            'buildRating': function () {
                return number_format(this.build['Rating'], 1, '.', ' ');
            },
            'openAllBox': function () {
                return Object.keys(this.build['Blocks']).length - 3 > 1;
            },
            'additionalInfo': function () {
                let additionalInfo = '';
                if (this.openAllBox()) {
                    let moreBlocksCount = Object.keys(this.build['Blocks']).length - 3;
                    let ending = 'ий';
                    let ending2 = 'ие';

                    if (moreBlocksCount == 1) {
                        ending = 'ие';
                        ending2 = 'ee';
                    } else {
                        if (2 <= moreBlocksCount && moreBlocksCount <= 4) {
                            ending = 'ия';
                        }
                    }

                    additionalInfo = "<span class='btn_add_information_box open_down_box_bottom " + this.data.noAgentClass + "'>" +
                        "<span class='h'>Ещё <span class='moreBlocksCount'>" + moreBlocksCount + "</span> <span class='countWord'>помещен" + ending + "</span> в этом здании</span>" +
                        "<span class='s'>Скрыть <span class='hideLastWord'>последн" + ending2 + "</span> <span class='moreBlocksCount'>" + moreBlocksCount + "</span> <span class='countWord'>помещен" + ending + "</span></span>" +
                        "</span>";
                }

                return additionalInfo;
            }
        },
        components: {SearchBlockItem},
        methods:{
            declOfNum(number, titles) {
                let cases = [2, 0, 1, 1, 1, 2];
                return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
            }
        },
        mounted() {
            showMoreBlocksInBuild();
        }
    }
</script>

<style lang="scss">
    ._opened::after {
        transform: rotate(180deg) !important;
        -webkit-transform: rotate(180deg) !important;
        -moz-transform: rotate(180deg) !important;
        -o-transform: rotate(180deg) !important;
    }
</style>