<template>
    <div>
        <section class="pageContent main clearfix" data-no-footer="1">
            <table class="main_box">
                <tbody>
                <tr>
                    <td class="left_box">
                        <div id="aside1" class="scrolled">

                            <div id="aside1_inner" :class="response.isSelectedPage ? 'chosenBlocks' : ''">
                                <div id="content-2" class="content mCustomScrollbar active">
                                    <form method='POST' id='searchFilter' :data-search="response.searchName">
                                        <div class="form-group" style='border-bottom: 1px solid #adadad;'>
                                            <agent-bar :data="response" :params="agentBarParams"></agent-bar>
                                        </div>

                                        <div v-show="response.isSelectedPage">

                                            <div class="control_box">
                                                <p class="text_sm text_gray text_hive">
                                                    Выберите объект из списка справа, чтобы выполнить действие.
                                                </p>
                                                <div class="selectedBlocksCount text_sm text_gray">Выбрано <span
                                                        class="checkedBlocksCount">0</span> предложен<span
                                                        class="ending">ий</span></div>
                                                <a href="#" class="btn_control get-pdf"
                                                   :onclick="'getPDFFromSelected(\'' + response.selectedClient + '\');'">
                                                    <span class="inline middle fa fa-file-pdf-o"></span>
                                                    <span class="inline middle">Сводная презентация</span>
                                                </a>
                                                <a href="#" class="btn_control email-send"
                                                   :onclick="'sendEmailFromSelected(\''+response.selectedClient +'\');'">
                                                    <span class="inline middle fa fa-envelope-o"></span>
                                                    <span class="inline middle">Предложить клиенту</span>
                                                </a>
                                                <a href="#" class="btn_control delete-from-selected"
                                                   :onclick="'deleteFromSelected(\'' + response.selectedClient + '\'); return false;'">
                                                    <span class="inline middle fa fa-trash-o"></span>
                                                    <span class="inline middle">Удалить из отобранного</span>
                                                </a>

                                            </div>

                                        </div>

                                        <div v-show="!response.isSelectedPage">

                                            <div class="form-group">
                                                <div class="dealTypeRadio">
                                                    <ul>
                                                        <li v-for="(item, index) in response.dealTypes">
                                                            <input
                                                                    :id="'DealTypeID-radio-' + item[0]" class="radio"
                                                                    name="DealTypeID" type="radio"
                                                                    :checked="item[0] == response.searchParams.DealTypeID ? '' : ''"
                                                                    :value="item[0]"
                                                                    :data-minmax="JSON.stringify(response.blocksMinMax)"
                                                                    v-model="response.searchParams.DealTypeID"/><label
                                                                :for="'DealTypeID-radio-' + item[0]">{{ item[1]
                                                            }}</label>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="rangeSearchParams">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <label for="SquareFrom">Площадь от</label>
                                                                <input type="text" id='SquareFrom' name='SquareFrom'
                                                                       class="form-control number"
                                                                       v-model="response.searchParams.Square.From">
                                                            </div>
                                                        </td>
                                                        <td>&#8212;</td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label for="SquareTo">до, м<sup>2</sup></label>
                                                                <input type="text" id='SquareTo' name='SquareTo'
                                                                       class="form-control number"
                                                                       v-model="response.searchParams.Square.To">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <slider name="Square" :params="sliderSquareParams"></slider>

                                            </div>
                                            <div class="rangeSearchParams costParam">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <label for="CostFrom"><span class="costLabel"
                                                                                            v-html="response.blocksMinMax[response.searchParams['DealType'] + 'CostLabel']"></span>
                                                                    от</label>
                                                                <input type="text" id='CostFrom' name='CostFrom'
                                                                       class="form-control number"
                                                                       v-model="response.searchParams.Cost.From">
                                                            </div>
                                                        </td>
                                                        <td>&#8212;</td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label for="CostTo">до,<span class="costPostLabel"
                                                                                             v-html="response.blocksMinMax[response.searchParams['DealType'] + 'CostPostLabel']"></span></label>
                                                                <input type="text" id='CostTo' name='CostTo'
                                                                       class="form-control number"
                                                                       v-model="response.searchParams.Cost.To">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <slider name="Cost" :params="sliderCostParams"></slider>

                                            </div>

                                            <div class="form-group location">
                                                <label for="Comment">Метро</label>
                                                <button @click="showMap = true" type='button'
                                                        class='btn-dashed openMetroMap' data-metromapid='metroMap'
                                                        data-action='click' v-html="metroText"></button>
                                                <div class='placement'>
                                                    <input type="hidden" name="Metros[]" :value="item"
                                                           v-for="(item, index) in response.searchParams['Metros']">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit"
                                                        class="btn btn-danger btn-lg btn-no-border searchBtn"
                                                        @click="doSearch" onclick="return false;"
                                                        :data-search="response.searchName"
                                                        :data-limit="response.searchParams.Limit"
                                                        :data-offset="response.searchParams.Offset"
                                                        data-clear="1" data-no-map="1">Найти
                                                </button>
                                            </div>
                                            <ul class="left_nav">
                                                <li class="radioDropDownFilter">
                                                    <dl class="dropdown dropdown_nav">
                                                        <dt class="filter_btn">
                                                <span class="select_form nav_arrow">
                                                    <span class="select_title">Отдаленность от метро</span>
                                                    <p class="multiSel">
                                                        <span :title="response.filtersLists['FromMetroType'][response.searchParams['FromMetroType']]"
                                                              v-html="response.filtersLists['FromMetroType'][response.searchParams['FromMetroType']]"></span>
                                                    </p>
                                                    <span class="hida">любая</span>
                                                    </span>
                                                        </dt>
                                                        <dd class="filter_box">
                                                            <div class="mutliSelect">
                                                                <ul>
                                                                    <li v-for="(item, index) in response.filtersLists['FromMetroType']">
                                                                        <input type='radio' class='radio radio_auto'
                                                                               name='FromMetroType'
                                                                               :id="'FromMetroType-'+ index"
                                                                               :data-label='item' :value='index'
                                                                               v-model="response.searchParams['FromMetroType']">
                                                                        <label :for="'FromMetroType-' + index"
                                                                               v-html="item"></label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </li>
                                                <li class="radioDropDownFilter">
                                                    <dl class="dropdown dropdown_nav">
                                                        <dt class="filter_btn">
                                                <span class="select_form nav_arrow">
                                                    <span class="select_title">Состояние помещений</span>
                                                    <p class="multiSel">
                                                        <span :title="item" v-html="item"
                                                              v-for="(item, index) in furnishList"></span>
                                                    </p>
                                                    <span class="hida">любое</span>
                                                    </span>
                                                        </dt>
                                                        <dd class="filter_box">
                                                            <div class="mutliSelect">
                                                                <ul>
                                                                    <li v-for="(item, index) in response.filtersLists['Furnish']">
                                                                        <input type='radio' class='radio radio_auto'
                                                                               name='Furnish'
                                                                               :id="'Furnish-'+ index"
                                                                               :data-label='item'
                                                                               :value='index'
                                                                               v-model="response.searchParams['Furnish']">
                                                                        <label :for="'Furnish-' + index"
                                                                               v-html="item"></label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </li>
                                                <li class="rangeDropDownFilter">
                                                    <dl class="dropdown dropdown_nav">
                                                        <dt class="filter_btn">
                                                <span class="select_form nav_arrow">
                                                    <span class="select_title">Этаж</span>
                                                    <p class="multiSel">
                                                        от <span class="fromValue"
                                                                 v-html="response.searchParams.Level.From"></span> до <span
                                                            class="toValue"
                                                            v-html="response.searchParams.Level.To"></span>
                                                    </p>
                                                    <input type="hidden" class="_level" id='LevelFrom' name='LevelFrom'
                                                           v-model="response.searchParams.Level.From">
                                                    <input type="hidden" class="_level" id='LevelTo' name='LevelTo'
                                                           v-model="response.searchParams.Level.To">
                                                </span>
                                                        </dt>
                                                        <dd class="filter_box">
                                                            <div class="mutliSelect">
                                                                <ul>
                                                                    <li>
                                                                        <slider name="Level"
                                                                                :params="sliderLevelParams"></slider>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </li>
                                                <li class="rangeDropDownFilter">
                                                    <dl class="dropdown dropdown_nav">
                                                        <dt class="filter_btn">
                                                <span class="select_form nav_arrow">
                                                    <span class="select_title">Рейтинг здания</span>
                                                    <p class="multiSel">
                                                        от <span class="fromValue"
                                                                 v-html="response.searchParams.Rating.From"></span> до <span
                                                            class="toValue"
                                                            v-html="response.searchParams.Rating.To"></span>
                                                    </p>
                                                    <input type="hidden" class="_rating" id='RatingFrom'
                                                           name='RatingFrom'
                                                           v-model="response.searchParams.Rating.From">
                                                    <input type="hidden" class="_rating" id='RatingTo' name='RatingTo'
                                                           v-model="response.searchParams.Rating.To">
                                                </span>
                                                        </dt>
                                                        <dd class="filter_box">
                                                            <div class="mutliSelect">
                                                                <ul>
                                                                    <li>
                                                                        <slider name="Rating"
                                                                                :params="sliderRatingParams"></slider>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </li>
                                                <li class="radioDropDownFilter">
                                                    <dl class="dropdown dropdown_nav">
                                                        <dt class="filter_btn">
                                                <span class="select_form nav_arrow">
                                                    <span class="select_title">Вентиляция</span>
                                                    <p class="multiSel">
                                                        <span :title="item" v-html="item"
                                                              v-for="(item, index) in ventilationList"></span>
                                                    </p>
                                                    <span class="hida">любая</span>
                                                    </span>
                                                        </dt>
                                                        <dd class="filter_box">
                                                            <div class="mutliSelect">
                                                                <ul>
                                                                    <li v-for="(item, index) in response.filtersLists['Ventilation']">
                                                                        <input type='radio' class='radio radio_auto'
                                                                               name='Ventilation'
                                                                               :id="'Ventilation-'+ index"
                                                                               :data-label='item' :value='index'
                                                                               v-model="response.searchParams.Ventilation">
                                                                        <label :for="'Ventilation-' + index"
                                                                               v-html="item"></label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </li>
                                                <li class="radioDropDownFilter">
                                                    <dl class="dropdown dropdown_nav">
                                                        <dt class="filter_btn">
                                                <span class="select_form nav_arrow">
                                                    <span class="select_title">Кондиционирование</span>
                                                    <p class="multiSel">
                                                        <span :title="item" v-html="item"
                                                              v-for="(item, index) in conditionerList"></span>
                                                    </p>
                                                    <span class="hida">любое</span>
                                                    </span>
                                                        </dt>
                                                        <dd class="filter_box">
                                                            <div class="mutliSelect">
                                                                <ul>
                                                                    <li v-for="(item, index) in response.filtersLists['Conditioner']">
                                                                        <input type='radio' class='radio radio_auto'
                                                                               name='Conditioner'
                                                                               :id="'Conditioner-'+ index"
                                                                               :data-label='item' :value='index'
                                                                               v-model="response.searchParams.Conditioner">
                                                                        <label :for="'Conditioner-' + index"
                                                                               v-html="item"></label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </li>

                                            </ul>

                                        </div>

                                        <input type='hidden' class='blocksCounter' name='BlocksCounter'
                                               v-model="response.searchBlocksCount">
                                        <input type='hidden' name='SearchID' v-model="response.search.Info.SearchID">
                                        <input type='hidden' class='clientValue' name='ClientID'
                                               v-model="response.additParams.ClientID">
                                        <input type='hidden' class='activeSearchPage' name='additParams[Page]'
                                               v-model="response.additParams.Page">
                                        <input type='hidden' class='pageID' name='additParams[PageID]'
                                               v-model="response.additParams.PageID">
                                        <input type='hidden' class='clientValue' name='additParams[ClientID]'
                                               v-model="response.additParams.ClientID">
                                        <div v-html="response.orders['HTML']"></div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </td>

                    <td class="right_box" id="article">
                        <table class="main_top_box searchHeader">
                            <tr>
                                <td class="main_top_left_box">
                                    <div class="main_top_left_box_in inline middle searchCounter searchCounterBox">
                                <span class="text_sm"> {{ response.isSelectedPage ? 'Отобрано' : 'Найдено' }}
                                    <span id="showedBlocksItems">
                                        <span class="searchCounter"
                                              v-html="response.liteSearch.Info.CountText.Blocks.Count"></span> {{response.liteSearch.Info.CountText.Blocks.Text}}
                                    </span> в
                                    <span id="showedBuildsItems">{{response.liteSearch.Info.CountText.Builds.Count}} {{response.liteSearch.Info.CountText.Builds.Text}}</span>
                                </span>

                                    </div>
                                </td>

                                <td class="text-right" style="padding-right: 10px;">

                                    <template v-if="response.activeSearchPage != 'selected'">
                                        <div class="showNewBlocksOnlyBox inline middle" :class="response.noAgentClass">
                                            <input type='checkbox' class='iCheckbox showNewBlocksOnly'
                                                   v-model="response.additParams['ShowNewBlocksOnly']"
                                                   id='showNewBlocksOnly' value='1'
                                                   :checked="response.additParams['ShowNewBlocksOnly'] ? 'checked' : ''">
                                            <label for='showNewBlocksOnly'>Только новые</label>
                                        </div>
                                        <div class="inline middle">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    <img src="/img/design/settings.png">
                                                </button>
                                                <div class="searchMenuContent dropdown-menu">
                                                    <div class="inline middle">
                                                        <input type='checkbox' class='checkbox showSelectedBlocksItem'
                                                               :class="response.noAgentClass" id='showSelectedBlocks2'
                                                               value='1'
                                                               v-model="response.additParams['WithoutSelectedBlocks']">
                                                        <label for='showSelectedBlocks2'>Скрывать отобранные</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="searchSort inline middle">
                                            <div class="dropdown">
                                                <button type="button"
                                                        class="mainSortButton btn btn-default btn-sm dropdown-toggle"
                                                        data-toggle="dropdown"><img src="/img/strelka.png"></button>
                                                <div class="mainSortContent dropdown-menu">
                                                    <div>

                                                        <div v-for="(orderLabel, orderName) in response.orders['ForForm']"
                                                             class='mainSortItem'>
                                                            <input type="radio" class="radio searchOrder"
                                                                   :id="'Order_' + orderName" name="Orders"
                                                                   :value="orderName"
                                                                   v-model="response.additParams.Orders">
                                                            <label :for="'Order_' + orderName"
                                                                   v-html="orderLabel"></label>
                                                        </div>
                                                    </div>
                                                    <div class="center">
                                                        <button type="button" class="btn btn-success">Применить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>


                                </td>
                            </tr>
                        </table>
                        <div class="right_box_wr active searchContent">
                            <div class="search_items hide_box">
                                <SearchBuildItem v-if="response.search['Result']"
                                                 v-for="(build, index) in response.search['Result']"
                                                 :build="build"
                                                 :key="build.BuildID"
                                                 :data="response"></SearchBuildItem>

                                <div v-if="response.search['Result'].length === 0" class='empty_search'><span
                                        class='fa fa-ban'></span></div>
                            </div>

                            <!--<div v-html="moreButton"></div>-->
                            <!-- BEGIN MoreButton -->
                            <!-- <a data-no-map='1'
                                data-search-mode='getMore'
                                data-search-id='" + this.response.search[' Info']['SearchID'] + "' data-limit='10' data-search='" + this.response.searchName + "' href='#' class='btn_add_item hide_box searchButton " + this.response.noAgentClass + "' id='addSearchItems'><img
                                 class='wheel' src='/img/design/btn_add_item_loader.png' height='26' width='32'><span>Показать еще  <span>(+ <span
                                 id='moreBlocksCount' data-cnt='" + MoreButton[' BlocksCount'] + "'>" + MoreButton['BlocksCountFormat'] + "</span> " + MoreButton['BlocksCountText'] + ")</span></span></a>-->

                            <!--v-if="response.search.Info.MoreButton.BlocksCount > 0"-->
                            <a href="javascript:void(0);"
                               v-if="response.search.Info.MoreButton.BlocksCount > 0"
                               @click.prevent="doSearchLite"
                               class="btn_add_item hide_box "
                               :class="response.noAgentClass"
                               :data-search="response.searchParams.SearchName"
                               :data-limit="response.searchParams.Limit"
                               :data-search-id="response.search.Info.SearchID"
                               data-search-mode="getMore"
                               data-no-map="1">
                                <img v-show="!isSearchMoreLoaded" class="wheel"
                                     src="/img/design/btn_add_item_loader.png" height="26" width="32">
                                <span v-show="isSearchMoreLoaded">Показать еще  <span>(+
                                    <span id="moreBlocksCount" :data-cnt="response.search.Info.MoreButton.BlocksCount">
                                        {{response.search.Info.MoreButton.BlocksCount}}
                                    </span> {{response.search.Info.MoreButton.BlocksCountText}})</span>
                                </span>
                            </a>

                            <!-- END MoreButton -->
                            <div class="map_box_lg">

                                <div v-if="response.activeSearchPage != 'selected'" class="mapMenu">
                                    <div class="inline middle" :class="response.noAgentClass">
                                        <input type='checkbox' class='iCheckbox showNewBlocksOnly'
                                               id='showNewBlocksOnly2' value='1'
                                               v-model="this.response.additParams['ShowNewBlocksOnly']">
                                        <label for='showNewBlocksOnly2'>Только новые</label>
                                    </div>
                                    <div class="inline middle">
                                        <div class="dropdown">
                                            <button type="button" class="mapMenuButton btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown">
                                                <img src="/img/design/settings.png">
                                            </button>
                                            <div class="mapMenuContent dropdown-menu">
                                                <div :class="response.noAgentClass">
                                                    <input type='checkbox' class='checkbox'
                                                           :class="(response.additParams['ShowNewBlocksOnly'] || response.additParams['ShowNewBlocksOnly'] === true) ? 'active' : ''"
                                                           id='showResultOnly'
                                                           value='1'
                                                           :checked="response.additParams['ShowNewBlocksOnly'] ? 'checked' : ''">
                                                    <label for="showResultOnly">Только подходящие</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="gmap notAutoActive" id="searchMap"
                                     :data-lat="response.map.lat"
                                     :data-lng="response.map.lng"></div>
                            </div>
                        </div>
                        <!-- - - - - - - - - - - - - - End of Map box - - - - - - - - - - - - - - - - -->
                        <div v-show="searchOverlay" class="loadBox" style="display: block;">
                            <div><i class="fa fa-spin fa-refresh fa-5x fa-fw"></i></div>
                        </div>
                    </td>

                    <td class="open_map" v-bind:class="mapClass">
                        <div class="open_map_btn stick_box">
                <span class="open_map_text">
                    <span class="s">Объекты на карте</span>
                    <span class="h">Списком</span>
                </span>
                        </div>
                        <div class="scrollToTop">
                            <span class="fa fa-chevron-up"></span>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

            <modal-container v-show="showMap" :show-modal.sync="showMap" mode="show">
                <div slot="content">
                    <metro-map id="metroMap" :params="mapParams" :data="response.metroMap"></metro-map>
                </div>
            </modal-container>
        </section>
        <div class="waitLayer" style="height: 3302px; display: block;" v-show="searchOverlay"></div>
    </div>
</template>

<script>
    import slider from '../common/slider.vue';
    import SearchBuildItem from './searchBuildItem.vue';
    import MetroMap from "./metroMap.vue";
    import modalContainer from '../modal/modalContainerView.vue';
    import $ from 'jquery';
    import AgentBar from "./agentBar.vue";
    import _ from 'lodash';

    export default {
        name: 'Search',
        data() {
            return {
                showMap: false,
                title: 'Подбор помещений',
                response: [],
                isSearchMoreLoaded: true,
                searchOverlay: false

            }
        },
        components: {
            AgentBar,
            MetroMap, modalContainer,
            slider, SearchBuildItem
        },
        computed: {
            agentBarParams: function () {
                return {
                    'AddClient': true
                };
            },
            mapParams: function () {
                let self = this;
                return {
                    'ChooseFunc': 'setSearchMetroStations',
                    'SelectedStations': this.response.searchParams['Metros'],
                    'chooseClick': function () {
                        self.showMap = false;
                    }
                };
            },
            conditionerList: function () {
                return array_intersect_key(this.response.filtersLists['Conditioner'], array_flip(this.response.searchParams['Conditioner']));
            },
            ventilationList: function () {
                return array_intersect_key(this.response.filtersLists['Ventilation'], array_flip(this.response.searchParams['Ventilation']));
            },
            furnishList: function () {
                return array_intersect_key(this.response.filtersLists['Furnish'], array_flip(this.response.searchParams['Furnish']));
            },
            metroText: function () {
                let endings = this.response.endings;
                let count = Object.values(this.response.searchParams['Metros']).length;
                if (count == 0) return "Выбрать";
                return count > 0 ? "Выбран" + endings[1] + " " + count + " станци" + endings[2] : "Выбрать";
            },
            sliderSquareParams: function () {
                return {
                    'ID': 'SquareSearchSlider',
                    'PostLabel': ' м<sup>2</sup>',
                    'Min': this.response.blocksMinMax["Min" + this.response.searchParams['DealType'] + "Square"],
                    'Max': this.response.blocksMinMax["Max" + this.response.searchParams['DealType'] + "Square"],
                    'From': this.response.searchParams['Square']['From'],
                    'To': this.response.searchParams['Square']['To'],
                    'SliderOnly': true,
                    'Function': 'searchChangeSquareSliders',
                    'Manual': true
                };
            },
            sliderCostParams: function () {
                return {
                    'ID': 'CostSearchSlider',
                    'PostLabel': this.response.blocksMinMax[this.response.searchParams['DealType'] + "CostPostLabel"],
                    'Min': this.response.blocksMinMax["Min" + this.response.searchParams['DealType'] + "Cost"],
                    'Max': this.response.blocksMinMax["Max" + this.response.searchParams['DealType'] + "Cost"],
                    'From': this.response.searchParams['Cost']['From'],
                    'To': this.response.searchParams['Cost']['To'],
                    'SliderOnly': true,
                    'Function': 'searchChangeCostSliders',
                    'Manual': true,
                    'k': 20000
                };
            },
            sliderLevelParams: function () {
                return {
                    'ID': 'LevelSearchSlider',
                    'PostLabel': ' м<sup>2</sup>',
                    'Min': this.response.filtersLists['Level'][0],
                    'Max': this.response.filtersLists['Level'][1],
                    'From': this.response.searchParams['Level']['From'],
                    'To': this.response.searchParams['Level']['To'],
                    'SliderOnly': true,
                    'Manual': true
                };
            },
            sliderRatingParams: function () {
                return {
                    'ID': 'RatingSearchSlider',
                    'PostLabel': ' м<sup>2</sup>',
                    'Min': this.response.filtersLists['Rating'][0],
                    'Max': this.response.filtersLists['Rating'][1],
                    'From': this.response.searchParams['Rating']['From'],
                    'To': this.response.searchParams['Rating']['To'],
                    'SliderOnly': true,
                    'Manual': true
                };
            },
            moreButton: function () {
                let MoreButton = this.response.search['Info']['MoreButton'];
                let result = "";
                if (MoreButton['BlocksCount']) {
                    result = "<a data-no-map='1' data-search-mode='getMore' data-search-id='" + this.response.search['Info']['SearchID'] + "' data-limit='10' data-search='" + this.response.searchName + "' href='#' class='btn_add_item hide_box searchButton " + this.response.noAgentClass + "' id='addSearchItems'><img class='wheel' src='/img/design/btn_add_item_loader.png' height='26' width='32'><span>Показать еще  <span>(+ <span id='moreBlocksCount' data-cnt='" + MoreButton['BlocksCount'] + "'>" + MoreButton['BlocksCountFormat'] + "</span> " + MoreButton['BlocksCountText'] + ")</span></span></a>";
                }

                return result;
            },
            user() {
                return this.$store.getters.getterAuth;
            },
            'mapClass': function () {

                return (this.response.isSelectedPage ? 'forceSearch' : '') + ' ' + this.response.noAgentClass;
            }
        },
        methods: {
            updateMetro() {
                let metro = [];
                $('.location .placement input').each(function (ind, element) {
                    metro[metro.length] = $(element).val();
                });
                this.response.searchParams.Metros = metro;
            },
            loadMap(result) {
                result = result || {};
                $('#searchMap').parent().find('.map_item').remove(); // удаляем блок с инфой по зданию на карте

                var mapInfo = Global.maps.searchMap, // информация о карте
                    markers = mapInfo.markers; // массив маркеров

                if (mapInfo.gmapCluster) {
                    mapInfo.gmapCluster.setMap(null);

                    delete mapInfo.gmapCluster;
                }

                if (markers.length) { // если есть маркеры
                    for (var i = 0; i < markers.length; i++)
                        markers[i].marker.setMap(null); // стираем их с карты

                    Global.maps.searchMap.markers = []; // очищаем массив маркеров
                }

                delete mapInfo.settings.scrollwheel;

                var noMap = !mapInfo.map;

                if (noMap) // если нет карты, то инициируем её
                    mapInfo.map = new google.maps.Map(
                        mapInfo.container,
                        mapInfo.settings
                    );

                var gmapCluster = new MarkerClusterer(
                    mapInfo.map,
                    [],
                    {
                        gridSize: 40,
                        maxZoom: 15,
                        minimumClusterSize: 5
                    }
                    ),
                    zoomLimit = 15; // создаем кластер

                if (noMap) {
                    var lastZoom = mapInfo.settings.zoom, //последний зум
                        clusterClick = false; // граница скрытия/показа маркеров

                    mapInfo.map.addListener('zoom_changed', function () { // событие масштабирования
                        var curZoom = mapInfo.map.getZoom(),
                            isClusterClick = clusterClick
                                && (gmapCluster.getMaxZoom() + 1 >= zoomLimit)
                                && curZoom >= zoomLimit
                                && curZoom > lastZoom
                                && lastZoom < zoomLimit; // текущий зум

                        if (
                            in_array(zoomLimit, [curZoom, lastZoom]) // если перешли с границы зума на больший/меньший зум
                            && in_array(zoomLimit - 1, [curZoom, lastZoom])
                            || isClusterClick
                        ) {
                            $(Global.maps.searchMap.markers).each(function () { // перебираем маркеры
                                var item = this;

                                if (!item.inCluster) // те маркеры, которые не в кластере
                                    item.marker.setMap((curZoom - lastZoom >= 0 || isClusterClick) ? mapInfo.map : null); // скрываем или показываем
                            });

                            if (isClusterClick)
                                clusterClick = false;
                        }

                        lastZoom = curZoom;
                    });
                }

                var markersForCluster = [], // массив маркеров для кластеризации
                    allBuilds = result.AllBuilds || this.response.AllBuilds; // все здания

                var buildsList = this.response.liteSearch.Result;
                if (result.Map) {
                    buildsList = result.Map.Result;
                }


                for (var index = 0, count = buildsList.length; index < count; index++) { // перебираем результаты поиска
                    var build = buildsList[index];
                    if (!build.BlocksStr)
                        build.BlocksStr = '';

                    // информация по зданию
                    var inSelected = window.$.arrayIntersect(build.BlocksStr.split(','), Global.selectedBlocks).length || parseInt(build.NotShowedBlock),
                        markerName = inSelected ? 'poisk-green' : 'poisk'; // маркер по-умолчанию

                    var marker = new google.maps.Marker({ // создаем маркер
                        map: mapInfo.map,
                        position: new google.maps.LatLng(build.Lat + 0, build.Lng + 0),
                        icon: Global.markerPath + markerName + '.png',
                        // label: build.BlocksCount + '',
                        title: build.InternalName/*,
                         zIndex: 5*/
                    });

                    Global.maps.searchMap.markers.push({ // добавляем информацию о маркере в массив мареров
                        marker: marker, // сам маркер
                        data: build, // информация о маркере
                        // label: build.BlocksCount + '',
                        icons: { // иконки маркеров
                            current: markerName, // текущий
                            default: markerName, // по-умолчанию
                            active: inSelected ? 'poisk-green-active' : 'poisk-active', // активный
                            watched: inSelected ? 'poisk-green-watched' : 'poisk-watched' // использованный
                        },
                        inCluster: true
                    });

                    delete allBuilds[build.BuildID]; // удаляем здание из массива всех зданий

                    markersForCluster.push(marker);
                }

                var currentZoom = mapInfo.map.getZoom();

                for (var buildID in allBuilds) { // перебираем оставшиеся здания
                    var build = allBuilds[buildID], // информация о здании
                        hasBlocks = parseInt(build.BlocksCount),
                        markerName = hasBlocks ? 'other' : 'none', // иконка маркера по-умолчанию
                        markerLabel = hasBlocks ? build.BlocksCount + '' : '', // лейбл маркера по-умолчанию
                        markerParams = { // параметры маркера
                            map: currentZoom < zoomLimit ? null : mapInfo.map, // по-умолчанию не показываем маркеры без блоков
                            position: new google.maps.LatLng(build.Lat + 0, build.Lng + 0),
                            icon: Global.markerPath + markerName + '.png',
                            title: build.InternalName,
                            zIndex: -1
                        };

                    // if (markerLabel) // если есть лейбл
                    //     markerParams.label = markerLabel; // то надо его нарисовать

                    var marker = new google.maps.Marker(markerParams); // создаем маркер

                    Global.maps.searchMap.markers.push({ // добавляем информацию о маркере в массив маркеров
                        marker: marker,
                        data: build,
                        // label: markerLabel,
                        icons: {
                            current: markerName,
                            default: markerName,
                            active: hasBlocks ? 'other-active' : 'none-active',
                            watched: hasBlocks ? 'other-watched' : 'none-watched'
                        },
                        inCluster: false/*hasBlocks*/
                    });
                }

                for (var i in Global.maps.searchMap.markers) {
                    setMarkerEvent('searchMap', i);

                    if (Global.maps.searchMap.markers[i].inCluster)
                        markersForCluster.push(Global.maps.searchMap.markers[i].marker);
                }

                google.maps.event.addListener(gmapCluster, 'clusterclick', function (cluster) {
                    clusterClick = true;
                });

                gmapCluster.clearMarkers();
                gmapCluster.addMarkers(markersForCluster);

                Global.maps.searchMap.gmapCluster = gmapCluster;
            },
            loadData(routeParams) {
                if (!routeParams) {
                    routeParams = this.$route.params;
                }
                if (!routeParams.searchParams)
                    routeParams.searchParams = {};

                let self = this;
                apiAjax('search/get', {
                    'searchParams': routeParams.searchParams,
                    'searchPage': routeParams.pageName,
                    'ClientID': routeParams.ClientID ? parseInt(routeParams.ClientID) : 0
                }, function (response) {
                    self.response = response;
                    console.log('self.response', self.response);
                }, {async: false});
            },
            doSearch() {
                let self = this;
                self.isSearchMoreLoaded = false;
                self.searchOverlay = true;
                self.updateMetro();
                apiAjax('search/do', {
                    additParams: self.response.additParams,
                    searchParams: self.response.searchParams,
                    Parts: ['List'],// ['Map', 'List'],
                    SelectedBlocks: '',
                    SearchMode: '' //getMore
                }, function (response) {
                    self.response.search = response.List.search;
                    self.response.liteSearch.Result = response.List.liteSearch.Result;
                    self.response.liteSearch.Info.CountText.Blocks.Count = response.List.liteSearch.Info.Count.Blocks;
                    self.response.liteSearch.Info.CountText.Builds.Count = response.List.liteSearch.Info.Count.Builds;
                    initGalleryWrappers();
                    showObjectDetailsRating();
                    self.loadMap();
                    self.searchOverlay = false;
                }, {async: true, recaptcha: false});

                return false;
            },
            doSearchLite() {
                let self = this;
                self.searchOverlay = true;
                self.updateMetro();
                self.isSearchMoreLoaded = false;
                self.calculateSearchOffset();
                /*_.throttle(
                    function () {*/
                apiAjax('search/do', {
                    additParams: self.response.additParams,
                    searchParams: self.response.searchParams,
                    Parts: ['List'],// ['Map', 'List'],
                    SelectedBlocks: '',
                    SearchMode: 'getMore' //getMore
                }, function (response) {
                    console.log('DO RESPONSE', response);
                    self.response.search.Result = _.concat(self.response.search.Result, response.List.search.Result);
                    console.log('>>>>>>>>>>>>>>>>>>>', self.response.search.Result);
                    self.response.liteSearch.Result = response.List.liteSearch.Result;
                    self.response.liteSearch.Info.CountText.Blocks.Count = response.List.liteSearch.Info.Count.Blocks;
                    self.response.liteSearch.Info.CountText.Builds.Count = response.List.liteSearch.Info.Count.Builds;
                    initGalleryWrappers();
                    showObjectDetailsRating();
                    self.loadMap();
                    self.isSearchMoreLoaded = true;
                    self.searchOverlay = false;
                }, {async: false, recaptcha: false});
                return false;
                /*}, 2000);*/
            },
            calculateSearchOffset() {
                let offset = 0;
                let builds = Object.values(this.response.search.Result);
                for (let i = _.size(builds) - 1; i >= 0; i--) {
                    offset += _.size(builds[i].Blocks);
                }
                this.response.searchParams.Offset = offset;
                this.response.search.Info.MoreButton.BlocksCount -= offset;
                this.response.search.Info.MoreButton.BuildsCount -= this.response.searchParams.Limit;
            },
        },
        created() {
            Core.isDomInit = false;
            this.loadData();
        },
        updated() {
            initGalleryWrappers();
            showObjectDetailsRating();
            console.log('UPDATED');
        },
        beforeRouteUpdate(to, from, next) {
            this.loadData(to.params);
            next();
        },
        mounted() {
            let self = this;
            initSearch();
            initScrollToTop();
            initScroll();
            initMetroMap();
            initPlugins();
            Core.DOMReady();
            Core.windowLoad();
            initGalleryWrappers();
            showObjectDetailsRating();
            self.loadMap();
            setTimeout(function () {
                $('.radio_auto, #showNewBlocksOnly, ._level, ._rating').on('change', function (e) {
                    console.log('Some element change', e.target);
                    clearTimeout(filterSearchWithDelay);
                    let searchDelay = 2000;
                    filterSearchWithDelay = setTimeout(function () {
                        self.doSearch();
                    }, searchDelay);
                });
            }, 2000);
        },
        beforeDestroy() {
            Core.isDomInit = false;
        }
        /*watch: {
            response(newResponse) {
                console.log('AJAX >>>>>>>>>>>>>>>>>>>>>>');
                //alert('AJAX >>>>>>>>>>>>>>>>>>>>>>');
                //this.answer = 'Ожидаю, когда вы закончите печатать...'
                this.doSearch();
            }
        }*/
    }
</script>

<style>
    .searchBtn {
        width: 100%;
    }

    .btn_add_item img {
        display: inline-block;
    }
</style>