<template>
    <div>
        <router-link to="/search/">Go back</router-link>
    </div>
</template>
<script>
    import _ from 'lodash';

    export default {
        name: 'SearchSelectedItems',
        props: [],
        computed: {},
        mounted() {

        }
    }
</script>

<style lang="scss">

</style>