<template>
    <div>
        <h4>Зачем заполнять эти данные?</h4>
        <div class="text_gray">
            <div>
                Все эти контактные данные используются при создании презентаций по объектам недвижимости для Ваших клиентов. Заполняя все поля, Вы даете клиентам
                различные варианты связи с Вами, а также дополнительную информацию о Вас и Вашей компании.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-6">
                <h4>Предпросмотр презентации</h4>
                <div class="vueProfilePdfInfo">
                    <pdf-preview :profile="profile"></pdf-preview>
                </div>
            </div>
            <div class="col-xs-6">
                <h4>Образец презентации</h4>
                <pdf-preview :profile="exampleProfile" :params="exampleProfileParams"></pdf-preview>
            </div>
        </div>
    </div>
</template>

<script>
    import PdfPreview from "./pdfPreview.vue";
    export default{
        components: {PdfPreview},
        name: 'additInfo',
        data(){
            return {
                exampleProfile : {
                    Name: 'Филипп',
                    Surname: 'Иванов',
                    Post: 'Брокер по коммерческой недвижимости',
                    Color: '#0ab8b4',
                    contacts: {
                        'phone':[
                            {
                                value: '985-0000000'
                            },
                            {}
                        ],
                        'email': [
                            {value: 'ivanov@estate.org.ru'}
                        ]
                    },
                    images : {
                        Broker: {
                            image: {src: SITE_URL + 'img/pdf/foto.png'}
                        },
                        BrokerCompany: {
                            image: {src: SITE_URL + 'img/pdf/logo_en.png'}
                        }
                    },
                    CompanyImageHorizontal: 1,
                    CompanyName: 'Эстейт-Недвижимость',
                    CompanyPhone: '495-0000000',
                    CompanySite: 'www.estate.org.ru'

                },
                exampleProfileParams: {
                    StaticImages: true
                }
            };
        },
        props: ['profile']
    }
</script>