<template>

    <div class="pdfPagesPreview">


        <div class="tab-content col-xs-9">
            <div class='tab-pane pdfPagesPreviewContent active' id='mainPage'><pdf-main-page :profile="profile"></pdf-main-page></div>
            <div class='tab-pane pdfPagesPreviewContent' id='aboutPage'><pdf-about-page :profile="profile"></pdf-about-page></div>
            <div class='tab-pane pdfPagesPreviewContent' id='locationPage'><pdf-location-page :profile="profile"></pdf-location-page></div>
        </div>
        <ul class="nav nav-tabs col-xs-3">
            <li class='active'><a href='#mainPage' data-toggle='tab' class='pdfPagesPreviewHeader'><pdf-main-page :profile="profile"></pdf-main-page></a></li>
            <li><a href='#aboutPage' data-toggle='tab' class='pdfPagesPreviewHeader'><pdf-about-page :profile="profile"></pdf-about-page></a></li>
            <li><a href='#locationPage' data-toggle='tab' class='pdfPagesPreviewHeader'><pdf-location-page :profile="profile"></pdf-location-page></a></li>
        </ul>
    </div>
</template>
<script>

    import PdfAboutPage from "./pdf/about.vue";
    import PdfLocationPage from "./pdf/location.vue";
    import PdfMainPage from "./pdf/main.vue";



    export default{
        components: {PdfAboutPage, PdfLocationPage, PdfMainPage},
        name: 'pdfPagesPreview',
        props: ['profile'],
        data(){
            return {
                activePage: 'main',
                pages: ['about', 'main', 'location']
            };
        },
        computed: {

        }
    }
</script>