<template>
    <div v-if="profile">
        <table class="pdfContactPreview">
            <tbody>
                <tr>
                    <td>
                        <div class="pdfContactPreviewTitle">Контактная информация</div>
                        <hr v-bind:style="{'background-color': profile.Color}">
                        <table>
                            <tr>
                                <td class="profileImage" v-html="getImage" :style="profile.images.Broker.image ? '' : 'height: 85px;'"></td>
                                <td class="profileInfo">
                                    <div class="pdfContactPreviewText">Контактная информация для получения дополнительных сведений, обсуждения коммерческих условий и организации просмотров:</div>
                                    <h4><span data-field="Surname">{{ profile.Surname }}</span> <span data-field="Name">{{ profile.Name }}</span> <span data-field="Middlename">{{ profile.Middlename }}</span></h4>
                                    <div class="postName" data-field="Post">{{ profile.Post }}</div>
                                    <div>
                                        <div v-for="contact in profile.contacts.phone" class="contactItem phone" v-if="contact.value">{{ contact.value }}</div>
                                        <div v-for="contact in profile.contacts.email" class="contactItem" v-if="contact.value">{{ contact.value }}</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="companyInfoTr" data-hide="1" data-hide-field="CompanyName" v-show="profile.CompanyName">
                    <td>

                        <div class="companyInfo">
                            <table>
                                <tr>
                                    <td>
                                        <div v-show="!horizontality" v-html="getCompanyImage"></div>
                                    </td>
                                    <td>
                                        <div v-show="horizontality" v-html="getCompanyImage"></div>
                                        <h4 data-field="CompanyName">{{ profile.CompanyName }}</h4>
                                        <div class='contactItem phone' data-field="CompanyPhone" data-hide='1'>{{ profile.CompanyPhone }}</div>
                                        <div class='contactItem' data-field="CompanySite" data-hide='1'>{{ profile.CompanySite }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'pdfPreview',
        data(){
            return {};
        },
        computed:{
            horizontality: function(){
              return (this.profile.CompanyImage &&( parseFloat(this.profile.CompanyImage.Width) / parseFloat(this.profile.CompanyImage.Height)) >= 1.5) || this.params && this.params.StaticImages && this.profile.CompanyImageHorizontal
            },
            getImage: function(){
                return this.profile.images.Broker.image ? "<img src='" + this.profile.images.Broker.image.src + "'>" : this.profile.svg['profile/info'];
            },
            getCompanyImage: function(){
                return this.profile.images.BrokerCompany.image ? "<img src='" + this.profile.images.BrokerCompany.image.src + "'>" : this.profile.svg['profile/id'];
            }
        },
        props: ['profile', 'params']
    };
</script>