<template>
    <div class='panel addPhoneToUser'>
        <div class='panel-heading'>
            <h3 class='panel-title'>{{ questionText }} телефон?</h3>
        </div>
        <div class='panel-body'>
            <form>
                <div>{{ errorsText }}</div>

                <div v-if="profile.PhoneStatusID == 1" class="center addPhone" style="width: 150px;">
                    <div>
                        <input type="text" name="Phone" v-model="profile.Phone" v-mask="'(###) ###-####'">
                    </div>
                    <div>
                        <button type="button" class="btn btn-success" @click="saveStatus">Привязать</button>
                    </div>
                </div>


                <div  v-if="checkConfirmCodeForm"   class='enterCodeBox' style='width: 361px;'>
                    <table>
                        <tr>
                            <td>Телефон</td>
                            <td class='phoneNumberText'>{{ profile.PhoneFormat }}</td>
                        </tr>
                        <tr>
                            <td>Введите код</td>
                            <td>
                                <div class='inline middle'>
                                    <input type='text' id='code' name='Code' v-model="smsCode" class='form-control changePhoneCode'>
                                </div>
                                <div class='inline middle'>
                                    <button type='button' @click="resetCode" class='resetCodeBtn btn btn-warning fa fa-refresh'></button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <div class='inline middle'>
                                    <button type='button' class='btn btn-success' @click="saveStatus">Подтвердить</button>

                                    <button type='button' class='btn' @click="cancelStatus">Отменить</button>
                                </div>
                                <div class='inline middle confirmTimer'>{{ waitSmsTimeout | seconds}}</div>
                            </td>
                        </tr>
                    </table>
                </div>


                <div v-if="profile.PhoneStatusID == 4"  class="center">
                    <div>
                        <button type="button" class=" btn btn-success" @click="saveStatus" >Да</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';

    export default {
        name: 'phone-modal',
        data() {
            return {
                interval : null,
                errors : {},
                waitSmsTimeout : 0,
                smsCode : '',
                setStatuses : {
                    1 : 3,
                    3 : 4,
                    4 : 2,
                    2 : 1
                }
            }
        },
        methods: {
            '_getResponse' : function(response){
                let self = this;
                if(response.waitSmsTimeout)
                {
                    this.waitSmsTimeout = response.waitSmsTimeout || 0;

                    if(this.interval)
                        clearInterval(this.interval);

                    this.interval = setInterval(
                        function () {
                            if ( self.waitSmsTimeout > 0 ) {
                                self.waitSmsTimeout--;
                            } else {
                                clearInterval(self.interval);
                            }
                        },
                        1000
                    );
                }

                if(response.end && !response.back)
                {
                    this.$emit("update:showModal", false);
                }

                if(response.success)
                {
                    if(response.profile)
                    {
                        this.$emit('update:profile', response.profile);
                    }
                }
                if(response.errors)
                {
                    this.errors = response.errors;
                }
            },
            'saveStatus' : function(el){

                let self = this;
                self.errors = {};

                apiAjax('profile/savePhoneStatus', {statusID : this.getNewStatus, code : this.smsCode, phone : this.profile.Phone}, function(response){
                    self._getResponse(response);
                });

                return false;
            },
            'cancelStatus' : function(){
                //Откат на шаг назад
                let self = this;
                self.errors = {};

                apiAjax('profile/savePhoneStatus', {statusID : this.getPrevStatus, code : this.smsCode, phone : this.profile.Phone, back : 1}, function(response){
                    self._getResponse(response);
                });
                return false;


            },
            'checkCode' : function(e){
                e.stopPropagation();
            },
            'resetCode' : function (e) {
                e.stopPropagation();
                let self = this;

                this.errors = {};
                apiAjax('profile/sendSmsCode', {profile : this.profile, 'smsCode' : this.smsCode}, function (response) {
                    self._getResponse(response);
                });


                return false;
            }
        },
        props: [ 'profile', 'showModal' ],
        mounted() {

        },
        computed: {
            errorsText : function(){

                if(Object.keys(this.errors).length)
                {
                    return Object.values(this.errors).join("<br>");
                }
                else
                    return "";
            },

            'getPrevStatus' : function(){
                for(var key in this.setStatuses)
                {
                    if(parseInt(this.profile.PhoneStatusID) == this.setStatuses[key])
                    {
                        return key;
                    }
                }
                return false;
            },
            'getNewStatus' : function(){
                return this.setStatuses[this.profile.PhoneStatusID];
            },
            // телефон указан, но не подтвержден через смс
            'checkConfirmCodeForm' : function () {

                return $.inArray(parseInt(this.profile.PhoneStatusID), [2, 3]) !== -1;
            } ,
            'questionText' : function(){
                return $.inArray(parseInt(this.profile.PhoneStatusID), [1, 3]) !== -1 ? "Привязать" : "Вы точно хотите отвязать";
            },

        }
    }
</script>