<template>
    <div>

        <section class="pageContent main clearfix" style="min-height: 430px;">
            <h3 class="pageTitle inline middle">Профиль</h3>
            <div class="mainPadding pull-right saveProfileBtn" style="margin-top: 20px; height: 40px;">
                <button @click="saveBtn" id="saveProfileBtn" type="submit" class="btn btn-success btn-lg">Сохранить</button>
            </div>

            <form method="post" name="profileForm" id="profileForm">
                <input type="hidden" name="do" value="update">
                <div class="profileTab">
                    <div class="menu_detail">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">Информация пользователя</a></li>
                            <li class=""><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Информация о компании</a></li>
                            <li class=""><a href="#presentation" aria-controls="presentation" role="tab" data-toggle="tab">Презентация</a></li>
                            <li class=""><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Аккаунт</a></li>
                        </ul>
                    </div>
                    <div class="tab-content mainPadding">
                        <div role="tabpanel" class="tab-pane active" id="user">
                            <table>
                                <tbody>
                                    <tr>
                                    <td>
                                        <table class="table half clrTable">
                                            <tbody>
                                            <tr>
                                                <td>Фамилия</td>
                                                <td><input id="Surname" v-model="profile.Surname"/></td>
                                            </tr>
                                            <tr>
                                                <td>Имя</td>
                                                <td><input v-model="profile.Name"/></td>
                                            </tr>
                                            <tr>
                                                <td class="text_gray">Отчество</td>
                                                <td><input v-model="profile.Middlename"/></td>
                                            </tr>
                                            <tr>
                                                <td>Основной телефон</td>
                                                <td data-from-field="MainPhone"><input v-mask="'(###) ###-####'" v-model="profile.contacts.phone[0].value" /></td>
                                            </tr>
                                            <tr>
                                                <td class="text_gray">Дополнительный телефон</td>
                                                <td data-from-field="AdditionalPhone"><input v-mask="'(###) ###-####'" v-model="profile.contacts.phone[1].value" /></td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td data-from-field="Email"><input v-model="profile.contacts.email[0].value" /></td>
                                            </tr>
                                            <tr>
                                                <td class="top">Фотография</td>
                                                <td class="profileGallery">
                                                    <single-image :image.sync="profile.images.Broker.image" :imageParams="profile.images.Broker.imageParams"></single-image>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="pdfContactsPreviewContainer">
                                        <addit-info :profile.sync="profile"></addit-info>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane " id="company">
                            <table>
                                <tbody>
                                    <tr>
                                    <td>
                                        <table class="table half clrTable">
                                            <tbody>
                                                <tr>
                                                    <td>Наименование компании</td>
                                                    <td><input v-model="profile.CompanyName"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Должность</td>
                                                    <td><input v-model="profile.Post"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Городской телефон</td>
                                                    <td><input v-mask="'(###) ###-####'" v-model="profile.CompanyPhone"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Сайт</td>
                                                    <td><input v-model="profile.CompanySite"/></td>
                                                </tr>
                                                <tr>
                                                    <td class="top">Логотип</td>
                                                    <td class="profileGallery">
                                                        <single-image :image.sync="profile.images.BrokerCompany.image" :imageParams="profile.images.BrokerCompany.imageParams"></single-image>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="pdfContactsPreviewContainer">
                                        <addit-info :profile.sync="profile"></addit-info>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane " id="account">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table class="table half clrTable">
                                        <tbody>
                                        <tr>
                                            <td>Телефон</td>
                                            <td>
                                                <div class="inline middle">
                                                    <span>{{ profile.PhoneFormat }}</span>
                                                </div>

                                                <div class="inline middle">
                                                    <button type="button" class="btn btn-default" @click="showModal = true">{{ phoneBtnText }}</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Пол</td>
                                            <td class=" ">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <input id="GenderID-1" type="radio" name="GenderID" v-model="profile.GenderID" value="1"/>
                                                        <label class="text-normal" for="GenderID-1">мужской</label>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <input id="GenderID-2" type="radio" name="GenderID" v-model="profile.GenderID" value="2"/>
                                                        <label class="text-normal" for="GenderID-2">женский</label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>День рождения</td>
                                            <td><input v-mask="'##.##.####'" v-model="profile.Birthday"/></td>
                                        </tr>
                                        <tr>
                                            <td>Текущий пароль</td>
                                            <td><input v-model="profile.Password" type="password"/></td>
                                        </tr>
                                        <tr>
                                            <td>Новый пароль</td>
                                            <td><input v-model="profile.NewPassword" type="password"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-6"></div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane " id="presentation">
                            <table style="width: 100%;">
                                <tbody>
                                    <tr>
                                    <td>
                                        <table class="table half clrTable">
                                            <tbody>
                                                <tr>
                                                    <td>Цвет</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">

                                                        <div class="profileColorPicker"  ><buttons-colors :profile.sync="profile"></buttons-colors></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <input type="checkbox" name="ClientNameInTitle" v-model="profile.ClientNameInTitle"/>
                                                        <label class="text-normal" for="ClientNameInTitle">Указывать название клиента в сводной презентации</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <input type="checkbox" name="NoPrintContacts" v-model="profile.NoPrintContacts"/>
                                                        <label class="text-normal" for="NoPrintContacts">Не печатать лист с контактами</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="padding-right: 0; width: 705px;">
                                        <h4>Персонализируйте презентацию</h4>
                                        <div class="text_gray">
                                            <div>Выберите цвет из палитры, чтобы использовать его в качестве основного цвета для всех пиктограмм и различных дизайнерских элементов Ваших презентаций.</div>
                                        </div>
                                        <br>
                                        <h4>Предпросмотр презентации</h4>
                                        <pdf-pages-preview :profile="profile"></pdf-pages-preview>

                                    </td>
                                </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
    </div>
    </form>
        </section>

        <modal-container :show-modal.sync="showModal" v-show="showModal" >
            <div slot="content">
                <phone-modal :profile.sync="profile" :show-modal.sync="showModal"></phone-modal>
            </div>
        </modal-container>

        <modal-container :show-modal.sync="showErrorsModal" v-show="showErrorsModal" >
            <div slot="content" v-html="getErrors"></div>
        </modal-container>

    </div>


</template>

<style scoped lang="scss">
    .croped
    {
        overflow: visible;
    }
</style>

<script>
    import ButtonsColors from "./buttonsColors.vue";
    import modalContainer from '../modal/modalContainerView.vue';
    import PhoneModal from './PhoneModal.vue';
    import additInfo from './additInfo.vue';
    import singleImage from '../common/singleImage.vue';
    import PdfPagesPreview from "./pdfPagesPreview.vue";



    export default {
        name: 'ProfileEdit',

        data() {
            return {
                showModal : false,
                showErrorsModal: false,
                title: 'Редактирование профиля',
                errors: {},
                galleries : {},
                no_errors: true,

            }
        },
        components: {
            ButtonsColors,
            PdfPagesPreview,
            additInfo, PhoneModal, modalContainer, singleImage },
        beforeCreate() {

        },
        created() {
            this.$store.dispatch('loadProfile', this._apiResponse);
        },

        computed: {
            profile: function(){
              return     this.$store.getters.getProfile;
            },
            getErrors : function(){
                return "<div class='form_popup'>" + Object.values(this.errors).join('<br>') + "</div>";
            },

            phoneBtnText : function(){
                return $.inArray(parseInt(this.profile.PhoneStatusID), [1, 3]) !== -1 ? 'Привязать' : 'Отвязать';
            }
        },

        methods:{

            _apiResponse: function(response){

                if(response.galleries)
                {
                    this.galleries = response.galleries;
                }
                if(Object.values(response.errors).length)
                {
                    this.errors  = response.errors;
                    this.showErrorsModal = true;
                }
                else
                {
                    if(response.profile)
                    {
                        this.$store.commit('setProfile', response.profile);

                        $("input[data-mask!='']").each(function(id, obj){
                            obj.dispatchEvent(new Event('input'))
                        });
                    }

                    if(Object.values(response.info).length)
                    {
                        let $btn = $('#saveProfileBtn');
                        $btn.tooltip({
                            placement: 'left',
                            html: true,
                            title: response.info.join('<br>'),
                            trigger: 'manual'
                        });

                        $btn.tooltip('show');

                        setTimeout(function () {
                            $btn.tooltip('destroy');
                        }, 10000);
                    }

                }
            },
            saveBtn: function () {
                let self = this;
                apiAjax('profile/save', this.profile, function(response){
                   self._apiResponse(response);

                },{async : false});
            },
        },
        mounted() {
            setFooterPosition();
        }
    }
</script>