<template>
    <div class="registerConfirm panel absolute toCenter">
        <div class="panel-heading">
            <h3>Вход в аккаунт</h3>
        </div>
        <div class="panel-body">
            <div class="white-layer" v-if="whiteLayer"></div>
            <form id="loginForm">
                <div class="errors text-center"></div>
                <div class="form-group">
                    <label>E-mail</label>
                    <div class="errors pull-right">{{loginError}}</div>
                    <input type="text" name="login" v-model="user.login" value="">
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <div class="errors pull-right"></div>
                    <input type="password" name="pwd" v-model="user.pwd">
                </div>
                <div class="form-group remember">
                    <input type="checkbox" class="checkbox checkbox-success control_box_activ active"
                           id="loginCheckbox"
                           name="remember" v-model="user.remember" value="1" checked>
                    <label for="loginCheckbox">Запомнить меня</label>
                </div>
                <div class="center">
                    <div>
                        <button @click="loginUser" class="btn btn-success btn-no-border btn-lg">
                            Войти в систему
                        </button>
                    </div>
                    <a href="/restorePassword/" class="dashedRedLink text-gray bold">Забыли пароль?</a>
                    <a href="/register/" class="dashedRedLink bold">Зарегистрироваться</a>
                </div>
                <input type="hidden" v-model="user.step" name="step" value="1">
                <input type="hidden" name="req_page" value="">

            </form>

        </div>
    </div>
</template>

<script>
    import $ from 'jquery';
    import axios from 'axios';

    export default {
        name: 'login',
        data: function () {
            return {
                loginError: '',
                user: {},
                whiteLayer: false
            }
        },
        methods: {
            loginUser(e) {
                let self = this;
                e.preventDefault();
                self.whiteLayer = true;
                apiAjax('auth/login', self.user, function (response) {
                    console.log('Start login');
                    if (response) {
                        console.log('Response true => ', response);
                        if (response.success === true) {
                            console.log('Auth TRUE');
                            self.$store.dispatch('actionAuth', {
                                token: response.success,
                                login: response.user.login,
                                id: response.user.user,
                                profile: response.profile
                            });
                            self.$router.push('/clients');
                        } else {
                            //console.log('Success false');
                            self.loginError = response.errors[0];
                            //console.log('LOGIN ERR', response.errors[0]);
                            self.$store.dispatch('actionAuth', {token: response.auth, login: '', id: 0});
                            self.whiteLayer = false;
                        }
                    }
                });
                return false;
            }
        },
        computed: {
            /*user(){
                return this.$store.getters.getterAuth;
            }*/
        },
        mounted() {
            document.body.classList.add('main_box_filter_bg');
        },
        beforeDestroy() {
            document.body.classList.remove('main_box_filter_bg');
        }
    }
</script>

<style scoped lang="scss">
    .white-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        background-color: rgba(255, 255, 255, .5);
    }
</style>