<template>
    <section class="pageContent main clearfix"><div class="register step1 absolute toCenter ">
        <div class="registerHeader center">
            <div class="autoMargin">
            <span class="forAgent changeInformation active">
                Зарегистрируйтесь и начните работать со всеми собственниками Москвы!

            </span>
                <span class="forOwner changeInformation ">
                Зарегистрируйтесь и начните работать со всеми агентами Москвы!
            </span>

            </div>
            <div class="autoMargin registerTabs">
                <ul class="nav">
                    <li class="active"><a @click="changeGroup('agent')" href="#forAgent" data-toggle="tab" class="registerTabBtn">Агенту</a></li>
                    <li><a @click="changeGroup('owner')" href="#forOwner" data-toggle="tab" class="registerTabBtn">Собственнику</a></li>
                </ul>
            </div>
        </div>
        <div class="registerBody center">
            <div class="tab-content">
                <div class="tab-pane active" id="forAgent">
                    <table>
                        <tbody><tr>
                            <td>
                                <img src="/img/icons/register/inf.png">
                            </td>
                            <td>
                                <div class="bold">Только актуальные предложения</div>
                                <div>11867 вариантов для ваших клиентов</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/icons/register/talk.png">
                            </td>
                            <td>
                                <div class="bold">Прямые контакты собственников</div>
                                <div>Работай без посредников</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/icons/register/percent.png">
                            </td>
                            <td>
                                <div class="bold">Подтвержденный размер вознаграждения</div>
                                <div>Предлагайте клиентам без комиссии</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/icons/register/pres.png">
                            </td>
                            <td>
                                <div class="bold">Качественные презентации в один клик</div>
                                <div>С вашими контактами и логотипом</div>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
                <div class="tab-pane" id="forOwner">
                    <table>
                        <tbody><tr>
                            <td>
                                <img src="/img/icons/register/mens.png">
                            </td>
                            <td>
                                <div class="bold">Реализация вашего объекта</div>
                                <div>Агенты предложат ваши помещения своим клиентам</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/icons/register/present.png">
                            </td>
                            <td>
                                <div class="bold">Анализ и мониторинг рынка</div>
                                <div>11867 актуальных вариантов</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/icons/register/pres.png">
                            </td>
                            <td>
                                <div class="bold">Качественные презентации в один клик</div>
                                <div>Для рассылок и показов</div>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
            <div class="itsFree"><div><div></div><div></div></div><div>Бесплатно!</div><div><div></div></div></div>
        </div>
        <div class="registerFooter">
            <form>
                <input type="hidden" name="Group" v-model="user.Group" value="agent">
                <table>
                    <tbody><tr>
                        <td>
                            <div><input type="text" name="Email" v-model="user.Email" placeholder="Введите ваш e-mail" value=""></div>
                            <div class="errors"></div>
                        </td>
                        <td>
                            <button type="submit" @click="registerUser" class="btn btn-success btn-lg btn-no-border">Зарегистрироваться</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="agreeLinks" colspan="2">
                            Нажимая кнопку "Зарегистрироваться", Вы даёте<br>
                            согласие на обработку <router-link to="/personal-data" target="_blank">своих персональных данных</router-link><br>
                            и принимаете условия <router-link to="/agreement" target="_blank">пользовательского соглашения</router-link>
                        </td>
                    </tr>
                    </tbody></table>
                <input type="hidden" name="Step" v-model="user.Step" value="SaveEmail">
                <input type="hidden" name="DoStep" v-model="user.DoStep" value="1">
            </form>
        </div>
    </div>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'register',
        data: function () {
            return {
                user: {
                    Email: null,
                    Group: 'agent',
                    Step: null,
                    DoStep: null
                }
            }
        },
        methods: {
            registerUser(e) {
                e.preventDefault();
                let self = this;
                axios.post(SITE_URL + 'api/auth/restore/', self.user)
                    .then(function (response) {
                        let token = response.data.token;
                        console.log(response);
                        localStorage.setItem('token', token);
                    }).catch(function (error) {
                    console.log(error);
                });
                return false;
            },
            changeGroup(group){
                let self = this;
                self.user.Group = group;
            }
        },
        mounted() {
            document.body.classList.add('main_box_filter_bg');
        },
        beforeDestroy() {
            document.body.classList.remove('main_box_filter_bg');
        }
    }
</script>

<style>

</style>