<template>
    <div class="registerConfirm panel absolute toCenter">
        <div class="panel-heading">
            <h3>Забыли пароль?</h3>
        </div>
        <div class="panel-body ">
            <form method="POST">
                <div class="form-group">
                    Чтобы восстановить свой пароль, введите e-mail, указанный при регистрации.
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <div class="errors pull-right"></div>
                    <input type="text" name="Email" value="">
                </div>
                <div class="center">
                    <div>
                        <button type="submit" class="btn btn-success btn-no-border btn-lg">Восстановить пароль</button>
                    </div>
                    <router-link :to="{ name: 'auth_register'}" class="dashedRedLink bold">Зарегистрироваться</router-link>
                </div>
                <input type="hidden" name="Key" value="">
                <input type="hidden" name="Step" value="CheckEmail">
                <input type="hidden" name="Part" value="RestorePass">
                <input type="hidden" name="DoStep" value="1">
            </form>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'restore_pwd',
        data: function () {
            return {
                user: {
                    login: null,
                    pwd: null,
                    remember: null,
                    step: null,
                    req_page: document.location.pathname
                }
            }
        },
        methods: {
            loginUser(e) {
                e.preventDefault();
                let self = this;
                axios.post(SITE_URL + 'api/auth/restore/', self.user)
                    .then(function (response) {
                        let token = response.data.token;
                        console.log(response);
                        localStorage.setItem('token', token);
                    }).catch(function (error) {
                    console.log(error);
                });
                return false;
            }
        },
        mounted() {
            document.body.classList.add('main_box_filter_bg');
        },
        beforeDestroy() {
            document.body.classList.remove('main_box_filter_bg');
        }
    }
</script>

<style>

</style>