<template>

    <div class="aboutPage pdfPreviewPage">
        <hr class="titleLine colorize" :style="{'background-color': '#' + profile.Color }" data-style="background-color">
        <img src="/img/pdf/pages/about.png">

        <div class="bcSystems" style="top: 229px; left: 39px;" v-html="profile.svg.ventilation"></div>
        <div class="bcSystems" style="top: 229px; left: 294px;" v-html="profile.svg.condition"></div>
        <div class="bcSystems" style="top: 289px; left: 294px;" v-html="profile.svg.firealarm"></div>
        <div class="bcSystems" style="top: 289px; left: 39px;" v-html="profile.svg.plug"></div>
        <div class="bcInfo" style="top: 407px; left: 40px;" v-html="profile.svg.parking_in"></div>
        <div class="bcInfo" style="top: 407px; left: 214px;" v-html="profile.svg.com_in"></div>
        <div class="bcInfo" style="top: 407px; left: 387px;" v-html="profile.svg.guard_in"></div>
    </div>

</template>

<script>
    export default{
        name: 'pdfAboutPage',
        props: ['profile'],
        data(){
            return {};
        },
    }
</script>