<template>
    <div class="locationPage pdfPreviewPage">
        <img src="/img/pdf/pages/location.png">
        <hr class="titleLine colorize" :style="{'top': '68px', 'background-color': '#' + profile.Color}" data-style="background-color">

        <div class="geoMerker" v-html="profile.svg.pin"></div>
        <div class="areaSvg" v-html="profile.svg['location/cult_delovoy_rayon']"></div>
        <div class="magistralSvg" v-html="profile.svg.magistral"></div>
        <div class="magistralText">Ближайшие магистрали</div>
        <div class="listMarker colorize" :style="{'background-color': '#' + profile.Color}" data-style="background-color"></div>
    </div>
</template>

<script>
    export default{
        name: 'pdfLocationPage',
        props: ['profile'],
        data(){
            return {};
        },
    }
</script>