<template>
    <div class="mainPage pdfPreviewPage">
        <img src="/img/pdf/pages/main.png">
        <div class="mainBorder colorize" :style="{'border-color': '#' + profile.Color }" data-style="border-color"></div>
        <div class="mainHr colorize" :style="{'background-color': '#' + profile.Color }" data-style="background-color"></div>

        <div class="mainGeoMerker" v-html="profile.pin"></div>

        <div class="mainParam" style="left: 236px; top: 405px;" v-html="profile.svg['advantages/metro']"></div>
        <div class="mainParam" style="left: 436px; top: 405px;" v-html="profile.svg['advantages/class']"></div>
        <div class="mainParam" style="left: 636px; top: 405px;" v-html="profile.svg['advantages/sun']"></div>
        <div class="mainParam" style="left: 837px; top: 405px;" v-html="profile.svg['advantages/ploshad']"></div>
    </div>

</template>

<script>
    export default{
        name: 'pdfMainPage',
        props: ['profile'],
        data(){
            return {};
        },
    }
</script>