<template>
    <div>
        <div class="section_offset clearfix">
            <ul class="tenant_wr">

                <li class="tenant_box" v-for="renter in renters">
                    <div class="tenant_img">
                        <div>
                            <!--<img :src="renter.logo === '' ? 'https://ph.ru/img/design/empty_renter.jpg' : renter.logo">-->
                            <img src="https://ph.ru/img/design/empty_renter.jpg">
                        </div>
                    </div>
                    <div class="tenant_box_cont">
                        <strong>{{renter.Name}}</strong>
                        <p class="text_sm">{{renter.Type}}</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'codRenters',
        data() {
            return {
                title: 'codRenters',
                phone: ''
            }
        },
        computed: {
            renters() {
                return this.$store.getters.bcDataRenters;
            }
        },
        created() {
            //console.log('PARAMS = >', this.$route.params.renters);
            let self = this;
            if (self.objectLoaded === false) {
                apiAjax('bc/get', {InternalNameTranslit: self.$route.params.address}, function (data) {
                    console.log('BuildData =>', data);
                    self.$store.dispatch('bcData', data);
                    self.$store.dispatch('bcDataLoaded', true);
                    setFooterPosition();
                    console.log(self.objectLoaded);
                }, {async: true});
            }
            console.log('RENTERS', self.renters);
        },
        mounted(){
            let body = $("html, body");
            body.stop().animate({scrollTop: 0}, 500, 'swing');
        }
    }
</script>

<style lang="scss">
    .tenant_box {
        display: inline-block;
        float: none;
    }

    .tenant_box_cont {
        height: auto;
    }
</style>
