<template>
    <div>
        <ul class="information_wr_2 section_offset_no_br blockItem ">
            <li class="clearfix">
                <div class="favorites">
                    <span class="text_gray">Обновлено {{currentBlock.UpdateDay | prettyShortDate}}</span>
                    <br><span class="btn_green_3 btn_active manualActive noActive" data-client=""
                              onclick="selectBlockForClient(this, 75128)"><span
                        class="s">Отобрать</span><span class="h">Отобрано</span></span></div>
                <div class="information_box">
                    <span class="text_lg"><strong>{{currentBlock.DealName + ' ' + currentBlock.BlockType2}}</strong></span>
                    <div class="text_big_box">
                        <span class="text_big text_red"><strong>{{currentBlock.Square}} м<sup>2</sup></strong></span>
                        <span class="icon_line"></span>

                        <span class="text_big"><strong>{{currentBlock.Cost1 | prettyDigits}}</strong></span>
                        <span class="text_sm">руб./м<sup>2</sup> в год</span>
                        <span class="icon_line"></span>

                        <div class="d_ib">
                            <span class="text_big"><strong>{{currentBlock.Cost2 | prettyDigits}}</strong></span>
                            <span class="text_sm">руб./мес</span>
                            <span class="arrow_label">{{currentBlock.ClearTaxesNameShort}}</span> <span
                                class="discount_box tooltip tooltipstered">{{parseFloat(currentBlock.Commission)}}%</span>
                        </div>
                    </div>
                    <!-- <div class="text_resp_box">
                        <span class="text_sm text_gray">50 рабочих мест с мебелью</span>
                    </div> -->
                </div>
            </li>
        </ul>


        <div class="section_offset"></div>


        <div class="blockParams">
            <div class="section_offset form_inline box_2_col">
                <h5>Основная информация</h5>
                <div class="clearfix">
                    <div class="list_description">
                        <ul>
                            <li>Арендуемая площадь <span class="noWrap">88 м<sup>2</sup></span></li>
                            <li>Этаж <span class="noWrap">2</span></li>
                            <li><span class="noWrap">Без внутренней отделки</span></li>
                            <li><span class="noWrap">Готово к въезду </span></li>
                            <li><span class="noWrap">Открытая планировка</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section_offset form_inline box_2_col">
                <h5>Коммерческие условия</h5>
                <div class="clearfix">
                    <div class="list_description">
                        <ul>
                            <li>Базовая арендная ставка <span class="noWrap">23 000 <span class="rubl"></span> за м<sup>2</sup> в год</span>
                            </li>
                            <li>Эксплуатационные расходы <span class="noWrap">3 500 <span class="rubl"></span> за м<sup>2</sup> в год</span>
                            </li>
                            <li><span class="noWrap">НДС включен в арендную ставку</span></li>
                            <li>Коммунальные услуги <span class="noWrap">оплачиваются по факту</span></li>
                            <li>Предоплата <span class="noWrap">2 месяца</span></li>
                            <li>Страховой депозит <span class="noWrap">2 месяца</span></li>
                            <li><span class="noWrap">Договор прямой аренды</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="section_offset">

            <!--<p>
                <a href="" class="btn_1">Посмотреть планировки</a>
            </p>-->

            <div class="load_btn_wr">
                <a target="_blank" :href="'/PDF/m1/block/'+currentBlock.BlockID+'/'" class="pdfLink btn_load manualActive pdfEditor"
                   data-name="block" :data-parents="currentBlock.BlockID">
                    <span class="loadIcon format"><span class="format format_pdf"></span></span>
                    <span class="btn_load_text">Скачать презентацию</span>
                </a>
                <div class="load_btn_title">
                    <em>Загрузите подробную презентацию по <br> помещению для дальнейшей работы</em>
                </div>
            </div>
        </div>


        <div class="gray_information_box clearfix">
            <div class="firm_box">
                <div class="firm_img">
                    <img src="/img/default2.png">
                </div>
                <div class="firm_title">
                    <strong class="inline middle text_lg">Контактная информация</strong><br>
                    <span id="showBlockContacts" class="text_sm ownerLink" @click="showContacts(currentBlock.OwnerID)" :data-owner="currentBlock.OwnerID" :data-block="currentBlock.BlockID">
                        <span class="text_sm text_gray">Собственник /</span>
                        <span class="icon_green_phone"></span>
                        <span class="ownerLinkText">Показать контакты</span>

                    </span>
                </div>
            </div>
        </div>
        <div id="blockContactsContainer" style="display: block;">
            <!--<div class="people_box_wr people_box_3_cell ">
                <div class="people_box">
                    <div class="people_box_in">
                        <div class="people_box_ava">
                            <img src="/img/design/people_ava_no.jpg" height="66" width="66">
                        </div>
                        <div class="people_box_cont">
                            <p><strong>&nbsp;</strong></p>
                            <div class="personPost text_gray">&nbsp;</div>
                            <span class="text_lg">+7 (495) 545-4300</span><br></div>
                    </div>
                    <div class="people_box_in">
                        <div class="people_box_ava">
                            <img src="/img/design/people_ava_no.jpg" height="66" width="66">
                        </div>
                        <div class="people_box_cont">
                            <p><strong>Елена</strong></p>
                            <div class="personPost text_gray">Менеджер</div>
                            <span class="text_lg">+7 (926) 665-6449</span><br></div>
                    </div>
                    <div class="people_box_in"></div>
                </div>
            </div>-->
        </div>

        <div id="bcMap" class="defaultMap bcBlockMap"
             :data-lat="bcd.info.Lat"
             :data-lng="bcd.info.Lng"
             data-zoom="14"
             :data-title="bcd.info.InternalName"
             data-marker="active"
             style="position: relative; overflow: hidden;"></div>

        <div class="section_offset"></div>

    </div>
</template>

<script>
    import _ from 'lodash';

    export default {
        name: 'codOffices',
        data() {
            return {
                address: this.$route.params.address
            }
        },
        computed: {
            bcd() {
                return this.$store.getters.bcData;
            },
            blocks() {
                return this.$store.getters.bcDataBlocks;
            },
            currentBlock() {
                let self = this;
                return _.find(self.blocks, function (o) {
                    return o.BlockID === self.$route.params.blockid;
                });
            },
            blockChoosen() {
                return this.$store.getters.bcDataBlockChoosen;
            }
        },
        methods: {
            showContacts(blockId) {
                loadOwnerModal(blockId, this);
            },
        },
        updated() {
            initDefaultMaps();
        },
        created() {
            apiAjax('bc/get', {InternalNameTranslit: this.$route.params.address, block: this.$route.params.blockid, bcPage: 'offices'}, function (data) {
                console.log('>>>>>>>>>>>>>>' ,data);
            }, {async: false});

            goTop(0, 500, 'swing');
        },
        mounted() {
            initDefaultMaps();
            this.$store.dispatch('setBlockChoosen', {loaded: true, data: this.currentBlock, address: this.address});
            initTooltipster();
            console.log(this.currentBlock);
        }
    }
</script>

<style lang="scss">
    .box_2_col {
        width: 49.5%;
    }
</style>
