<template>
    <section class="pageContent main clearfix">
        <h3 class="pageTitle">{{title}}</h3>
        <div class="mainPadding buildsCatalog">
            <div id="catalog-object">

                <form class="searchInput">
                    <div class="inline middle">
                        <input name="Search" class="catalog-search-field"
                               placeholder="Пример: Московский переулок, 1, Москва" value="маршала"
                               v-model="searchText">
                    </div>
                    <div class="inline middle">
                        <button @click.prevent="getObjectsBySearch" type="submit" class="btn btn-success btn-lg bold">
                            Поиск
                        </button>
                    </div>
                </form>
                <!--<div class="catalog-object__search">
                    <input type="text" v-model="searchText">
                    <button @click="getObjectsBySearch">Find Object</button>
                </div>-->
                <h1>{{$route.params.id}}</h1>
                <ul class="symbols">
                    <li class="symbols__item"
                        @click="getObjectsBySymbol(item)" v-for="item in symbols.digits">
                        <router-link class="symbols__item"
                                     :class="{ 'symbols__item--active': (item ==  $route.params.symbol)}"
                                     :to="{ name: 'catalog_search', params: { symbol: item } }">{{item}}
                        </router-link>
                    </li>
                </ul>
                <ul class="symbols">
                    <li class="symbols__item" @click="getObjectsBySymbol(item)" v-for="item in symbols.letters.ru">
                        <router-link class="symbols__item"
                                     :class="{ 'symbols__item--active': (item ==  $route.params.symbol)}"
                                     :to="{ name: 'catalog_search', params: { symbol: item } }">{{item}}
                        </router-link>
                    </li>
                </ul>
                <ul class="symbols">
                    <li class="symbols__item" @click="getObjectsBySymbol(item)" v-for="item in symbols.letters.en">
                        <router-link class="symbols__item"
                                     :class="{ 'symbols__item--active': (item ==  $route.params.symbol)}"
                                     :to="{ name: 'catalog_search', params: { symbol: item } }">{{item}}
                        </router-link>
                    </li>
                </ul>
                <!--<div class="catalog-object__items">
                    <img src="http://www.lumene.com/sites/all/themes/lumene2016/images/loading.gif" alt=""
                         v-show="is_objects_loading" class="loader">
                    <div v-show="objects.length > 0">
                        <div class="catalog-object__item" v-for="object in objects">
                            <span class="catalog-object__item-id">{{object.postId}}</span> {{object.name}}
                        </div>
                    </div>
                </div>-->
            </div>


            <div class="buildingsContainer">
                <img src="http://www.lumene.com/sites/all/themes/lumene2016/images/loading.gif" alt=""
                     v-show="is_objects_loading" class="loader">
                <table class="table" v-show="!is_objects_loading">
                    <tbody>
                    <search-row v-for="(item, index) in CurrentResults" :key="index" :row="item"></search-row>
                    </tbody>
                </table>
                <uib-pagination :total-items="bigTotalItems"
                                v-if="results.items.length > results.limit && !is_objects_loading"
                                v-model="pagination"
                                :max-size="results.limit"
                                class="pagination-sm"
                                :boundary-link-numbers="true" :rotate="false"
                                @change="getResultPageByPaginator">
                </uib-pagination>
                <!--<pre>Page: {{pagination.currentPage}} / {{pagination.numPages}}</pre>-->
            </div>
            <hr>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';
    import _ from 'lodash';
    import SearchRow from './components/SearchRowView.vue';

    export default {
        name: 'catalogObject',
        components: {SearchRow},
        computed: {
            bigTotalItems() {
                return this.results.items.length / 2;
            },
            CurrentResults() {
                let self = this;
                return self.results.items.filter(function (value, index) {
                    return _.inRange(index, (self.pagination.currentPage - 1) * self.results.limit, self.pagination.currentPage * self.results.limit);
                })
            }
        },
        data() {
            return {
                pagination: {currentPage: 1},
                title: 'Каталог объектов',
                symbols: {
                    digits: [1, 2, 3, 4, 5, 6, 7, 8, 9],
                    letters: {
                        en: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
                        ru: ['а', 'б', 'в', 'г', 'д', 'е', 'ж', 'з', 'и', 'к', 'л', 'м', 'н', 'о', 'п', 'р', 'с', 'т', 'у', 'ф', 'х', 'ц', 'ч', 'ш', 'щ', 'э', 'ю', 'я']
                    }
                },
                searchText: '',
                objects: [],
                results: {
                    limit: 20,
                    items: []
                },
                is_objects_loading: false,
            }
        },
        methods: {
            getObjectsBySymbol: _.throttle(function (symbol) {
                let self = this;
                self.is_objects_loading = true;
                apiAjax('catalog/get', {Letter: symbol}, function (data) {
                    //console.log('CatalogData =>', data);
                    self.results.items = data.buildings;
                    self.pagination.currentPage = 1;
                    self.is_objects_loading = false;
                    setFooterPosition();
                }, {async: true});
            }, 200),
            getObjectsBySearch: _.throttle(function () {
                let self = this;
                self.is_objects_loading = true;
                apiAjax('catalog/get', {Search: self.searchText}, function (data) {
                    //console.log('CatalogData =>', data);
                    self.results.items = data.buildings;
                    self.pagination.currentPage = 1;
                    self.is_objects_loading = false;
                    setFooterPosition();
                }, {async: true});
            }, 200),
            getResultPageByPaginator() {
                //console.log('Currentpage =>', this.pagination.currentPage);
            }
        },
        created() {
            if (typeof this.$route.params.symbol !== "undefined") {
                this.getObjectsBySymbol(this.$route.params.symbol);
            } else {
                this.getObjectsBySymbol(1);
            }
            goTop(0, 500, 'swing');
        },
        mounted() {
            //autoResizeWindow();
            setFooterPosition();
        }
    }
</script>

<style lang="scss">
    .symbols {
        margin: 10px;
        font-family: Arial;
    }

    .symbols__item {
        display: inline-block;
        background: none;
        padding: 0;
        font-weight: bold;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-right: 0;
        font-size: 17px;
        line-height: 30px;
        color: #9e9e9e;
        border: none !important;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        border-radius: 4px;
        &:hover {
            background-color: #e6e6e6;
            color: #9e9e9e;
        }
        &:active {
            background-color: #ea212d;
            color: #fff !important;
        }
        &--active {
            background-color: #ea212d;
            color: #fff !important;
            &:hover {
                background-color: #ea212d;
                color: #fff;
            }
        }
        @media (max-width: 600px) {
            & {
                width: 20px;
                height: 20px;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .catalog-object {
        margin-top: 20px;
        &__items {
            border: 1px solid #ccc;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
        }

        &__item {
            border-bottom: 1px solid #ccc;
            transition: all .2s ease-in-out;
            cursor: default;
            padding: 25px 10px;
            &:hover {
                background-color: #eee;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        &__item-id {
            position: relative;
            top: -1px;
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            background-color: #d35400;
        }
    }

    .catalog-search-field {
        min-width: 500px;
    }


</style>
