<template>
    <table class="section_offset bcLocation">
        <tr>
            <td colspan="2">
                <div id="bcMap" class="defaultMap"
                     :data-lat="bcd.info.Lat"
                     :data-lng="bcd.info.Lng"
                     data-zoom="14"
                     :data-title="bcd.info.InternalName"
                     data-marker="active"
                     style="position: relative; overflow: hidden;">
                </div>

                <div class="bg-grey height100 pd-v30">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-2" align="right"><img class="locationIcon"
                                                                         src="/img/icons/location/adres.png"></div>
                                <div class="col-xs-10 text_sm">
                                    {{city}}
                                    <br>
                                    <span class="address"><strong>{{bcd.info.TrimedAddress}}</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-xs-3" align="right"><img class="locationIcon"
                                                                                 src="/img/icons/location/rayon.png">
                                        </div>
                                        <div class="col-xs-9 text_sm">
                                            Район
                                            <br>
                                            <span class="address "><strong>{{bcd.info.AreaName}}</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="col-xs-5" align="right"><img class="locationIcon"
                                                                                 src="/img/icons/location/okrug.png">
                                        </div>
                                        <div class="col-xs-7 text_sm">
                                            Округ
                                            <br>
                                            <span class="address "><strong>{{bcd.info.DistrictName}}</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pd30">
                    <div class="row">
                        <div class="col-xs-4" v-if="getObjectLengthBool(metros)">
                            <h5>Ближайшие станции</h5>
                            <ul>
                                <li v-for="metro in metros">
                                    <span class="metro_icon metro_icon_blue mr10 inline middle"
                                          :style="'background-color: #'+ metro.LineColor +';'">М</span>
                                    <span class="inline middle">{{metro.StationName}}</span>
                                    <span class="inline middle text_gray i">&rarr;</span>
                                    <span class="inline middle text_gray i">
                                        <span class="fromMetroIcon"
                                              :class="metro.FromMetroTypeID === 1 ? 'human': 'ic bus'"></span>
                                        {{metro.FromMetroMinTime}} {{declOfNum(metro.FromMetroTypeID, ['минуту', 'минут', 'минуты'])}}</span>
                                </li>
                            </ul>
                        </div>
                        <template v-if="getObjectLengthBool(metros)">
                            <div class="col-xs-4" v-if="getArrayLengthBool(metros[0].Transport.Transport.steps)">
                                <h5>Общественный транспорт</h5>
                                <ul>
                                    <li v-for="metro in metros">
                                    <span class="fromMetroIcon mr10"
                                          :class="(metro.Transport.Transport.steps[0].Type == 'Трамвай') ? 'tram' : 'ic bus'"></span>
                                        {{metro.Transport.Transport.steps[0].Type}}
                                        № {{metro.Transport.Transport.steps[0].Number}} от м. {{metro.StationName}}
                                    </li>
                                </ul>
                            </div>
                        </template>

                        <template>

                        </template>
                        <div class="col-xs-4" v-if="getObjectLengthBool(highways)">
                            <h5>Ближайшие магистрали</h5>
                            <ul>

                                <li v-for="hw in highways">
                                    <span class="inline middle ic square mr20"></span>
                                    <span class="inline middle">{{hw.Name}}</span>
                                    <span class="inline middle text_gray i">&rarr;</span>
                                    <span class="inline middle text_gray i">
                                        {{(hw.Distance < 1000) ? hw.Distance + ' м' : roundHighwayDistanceToKm(hw.Distance) + ' км'}}
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <!-- Envi -->

        <tr v-if="getArrayLengthBool(bcd.info.EnvironmentFormat)">
            <td colspan="2">
                <div class="pd30">
                    <h5>Окружение</h5>
                    <div class="row environment">
                        <div class="col-xs-4" v-for="item in bcd.info.EnvironmentFormat">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="image"><img :src="item.Image" style="width: 120px;">
                                    </div>
                                </div>
                                <div class="col-xs-7 ">
                                    <div class="text">
                                        <div class="inner ">{{item.EnvironmentName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>

    </table>
</template>

<script>
    import axios from 'axios';
    import _ from 'lodash';

    export default {
        name: 'codLocation',
        data() {
            return {
                title: 'codLocation'
            }
        },
        computed: {
            bcd() {
                return this.$store.getters.bcData;
            },
            city() {
                let address = this.bcd.info.Address;
                console.log('ADDRESS =>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> '.address);
                let addressArr = address.split(',');
                return 'г. ' + addressArr[0];
            },
            highways() {
                const highways = this.bcd.info.Highways;
                _.sortBy(highways, function (hw) {
                    return parseInt(hw.Distance);
                });
                return highways.slice(0, 3);
            },
            metros() {
                const metros = this.bcd.info.Metros;
                _.sortBy(metros, function (metro) {
                    return parseInt(metro.FromMetroMinTime);
                });
                return metros.slice(0, 3);
            }
        },
        methods: {
            declOfNum: function (number, titles) {
                let cases = [2, 0, 1, 1, 1, 2];
                return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
            },
            roundHighwayDistanceToKm(hw) {
                return _.round(hw / 1000, 2);
            },
            getObjectLengthBool(obj) {
                if (typeof obj === 'undefined') {
                    return false;
                }
                return !!Object.values(obj).length;
            },
            getArrayLengthBool(obj) {
                if (typeof obj === 'undefined') {
                    return false;
                }
                return !!obj.length;
            }
        },
        updated() {
            initDefaultMaps();
        },
        created() {
            goTop(0, 500, 'swing');
        },
        mounted() {
            initDefaultMaps();
        }
    }
</script>

<style lang="scss">
    .test-view {
        background-color: #ff9500;
        color: #fff;
    }
</style>
