<template>
    <section class="pageContent main clearfix">
        <div v-cloak>
            <!--<div>
                <router-link :to="{ name: 'bc_main'}">Описание</router-link>
                <router-link :to="{ name: 'bc_offices', params: {path: 'offices' }}">Свободные площади
                </router-link>
                <router-link :to="{ name: 'bc_renters', params: {path: 'renters' }}">Арендаторы</router-link>
                <router-link :to="{ name: 'bc_location', params: {path: 'location' }}">Расположение
                </router-link>
            </div>-->
            <table class="main_box bcPage">
                <tbody>
                <tr>
                    <!-- - - - - - - - - - - - - - Main Left Nav - - - - - - - - - - - - - - - - -->
                    <td class="left_box_2">

                        <build-image-slider></build-image-slider>

                        <!-- End of body section HTML codes -->

                        <!--<div class="left_box_2_cont">
                            <h5>Собственник объекта</h5>

                            <p class="text_m_bot">
                                <strong>B2B Eastward</strong>
                            </p>

                            <p class="text_sm">Выставка ускоряет межличностный баинг и селлинг. Рекламное сообщество усиливает комплексный анализ ситуации, работая над проектом.</p>
                        </div>-->

                    </td>

                    <!-- - - - - - - - - - - - - - End of Main Left Nav - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Main Right Content - - - - - - - - - - - - - - - - -->

                    <td class="right_box">
                        <div class="section_offset clearfix">
                            <div class="item_box_cont_1">
                                <div class="information_main_box clearfix">
                                    <div class="rating" :data-rating="bcd.info.Rating">
                                        <div class="clearfix">
                                            <span class="rating_text">Рейтинг<br>объекта</span>
                                            <span class="rating_value">{{bcd.info.Rating}}</span>
                                        </div>
                                        <div class="rating_item clearfix"></div>
                                        <input type="hidden">
                                    </div>

                                    <div class="item_box_cont_title">
                                        <div class="clearfix">
                                            <h3 class="alignleft">{{bcd.info.BuildType}} «{{bcd.info.InternalName}}»
                                                <!--<span class="read_label">Лучшее в А классе</span>
                                                <span class="green_label">Без комиссии</span>-->
                                            </h3>
                                        </div>
                                        <div class="text_address">
                                            <span class="text_sm text_gray">{{bcd.info.TrimedAddress + (bcd.info.DisrictName !== '' ? ' , ' + bcd.info.DistrictName : '')}}</span>
                                            <span class="text_sm show_map"
                                                  @click="showModalMap">Показать на карте</span>
                                        </div>
                                        <div v-if="metro">
                                        <span class="metro_icon metro_icon_green"
                                              :style="'background-color: #' + metro.LineColor + ';'">М</span>
                                            <span class="text_sm pad_r_7">
                                            {{metro.StationName}}
                                        </span>
                                            <span class="text_sm text_gray">
                                            {{
                                                (metro.FromMetroMinTime !== '')
                                                    ? metro.FromMetroMinTime + ' мин ' + metro.FromMetroName
                                                    : ''
                                                }}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="menu_detail clearfix">
                            <ul>
                                <li>
                                    <router-link class="menu_detail__item" :to="{ name: 'bc_main'}">Описание
                                    </router-link>
                                </li>
                                <li>
                                    <router-link class="menu_detail__item"
                                                 v-if="blocksLength"
                                                 :to="{ name: 'bc_offices', params: {path: 'offices' }}">
                                        Свободные площади
                                    </router-link>
                                </li>
                                <li>
                                    <router-link v-if="blockChoosen.loaded" class="menu_detail__item"
                                                 :to="'/bc/' + blockChoosen.address + '/offices/' + blockChoosen.data.BlockID">
                                        {{blockChoosen.data.Square}} м<sup>2</sup>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link v-if="bcd.info.Renters.length" class="menu_detail__item"
                                                 :to="{ name: 'bc_renters', params: {path: 'renters'}}">
                                        Арендаторы
                                    </router-link>
                                </li>
                                <li>
                                    <router-link class="menu_detail__item"
                                                 :to="{ name: 'bc_location', params: {path: 'location' }}">
                                        Расположение
                                    </router-link>
                                </li>
                            </ul>
                        </div>


                        <router-view name="bc_tab"></router-view>

                    </td>
                    <!-- - - - - - - - - - - - - - End of Main Right Content - - - - - - - - - - - - - - - - -->
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</template>

<script>
    import BuildImageSlider from './components/BuildImageSliderView.vue';

    export default {
        name: 'catalogObjectView',
        data() {
            return {
                title: 'Карточка объекта'
            }
        },
        components: {BuildImageSlider},
        computed: {
            bcd() {
                return this.$store.getters.bcData;
            },
            objectLoaded() {
                return this.$store.getters.bcDataLoaded;
            },
            metro() {
                let metro = this.bcd.info.Metro;
                return metro !== null ? metro : false;
            },
            images() {
                return this.$store.getters.bcDataImages;
            },
            blocks() {
                return this.$store.getters.bcDataBlocks;
            },
            blocksLength() {
                return !!this.blocks.length;
            },
            blockChoosen() {
                return this.$store.getters.bcDataBlockChoosen;
            }
        },
        methods: {
            showModalMap() {
                showBuildMap(this.bcd.info.Lat, this.bcd.info.Lng, this);
            }

            /*rentersLength(){
                return this.bcd.info.Renters.length;
            }*/
        },
        created() {
            let self = this;
            console.log('ROUTER => ', this.$route.params.address);
            console.log(self.objectLoaded);
            if (self.objectLoaded === false) {
                apiAjax('bc/get', {InternalNameTranslit: this.$route.params.address}, function (data) {
                    console.table('BuildData =>', data);
                    self.$store.dispatch('bcData', data);
                    self.$store.dispatch('bcDataLoaded', true);
                    setFooterPosition();
                    console.log(self.objectLoaded);
                }, {async: false});
            }
            goTop(0, 500, 'swing');
        },
        updated() {
            showObjectDetailsRating();
            initBuildSlider();
            setFooterPosition();
        },
        mounted() {
            showObjectDetailsRating();
            initBuildSlider();
            setFooterPosition();
        },
        beforeDestroy() {
            this.$store.dispatch('bcDataLoaded', false);
            this.$store.dispatch('setBlockChoosen', {loaded: false, data: {}, address: ''});
        }
    }
</script>

<style lang="scss">
    .menu_detail__item.router-link-exact-active {
        border-bottom: 4px solid #ea212d;
        color: #ea212d;
    }
</style>
