<template>
    <div>
        <!-- Icons -->
        <div class="bcMainParamsContainer">
            <div class="bcMainParams">
                <div class="bcMainParam" v-for="param in bcd.mainParams">
                    <div>
                        <img :src="param[0]">
                    </div>
                    <div v-html="param[1]"></div>
                </div>

            </div>
        </div>
        <!-- /Icons -->


        <div class="section_offset bcTechParamsContainer clearfix">
            <table class="bcTechParams" style="height: 360px;">
                <tbody>
                <tr>
                    <td>
                        <ul class="nav nav-pills nav-stacked">
                            <!--<li class="active"><a href="#tab_a224e5e1359f3008b201ae7a63b116fc"
                                                  data-toggle="tab"
                                                  aria-expanded="false">Основные параметры</a></li>
                            <li class=""><a href="#tab_ee99272e16bc720c4bb773a62809b52b"
                                            data-toggle="tab" aria-expanded="true">Инженерные системы</a>
                            </li>
                            <li class=""><a href="#tab_86e525ce7da50f44038033ed0de23d6f"
                                            data-toggle="tab" aria-expanded="false">Архитектура</a></li>
                            <li class=""><a href="#tab_d94331aff817b4c84f7920d44829e050"
                                            data-toggle="tab" aria-expanded="false">Телекоммуникации</a>
                            </li>
                            <li class=""><a href="#tab_e83e79b5243934e1e874cd3e66f177bc"
                                            data-toggle="tab" aria-expanded="false">Охрана и сервис</a>
                            </li>
                            <li class=""><a href="#tab_ebdcfa1229964bedbe639fdcc49d886b"
                                            data-toggle="tab" aria-expanded="false">Паркинг</a></li>-->
                            <li v-for="(key, index) in bcd.buildFormatParams.techparams"
                                :class="(index === 0) ? 'active' : ''">
                                <a :href="'#tab_'+ md5Convert(key.name)"
                                   data-toggle="tab"
                                   aria-expanded="false">
                                    {{key.name}}
                                </a>
                            </li>


                        </ul>
                    </td>
                    <td>
                        <div class="tab-content" style="height: 360px;">
                            <div v-for="(key, index) in bcd.buildFormatParams.techparams"
                                 :class="'tab-pane ' +  ((index === 0) ? 'active' : '')"
                                 :id="'tab_' +  md5Convert(key.name)">
                                <table class="table">
                                    <tbody>
                                    <tr v-for="param in key.items">
                                        <td>
                                            <div>{{param[0]}}</div>
                                        </td>
                                        <td>
                                            <div v-html="param[1] + ((param.length > 2) ? param[2] : '')"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="section_offset clearfix"><h4>ВНУТРЕННЯЯ ИНФРАСТРУКТУРА ЗДАНИЯ</h4>
            <div class="list_description box_3_col">
                <ul>
                    <li v-for="item in infrastructure">{{item}}</li>
                </ul>
            </div>
        </div>


        <div class="section_offset">
            {{bcd.info.Description}}
        </div>            <!-- - - - - - - - - - - - - - End of Tabs - - - - - - - - - - - - - - - - -->

        <div class="section_offset">
        </div>


    </div>
</template>

<script>
    import $ from 'jquery';
    import md5 from 'md5';

    export default {
        name: 'testView',
        data() {
            return {
                title: 'Main'
            }
        },
        computed: {
            bcd() {
                return this.$store.getters.bcData;
            },
            infrastructure() {
                return Object.values(this.bcd.info.Infrastructure);
            }
        },
        methods: {
            md5Convert(key) {
                return md5(key);
            }
        },
        created() {
            goTop(0, 500, 'swing');
        }
    }
</script>

<style lang="scss">
    .test-view {
        background-color: #ff9500;
        color: #fff;
    }
</style>
