<template>
    <div>
        <div class="filter_menu clearfix">
            <ul id="blocksFilter">
                <li><a @click="changeDataFilter" data-filter="0" :class="dataFilter === '0' ? 'active' : ''">Все</a>
                </li>
                <li><a @click="changeDataFilter" data-filter="1" v-if="BlocksRentersCount"
                       :class="dataFilter === '1' ? 'active' : ''">Аренда</a>
                </li>
                <li><a @click="changeDataFilter" data-filter="2" v-if="BlockSalesCount"
                       :class="dataFilter === '2' ? 'active' : ''">Продажа</a>
                </li>
            </ul>
        </div>
        <ul class="information_wr_2" id="blocksBox">
            <li v-for="block in currentBlocks" class="clearfix blockItem " :data-filter="block.DealTypeID">
                <div class="favorites">
                    <span class="text_sm text_gray">Обновлено {{block.UpdateDay | prettyShortDate }}</span>
                    <br><span class="btn_green_3 btn_active manualActive" data-client=""
                              onclick="selectBlockForClient(this, 78538)"><span class="s">Отобрать</span><span
                        class="h">Отобрано</span></span></div>
                <div class="information_box">
                    <div class="topBox topBlockInfo">
                        <span class="text_sm"><strong>{{block.DealName}} {{block.BlockType2}}</strong></span>
                        <span class="icon_point"></span>
                        <span class="text_sm text_gray">
                        {{block.Level}} этаж
                        </span>
                        <span class="icon_point"></span><span class="text_sm text_gray">
                        {{block.FurnishName}}
                        </span>
                        <span class="text_sm text_gray noWrapText">
                            <span class="icon_point"></span>
                            {{block.PlainingFullName}}
                        </span>
                    </div>
                    <div class="text_lg_box mainBlockInfo">
                        <span class="text_lg text_red">
                            <strong>
                                <!--<router-link class="" :to="'/bc/' + address + '/offices/' + block.BlockID">
                                    {{block.Square}} м<sup>2</sup>
                                </router-link>-->
                                <a @click.prevent="saveChoosenBlock(block)" class=""
                                   :href="'/bc/' + address + '/offices/' + block.BlockID">
                                    {{block.Square}} м<sup>2</sup>
                                </a>
                            </strong>
                        </span>
                        <span class="icon_line"></span>
                        <span class="text_lg"><strong>{{block.Cost1 | prettyDigits}}</strong></span>
                        <span class="text_sm">руб./м<sup>2</sup> в год</span>
                        <span class="icon_line"></span>
                        <span class="text_lg"><strong>{{block.Cost2 | prettyDigits}}</strong></span>
                        <span class="text_sm">руб./мес</span>
                        <span class="arrow_label">{{block.ClearTaxesNameShort}}</span>
                        <span class="discount_box tooltipVue"
                              title='Вознаграждение агента'>{{parseFloat(block.Commission)}}%</span>

                    </div>
                    <div class="text_resp_box bottomBlockInfo">
                        <span class="text_sm text_gray">Собственник /</span>
                        <span class="text_sm ownerLink " @click="showContacts(block.BlockID)">
                            <span class="icon_green_phone"></span>
                            <span class="ownerLinkText">Показать контакты</span>
                        </span>

                        <span class="icon_point"></span>
                        <a target="_blank" :href="'/PDF/m1/block/'+block.BlockID+'/'" class="pdfLink d_ib  manualActive pdfEditor"
                           data-name="block" :data-parents="block.BlockID"><span class="icon_format loadIcon">PDF</span>Презентация</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    import _ from 'lodash';

    export default {
        name: 'codOffices',
        data() {
            return {
                address: this.$route.params.address,
                dataFilter: "0"
            }
        },
        computed: {
            bcd() {
                return this.$store.getters.bcData;
            },
            blocks() {
                return this.$store.getters.bcDataBlocks;
            },
            currentBlocks() {
                let self = this;
                return self.blocks.filter(function (block) {
                    if (self.dataFilter === "0") return true;
                    return (block.DealTypeID === self.dataFilter);
                });
            },
            BlocksRentersCount() {
                let self = this;
                let count = self.blocks.filter(function (block) {
                    return (block.DealTypeID === "1");
                });
                return !!count.length;
            },
            BlockSalesCount() {
                let self = this;
                let count = self.blocks.filter(function (block) {
                    return (block.DealTypeID === "2");
                });
                return !!count.length;
            },
            blockChoosen() {
                return this.$store.getters.bcDataBlockChoosen;
            }
        },
        methods: {
            showContacts(blockId) {
                loadOwnerModal(blockId, this);
            },
            changeDataFilter(e) {
                this.dataFilter = e.target.dataset.filter;
            },
            saveChoosenBlock(block) {
                this.$store.dispatch('setBlockChoosen', {loaded: true, data: block, address: this.address});
                //this.$router.push({path: `/bc/${this.address}/offices/${blockChoosen.data.BlockID}`});
                //this.$router.push('/bc/' + address + '/offices/' + blockChoosen.data.BlockID);
                this.$router.push(`/bc/${this.address}/offices/${this.blockChoosen.data.BlockID}`);

            }
        },
        mounted() {
            //initBlocksFilter();
            initTooltipster();
            let body = $("html, body");
            body.stop().animate({scrollTop: 0}, 500, 'swing');
        }
    }
</script>

<style lang="scss">
    #blocksFilter li a {
        cursor: pointer;
    }
</style>
