<template>
    <div>
        <transition name="fade">
            <div v-if="getMode == 'if' ? showModal : true" v-show="getMode == 'show' ? showModal : true" class="overlay" @click="hideModal"></div>
        </transition>
        <transition name="custom-classes-transition"
                    enter-active-class="animated zoomIn"
                    leave-active-class="animated zoomOut">
            <div v-if="getMode == 'if' ? showModal : true" v-show="getMode == 'show' ? showModal : true" class="simple-view-modal__container __close-area" @click="hideModal">
                <table class="simple-view-modal__table">
                    <tr>
                        <td class="simple-view-modal__cell  __close-area">
                            <div class="box-modal_close __close-area" @click="hideModal"></div>
                            <div class="simple-view-modal">
                                <slot name="header"></slot>
                                <slot name="content">
                                    Не передан контент модального окна --- content
                                </slot>
                                <slot name="footer"></slot>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'modal-container',
        data() {
            return {
                defaultMode: 'if',
                msg: 'Some reactive msg'
            }
        },
        computed: {
            getMode: function(){
                if(this.mode)
                {
                    return this.mode;
                }
                else
                {
                    return this.defaultMode;
                }
            }
        },
        methods: {
            hideModal(event) {
                event.stopPropagation();
                if (event.target.className.indexOf('__close-area') !== -1) {
                    this.$emit('update:showModal', false);
                }
            },
        },
        props: ['showModal', 'mode'],
        mounted() {

        },
    }
</script>

<style lang="scss">
    $border-color: #dddddd;
    $contacts-bg: #f5f5f5;
    $overlay-bg: rgba(0, 0, 0, .6);

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $overlay-bg;
        z-index: 999;
        top: 0;
        left: 0;
    }

    .simple-view-modal {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 2px 10px rgba(0, 0, 0, .1);;
        height: auto;
        position: relative;
        /*top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        z-index: 10;
        margin: 0 auto;
        &__footer {
            border-top: 1px solid $border-color;
            padding: 20px;
        }
        &__container {
            overflow: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-collapse: collapse;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
        }
        &__table {
            height: 100%;
            min-height: 100%;
            margin: 0 auto;
        }
        &__cell {
            padding: 24px;
            margin: 0;
            border: 0;
            vertical-align: middle;
            width: auto;
        }
        &__top {
            padding: 35px 60px 20px 60px;
            border-bottom: 1px solid #e1e1e1;
        }
        &__mid {
            padding: 12px 60px;
            border-bottom: 1px solid #e1e1e1;
        }
        &__header {
            font-size: 24px;
            line-height: 30px;
            font-weight: bold;
            margin-bottom: 8px;
            color: #333333;
        }
        &__description {
            opacity: 0.5;
            color: #000000;
        }
        &__separator {
            margin: 7px 25px;
            content: '';
            display: inline-block;
            width: 1px;
            height: 13px;
            background-color: #9c9c9c;
            border-radius: 100%;
            vertical-align: -0.5rem;
        }
        &__area {
            display: inline-block;
            vertical-align: top;
            &-header {
                font-size: 13px;
                line-height: 17px;
                font-weight: bold;
            }
            &-footage {
                line-height: 27px;
                font-size: 18px;
                font-weight: bold;
                color: #ed090a;
                display: inline-block;
                & sup {
                    position: relative;
                    top: -0.5em;
                    font-size: .6em;
                }

            }
        }
        &__cost {
            display: inline-block;
            vertical-align: top;
            &-header {
                font-size: 13px;
                line-height: 17px;
                font-weight: bold;
            }
            &-price {
                line-height: 27px;
                font-size: 18px;
                font-weight: bold;
                display: inline-block;
                & span {
                    font-size: 13px;
                    line-height: 27px;
                    color: #000;
                    font-weight: normal;
                    vertical-align: top;
                    & sup {
                        position: relative;
                        top: -0.5em;
                        font-size: .6em;
                    }
                }
            }
        }
        &__subway {
            display: inline-block;
            max-width: 180px;
            vertical-align: top;
            &-header {
                font-size: 13px;
                line-height: 17px;
                font-weight: bold;
            }
            &-item {
                height: 20px;
                width: 20px;
                text-align: center;
                border-radius: 100%;
                display: inline-block;
                line-height: 20px !important;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                margin: 3px 2px;
                cursor: pointer;
                font-size: 0;
                & span {
                    font-size: 11px;
                }
            }
        }
        &__contacts {
            background-color: $contacts-bg;
            &-item {
                display: inline-block;
                width: 50%;
                background-color: $contacts-bg;
                padding: 20px 0 15px 0;
                vertical-align: top;
                &:nth-child(2n-1) {
                    padding-left: 30px;
                    border-right: 1px solid $border-color;
                }
                &:nth-child(n+3) {
                    border-top: 1px solid $border-color;
                }
                &-photo {
                    float: left;
                    width: 72px;
                    height: 72px;
                    border: 3px solid #e6e7e8;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-left: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                }
                &-info {
                    padding: 0 20px;
                    float: left;
                }
                &-name {
                    font-weight: bold;
                }
                &-phone {
                    font-size: 18px;
                    line-height: 27px;
                }
                &-email {
                    color: #000;
                    text-decoration: none;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    &:hover {
                        color: #ed090a;
                        text-decoration: none;
                    }
                }
                &-description {
                    padding-top: .25rem;
                    opacity: .5;
                    font-size: .9rem;
                }
            }
        }
    }

    .box-modal_close {
        cursor: pointer;
        display: block;
        height: 18px;
        width: 18px;
        position: fixed;
        top: 40px;
        right: 40px;
        background: url(/img/design/lightbox-close.png) 0 0 no-repeat;
        z-index: 9999;
    }

    /*.tooltip {
        display: block !important;
        padding: 4px;
        transition: all .1s ease;
        z-index: 10000;
        .tooltip-inner {
            background: black;
            color: white;
            border-radius: 16px;
            padding: 5px 10px 4px;
        }
        .tooltip-arrow {
            display: none;
        }
        &[aria-hidden='true'] {
            visibility: hidden;
            opacity: 0;
            transition: opacity .15s, visibility .15s;
        }
        &[aria-hidden='false'] {
            visibility: visible;
            opacity: 1;
            transition: opacity .15s;
        }
    }*/
</style>
