<template>
    <div>
        <section class="pageContent main clearfix" style="min-height: 430px;">
            <h1>Hello modal</h1>
            <p>
                <button @click="showModal = !showModal">Show/Hide MODAL</button>
            </p>

            <ul>
                <li v-for="item in results">{{item.name}} [{{item.age}}]</li>
            </ul>


            <modal-container :show-modal.sync="showModal" v-show="showModal">
                <div slot="header">
                    <p>{{msg}} and other text
                        <b> and tags</b></p>
                </div>
                <div slot="content">
                    <!-- КОМПОНЕТ нужного модальника -->
                    <simple-modal :show-modal.sync="showModal" :data="results">
                        <div class="hello" slot="ggg">Some footer content</div>
                    </simple-modal>
                    <!-- /КОМПОНЕТ нужного модальника -->
                </div>
                <div slot="footer" class="simple-view-modal__footer">
                    some text
                </div>
            </modal-container>


        </section>
    </div>
</template>

<script>
    import modalContainer from './modalContainerView.vue'
    import simpleModal from './simpleModalView.vue'

    export default {
        name: 'playground',
        components: {modalContainer, simpleModal},
        data() {
            return {
                msg: 'Welcome to Your Vue.js App',
                showModal: false,
                results: [{name: 'John', age: 25}, {name: 'Jack', age: 33}, {name: 'Ann', age: 66}]
            }
        },
        mounted() {
            setFooterPosition();
        },
        methods: {
            footerClick() {
                this.msg = 'Footer header';
            },
            contentClick() {
                this.msg = 'Content header';
            }
        }
    }
</script>

<style>

</style>