<template>
    <div>
        <h1>
            {{msg}}
        </h1>
        <slot name="ggg"></slot>
        <ul>
            <li v-for="(item, index) in data">
                {{item.name}} [{{item.name.length}}]
                <input v-model="item.name"/>
                <button @click="changeItem(item)">clear</button>
                <button @click="removeItem(index)">remove</button>
            </li>
        </ul>
        <button class="__close-area">closeModalFromChildComponent</button>
    </div>
</template>

<script>
    import $ from 'jquery';

    export default {
        name: 'simple-modal',
        data() {
            return {
                msg: 'test text'
            }
        },
        props: ['data', 'showModal'],
        methods: {
            changeItem(item) {
                item.name = '';
            },
            removeItem(index) {
                if (confirm('R U sure?')) {
                    this.data.splice(index, 1);
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    h1 {
        color: #f00;
    }

    input {
        background-color: rgba(255,258,89, .2);
    }
</style>