<template>
    <section class="pageContent main clearfix mainFullWidth">
        <div class="aboutPageHeader">
            <div class="menu_detail main navbar navbar-default navbar-static-top">
                <ul class="nav nav-tabs" role="tablist">
                    <li>
                        <router-link :to="{ name: 'about_main_content'}" class="about__menu-item">О сервисе
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'about_agent_content'}" class="about__menu-item">Для агента
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'about_owner_content'}" class="about__menu-item">Для собственника
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
        <router-view name="aboutmain"></router-view>
    </section>
</template>

<script>
    import VueFullpage from 'vue-fullpage'

    export default {
        name: 'about',
        data() {
            return {
                title: 'About container'
            }
        },
        destroyed(){
            $('body').removeClass('borderedHeader');
        },
        mounted(){
            setMeta({'title' : 'О сервисе'});
        },
        beforeDestroy(){
        }
    }
</script>

<style lang="scss">
    .menu_detail .nav li > a.router-link-exact-active {
        border-bottom: 4px solid #ea212d;
        color: #ea212d;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
    }

    .menu_detail .nav li > a.router-link-exact-active:active, .menu_detail .nav li > a.router-link-exact-active:focus {
        background-color: #fff;
    }
</style>
