<template>
    <div id="fullpage">
        <div class="pageForFullpage aboutPage aboutPage1Block1">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <h2><span class="red">Все офисы Москвы</span></h2>
                    <div class="text">Ежедневно тысячи собственников самостоятельно размещают и обновляют предложения по
                        офисным помещениям на PROPERTYHUNTER. Это гарантирует качество и актуальность информации. Благодаря
                        ручной модерации, каждое предложение единично - у нас не бывает дублей от разных контактных лиц.
                    </div>
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                    <h2>
                        <span class="red">{{ $root.global.counters.OfficeBlocks }}</span> {{ $root.global.counters.format.textOfficeBlocks2 }}
                    </h2>
                    <h2>в
                        <span class="red">{{ $root.global.counters.Builds }}</span> {{ $root.global.counters.format.textBuilds2 }}
                    </h2>
                </div>
            </div>
        </div>

        <div class="pageForFullpage aboutPage aboutPage1Block2">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <h2>Прямые<br><span class="red">контакты собственников</span></h2>
                    <div class="text">Каждое предложение на PROPERTYHUNTER содержит контактную информацию собственника.
                        Забудьте о долгих поисках в платных базах недвижимости или досках объявлений. Общайтесь напрямую и
                        не делите вознаграждение с другими агентами.
                    </div>
                </div>
            </div>
        </div>

        <div class="pageForFullpage aboutPage aboutPage1Block3">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-7">
                    <h2><span class="red">Подтверждённый</span><br>размер вознаграждения</h2>
                    <div class="text">
                        Мы уже договорились с собственниками о размере вознаграждения. Зарабатывайте больше,
                        предлагая своим клиентам наиболее «доходные» варианты.
                    </div>
                </div>
            </div>
        </div>


        <div class="pageForFullpage aboutPage aboutPage1Block4">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <h2>Качественные презентации<br><span class="red">в один клик</span></h2>
                    <div class="text">Вам больше не нужно тратить время на создание презентаций. На PROPERTYHUNTER можно
                        скачать готовые pdf-презентации, редактируя основную информацию и фотографии объекта. Все
                        презентации уже содержат Ваши контактные данные.
                    </div>
                </div>
            </div>
        </div>

        <div class="pageForFullpage aboutPage aboutPage1Block5">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-7">
                    <h2><span class="red">Online</span><br>рабочее место 24/7</h2>
                    <div class="text">
                        Вы больше не привязаны к офису. Вся информация по объектам и вашим клиентам будет с
                        вами в любом месте, где есть Интернет. Работайте, где Вам удобно и когда это необходимо.
                    </div>
                </div>
            </div>
        </div>


        <div class="pageForFullpage aboutPage aboutPage1Block6">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <h2><span class="red">История работы</span><br>с клиентом</h2>
                    <div class="text">PROPERTYHUNTER включает в себя функционал систем для работы с клиентами (CRM). Вся
                        информация сохраняется и доступна online. Теперь Вы не забудете историю, а сервис подскажет новые
                        подходящие варианты.
                    </div>
                </div>
            </div>
        </div>


        <div class="pageForFullpage aboutPage aboutPage1Block7">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>Уделите больше времени общению с клиентами,<br>
                        остальную работу сделает <span class="red">PROPERTYHUNTER</span>!</h2>
                    <div class="button center">
                        <router-link :to="{name: 'index'}" class="btn btn-danger btn-lg btn-no-border" v-if="$root.getUser().user">Продолжить работу</router-link>
                        <router-link :to="{name: 'auth_register'}" class="btn btn-danger btn-lg btn-no-border" v-if="!$root.getUser().user">Зарегистрироваться</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'aboutAgent',
        data() {
            return {
                title: 'About agent content'
            }
        },
        mounted() {
            console.log('INIT: START');
            initFullpage();
        },
        beforeDestroy() {
            destroyFullpage();
        }
    }
</script>

<style lang="scss">
    .test-view {
        background-color: #ff9500;
        color: #fff;
    }
</style>
