<template>
    <div id="aboutIndexPage">
        <div class="text">
            <strong>PROPERTYHUNTER</strong> — это онлайн-сервис<br>
            для агентов и собственников<br>
            офисной недвижимости
        </div>
        <div class="button center" v-if="!$root.getUser().id">
            <router-link :to="{name: 'auth_register'}" class="btn btn-danger btn-lg btn-no-border">Зарегистрироваться</router-link>
        </div>

        <div :class="'row '+ ($root.getUser().id ? 'isAuth' : '')">
            <div class="col-xs-2 col-xs-offset-4"><router-link :to="{ name: 'about_agent_content'}">Для агента</router-link></div>
            <div class="col-xs-2 col-xs-offset-1"><router-link :to="{ name: 'about_owner_content'}">Для собственника</router-link></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'aboutOwner',
        data() {
            return {
                title: 'MAIN ABOUT CONTENT'
            }
        }
    }
</script>

<style lang="scss">
    footer {
        display: none;
    }
</style>
