<template>
    <div class="contacts">
        <div class="contactsItems">
            <tabs :params.sync="contacts"></tabs>
        </div>
    </div>
</template>

<script>
    import tabs from './tabs2.vue';
    export default {
        name: 'contactsItems',
        components: {tabs},
        data(){
            return {};
        },
        methods:{
            drawPersonContact: function(personID, contact, type, getInputs){
                if(typeof getInputs == 'undefined') getInputs = false;
                let label = '', inputs = '';
                switch (type) {
                    case 'email': {
                        label = 'E-mail';
                        inputs = "<input type='text' name='contacts[" + personID + "][Contact][" + contact['ContactID'] + "][email]' value='" + contact['Contact'] + "' class='form-control'>" +
                            "<input type='hidden' name='contacts[" + personID + "][Contact][" + contact['ContactID'] + "][TypeID]' value='2'>" +
                            "<input type='hidden' name='contacts[" + personID + "][Contact][" + contact['ContactID'] + "][SubTypeID][2]' value='4'>";
                    } break;
                    default: {
                        label = 'Телефон';
                        inputs = "<input type='text' name='contacts[" + personID + "][Contact][" + contact['ContactID'] + "][phone]' class='maskedInput form-control' value='" + contact['Contact'] + "' data-mask='(999) 999-9999'>" +
                                 "<input type='hidden' name='contacts[" + personID + "][Contact][" + contact['ContactID'] + "][TypeID]' value='1'>" +
                                 "<input type='hidden' name='contacts[" + personID + "][Contact][" + contact['ContactID'] + "][SubTypeID][1]' value='2'>";
                    }
                }

                if(getInputs)
                {
                    return inputs;
                }

                return "<tr class='contactItem " + type + "_contactItem'><td ><div class='form-group'>" +
                    "<label>" + label + "</label><div class='buttonedInput'>" + inputs + "<span class='inputButton fa fa-close' onclick='clearContactItem($(this))'></span>" +
                    "</div></div></td><td class='contactsBtns'><div class='btn text-danger fa fa-close' onclick='deleteContact(\$(this), \"" + type + "\")'></div></td></tr>";
            },
            drawPerson: function(person, params){
                let self = this;
                if(typeof params == 'undefined') params = {};
                if(!params['MaxPhones']) params['MaxPhones']= 1;
                if(!params['MaxEmails']) params['MaxEmails']= 1;

                let phones = array_values(array_filter(
                    person['Contact'],
                    function (item) {
                        return item['TypeID'] == 1;
                    }
                ));
                if(!phones) phones = [{ContactID: 'new_contact_phone_1'}];

                phones = array_map(function(contact){return self.drawPersonContact(person['PersonID'], contact, 'phone'); }, phones);

                let phonesCount = phones.length + 1;
                phones = phones.join('');

                let emails = array_values(array_filter(
                    person['Contact'],
                    function (item) {
                        return item['TypeID'] == 2;
                    }
                ));
                if(!emails) emails = [{ContactID: 'new_contact_email_1'}];
                emails = array_map(function(contact){return self.drawPersonContact(person['PersonID'], contact, 'email'); }, emails);

                emails = emails.join('');


                return "<table class='contactsPerson' data-person='" + person['PersonID'] + "' data-phonecount='" + phonesCount + "' data-emailcount=''>" +
                    "<tr class='personName'><td><div class='form-group'><label for='contacts[{$personID}][Name]'>Контактное лицо</label>" +
                    "<input type='text' class='form-control' name='contacts[{$personID}][Name]' value='{$person['Name']}'></div></td></tr>" +
                    "<tr><td ><div class='contactsInfo'><div class='col-lg-12'><div class='col-sm-4 personContacts' data-max-count='" + params['MaxPhones'] + "'>"+
                    "<table>" + phones + "<tr><td class='contactsBtns' colspan='2'><span class='dashedGreenLink' onclick='addContact($(this).closest(\"tbody\"), \"phone\")'>Добавить</span>" +
                    "</td></tr></table></div><div class='col-sm-8 personContacts' data-max-count='"+ params['MaxEmails'] +"'>" +
                    "<table>" + emails + " <tr><td class='contactsBtns' colspan='2'><span class='dashedGreenLink' onclick='addContact($(this).closest(\"tbody\"), \"email\")'>Добавить</span></td></tr></table></div></div>" +

                    "</div></td></tr><tr><td ><div class=''><div class='form-group'><label for='contacts[" + person['PersonID'] + "][About]'>Информация</label>" +
                    "<textarea type='text' class='form-control ' data-max-height='100' style='height: 80px;' name='contacts[" + person['PersonID'] + "][About]'>" + person['About'] + "</textarea>"+
                    "</div></div></td></tr><tr><td><div class='dashedRedLink' onclick='deletePerson($(this).closest(\".contactsPerson\"))'>Удалить контактное лицо</div></td></tr></table>";
            },
        },
        computed:{

            tabs() {
                let tabs = {}, first = true, index = 0;
                if(this.contacts)
                {
                    for(var personID in this.contacts)
                    {
                        let person = this.contacts[personID];
                        index++;
                        tabs[personID] = {
                            Active: first,
                            Header: {
                                Class: '',
                                Content: "<span>" + (person['Name'] ? person['Name'] : "Контакт " + index ) + "</span>"
                            },
                            Content: this.drawPerson(person, {MaxPhones: 3, MaxEmails: 3})


                        };
                    }
                    first = false;
                }
                tabs['plus'] = {
                    IsButton: true,
                    LiClass: 'plusContactTab',
                    Header: {
                        href: '#',
                        OnClick: 'addPerson($(this).closest(".contactsItems"), $(this)); return false;',
                        Content: '+'
                    }
                };
                return tabs;
            },
        },
        props:[
            'contacts'
        ],
        updated(){
            this.$emit('update:contacts', this.contacts);
        },
        methods:{

        },
        mounted(){
            console.log('CONTACTS', this.contacts);
        }

    }
</script>