<template>
    <div :data-gallery="imageParams.gallery" :data-key="imageParams.key" :data-parent="imageParams.parentID" class="siteSingleGallery" :class="imageParams.class">

        <img v-if="image" :src="image.src" :data-id="image.ID">
    </div>
</template>

<script>
    export default {
        name: 'singleImage',
        data(){
            return {};
        },
        props: ['image', 'imageParams'],
        mounted(){

        }

    }
</script>