<template>
    <div>
        <div :id='params.ID' class='main_slider' :class="mainClass" :data-name="name">{{ label }}
            <template v-if="!params.SliderOnly">
                <template v-if="!params.HiddenIndicator">
                    <span class='minpoz'>
					    <span class='text_form_sm'>от:</span>
					    <input type='number' class='slideDataInput' data-dir='min' :id="name + 'From'" :name="name + 'From'" v-model="data.From"/>
				    </span>
                    <span class='line_form_br'></span>
                    <span class='maxpoz'>
					    <span class='text_form_sm'>до:</span>
					    <input type='number' class='slideDataInput' data-dir='max' :id="name + 'To'" :name="name + 'To'" v-model="data.To"/>
				    </span>
                    <span class='form_dimension'><div class='inline middle'></div><div class='inline middle postLabel' v-html="params.PostLabel"></div></span>
                </template>
                <template v-if="params.HiddenIndicator">
                    <div class='sliderIndicatorLabel'>от <span class='indicatorFrom' v-html="getParams.From"></span> до <span class='indicatorTo' v-html="getParams.To"></span>
                        <span class='post_abel' v-html="params.PostLabel"></span></div>
                    <input type='hidden' class='slideDataInput' data-dir='min' :id="name + 'From'" :name="name + 'From'" v-model="data.From">
                    <input type='hidden' class='slideDataInput' data-dir='max' :id="name + 'To'"   :name="name + 'To'"   v-model="data.To" >
                </template>
            </template>
            <div class='clear'></div>
            <div class='sliderSizeCont'>
                <div class='slider_cont_line'></div>
                <div class='controlBoxes' :data-round='params.Round' :data-min='params.Min' :data-max='params.Max' :data-function='params.Function' :data-k="params.k" >
                    <div>
                        <span class='cLeft'  :data-for="name + 'From'"></span>
                        <span class='cRight' :data-for="name + 'To'"></span>
                    </div>
                </div>
            </div>
            <div class='clear'></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'slider',
        data(){
            return {
                data : {
                    From: 0,
                    To: 0
                }
            };
        },
        props: ['name', 'params'],
        updated(){

        },
        computed: {
            getParams: function(){
                let params = this.params;
                if(!params.From) params.From = params['Min'];
                if(!params.To) params.To = params['Max'];


                return params;
            },
            mainClass: function(){
                let mainClass = '';
                if(this.params)
                {
                    mainClass = this.params.Class ? this.params.Class : '';
                    if(this.params.Manual)
                    {
                        mainClass += " manualSlider";
                    }
                }
                return mainClass;
            },
            label: function(){
                return this.params.Label ? "<div class='main_slider_title'>" + this.params.Label + "</div>" : '';
            },
            indicate: function () {

            }
        },
        updated(){
            this.$emit('update:params', this.data);
        },
        created(){
            this.data.From = this.getParams.From;
            this.data.To = this.getParams.To;

            this.$emit('update:params', this.data);
        }

    }
</script>