<template>
    <div id="contactsTabs" class="tab-base" data-hash="true">
        <ul class="nav nav-tabs">
            <li v-for="(tab, tabId) in tabs" @click="selectTab(tabId)"
                :class="tabId === currentTab ? 'active': ''"
                :rel="tabId"
                style="max-width: calc(88% + 1px);">
                <a class="" data-toggle="tab" href="#24974">
                    <span>
                        {{(tab.Name.indexOf('Контакт') !== -1 || trimStr(tab.Name).length === 0) ? 'Контакт ' + (tabId + 1) : tab.Name}}
                    </span>
                </a>
            </li>
            <li class="plusContactTab" v-show="tabsCount < 4">
                <a href="#" @click="addPerson">+</a>
            </li>
        </ul>
        <div class="tab-content">
            <div v-for="(tab, tabId) in tabs"
                 v-show="currentTab === tabId"
                 :id="tab.PersonID"
                 class="tab-pane"

                 :class="currentTab === tabId ? 'active' : ''">
                <table class="contactsPerson" data-person="24974" data-phonecount="2" data-emailcount="2">
                    <tbody>
                    <tr class="personName">
                        <td>
                            <div class="form-group">
                                <label for="contacts[24974][Name]">Контактное лицо</label>
                                <input type="text" class="form-control"
                                       v-model="tab.Name">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="contactsInfo">
                                <div class="col-lg-12">
                                    <div class="col-sm-4 personContacts" data-max-count="3">
                                        <table>
                                            <tbody>
                                            <tr class="contactItem phone_contactItem"
                                                v-for="(phone, phoneIndex) in phones">
                                                <td>
                                                    <div class="form-group">
                                                        <label>Телефон</label>
                                                        <div class="buttonedInput">
                                                            <input type="text"
                                                                   v-model="phone.Contact"
                                                                   name="contacts[24974][Contact][35482][phone]"
                                                                   class="form-control _masked-phone" value="555-5555555"
                                                                   data-mask="(999) 999-9999" v-mask="'(###) ###-####'">
                                                            <input type="hidden"
                                                                   name="contacts[24974][Contact][35482][TypeID]"
                                                                   value="1">
                                                            <input type="hidden"
                                                                   name="contacts[24974][Contact][35482][SubTypeID][1]"
                                                                   value="2">
                                                            <!--<span class="inputButton fa fa-close"
                                                                  onclick="clearContactItem($(this))"></span>-->
                                                            <span class="inputButton fa fa-close"
                                                                  @click="clearField(phoneIndex, 1)"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="contactsBtns">
                                                    <!--<div style="" class="btn text-danger fa fa-close"
                                                         onclick="deleteContact($(this), 'phone')"></div>-->
                                                    <div style="" class="btn text-danger fa fa-close"
                                                         onclick=""></div>
                                                </td>
                                            </tr>
                                            <tr v-show="sizeOf(phones) < 3">
                                                <td class="contactsBtns" colspan="2">
                                                    <span class="dashedGreenLink" @click.prevent="addContact(tabId, 1)">Добавить</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-8 personContacts" data-max-count="3">
                                        <table>
                                            <tbody>
                                            <tr class="contactItem email_contactItem" v-for="(email, emailIndex) in emails">
                                                <td>
                                                    <div class="form-group">
                                                        <label>E-mail</label>
                                                        <div class="buttonedInput">
                                                            <input type="text"
                                                                   v-model="email.Contact"
                                                                   name="contacts[24974][Contact][35483][email]"
                                                                   value="lock@lock.ru" class="form-control">
                                                            <input type="hidden"
                                                                   name="contacts[24974][Contact][35483][TypeID]"
                                                                   value="2">
                                                            <input type="hidden"
                                                                   name="contacts[24974][Contact][35483][SubTypeID][2]"
                                                                   value="4">
                                                            <span class="inputButton fa fa-close"
                                                                  @click="clearField(emailIndex, 2)"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="contactsBtns">
                                                    <!--<div style="" class="btn text-danger fa fa-close"
                                                         onclick="deleteContact($(this), 'email')"></div>-->
                                                    <div style="" class="btn text-danger fa fa-close"
                                                         onclick=""></div>
                                                </td>
                                            </tr>
                                            <tr v-show="sizeOf(emails) < 3">
                                                <td class="contactsBtns" colspan="2">
                                                    <span class="dashedGreenLink" @click.prevent="addContact(tabId, 2)">Добавить</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="">
                                <div class="form-group">
                                    <label for="contacts[24974][About]">Информация</label>
                                    <textarea type="text" class="form-control " data-max-height="100"
                                              style="height: 80px;" name="contacts[24974][About]"
                                              v-model="tab.About"></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="dashedRedLink" v-if="tabsCount > 1"
                                 @click="removePerson(tabId)">
                                Удалить контактное лицо
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from "lodash";
    import $ from 'jquery';
    export default {
        name: 'tabs',
        props: ['params'],
        data() {
            return {
                currentTab: 0,
                tabs: [],
                keys: [],
                keyIncrement: 1
            }
        },
        computed: {
            tabsCount() {
                return _.size(this.tabs);
            },
            phones() {
                let phones = [];
                for (let i = this.tabs[this.currentTab].Contact.length - 1; i >= 0; i--) {
                    if (this.tabs[this.currentTab].Contact[i].TypeID === "1") {
                        phones.push(this.tabs[this.currentTab].Contact[i]);
                    }
                }
                return _.reverse(phones);

            },
            emails() {
                let emails = [];
                for (let i = this.tabs[this.currentTab].Contact.length - 1; i >= 0; i--) {
                    if (this.tabs[this.currentTab].Contact[i].TypeID === "2") {
                        emails.push(this.tabs[this.currentTab].Contact[i]);
                    }
                }
                return _.reverse(emails);
            }
        },
        methods: {
            addPerson() {
                this.tabs.push({Name: 'Контакт', Contact: []});
                this.keys.push('new_person_' + this.keyIncrement);
                this.keyIncrement++;
                this.currentTab++;
                this.addContact(this.currentTab, 1);
                this.addContact(this.currentTab, 2);
            },
            selectTab(index) {
                this.currentTab = index;
            },
            removePerson(index) {
                this.tabs.splice(index, 1);
                this.keys.splice(index, 1);
                this.currentTab = (index > 0) ? (index - 1) : 0;
            },
            trimStr(str) {
                return _.trim(str);
            },
            sizeOf(arr) {
                return _.size(arr);
            },
            addContact(tabId, type) {
                if (_.size(this.phones) > 2 && type === 1) return;
                if (_.size(this.emails) > 2 && type === 2) return;
                this.tabs[tabId].Contact = _.concat(this.tabs[tabId].Contact, {
                    Contact: '',
                    ContactID: '',
                    ContactMore: '',
                    Editable: '1',
                    SubTypeID: null,
                    TypeID: type.toString()
                });
                this.$nextTick(function () {
                    /*$('._masked-phone').each(function(elem, index){
                        console.log(elem + '' + index);
                        //mask("(999) 999-9999");
                    });*/
                });
            },
            clearField(index, type) {
                (type === 1)
                    ? this.phones[index].Contact = ''
                    : this.emails[index].Contact = '';
            }
        },
        created() {
            this.tabs = Object.values(this.params);
            this.keys = Object.keys(this.params);
            if(this.keys.length === 0){
                this.addPerson();
            }

        },
        updated(){
            console.log('update data');
            let finalArr = _.zipObject(this.keys, this.tabs);
            /*console.log('Tabs', this.tabs);
            console.log('keys', this.keys);
            console.log('final', finalArr);*/
            this.$parent.$emit('update:contacts', finalArr);
        }
    }
</script>
