<template>
    <div :id='params.ID' :class="tabClass" :data-hash="params['Hash'] || typeof params['Hash'] == 'undefined' ? 'true' : 'false'" >
        <template v-if="params.Tabs">
            <ul class="nav nav-tabs">
                <li v-for="(tab, tabID) in params.Tabs" :class="liClass(tab)" :style="liStyle(tab)" v-html="liInner(tab)">1</li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade" v-for="(tab, tabID) in params.Tabs"></div>
            </div>
        </template>
    </div>
</template>

<script>


    export default {
        name: 'tabs',
        props: ['params'],
        data() {
            return {
                isActive: false,
            }
        },
        computed: {
            tabClass: function(){
                let result = 'tab-base';
                if(this.params.Class)
                    result += " " + this.params.Class;

                return result;
            }
        },
        methods: {
            liClass(tab){
                if(!tab['LiClass']) tab['LiClass'] = '';
                let result = (!this.isActive && !tab['IsButton'] && tab['Active'] ? 'active' : '') + " " + tab['LiClass'];
                return result;
            },
            liStyle(tab){
                let result = '';
                if(tab.LiStyle)
                {
                    result = tab.LiStyle;
                }
                return result;
            },
            liInner(tab){
                if(typeof tab.innerHtml == 'undefined')
                {
                    let title = (is_object(tab.Header) ? tab['Header']['Content'] : tab.Header);
                    return "<a>"+ title +"</a>";
                }
                else
                    return tab.innerHtml;
            },
            is_Active(tab){

            },

            addContact() {
                this.tabs.push({header: 'Контакт', contact: {name:''}});
            },
            selectTab(index) {
                console.log(index);
                this.currentTab = index;
            },
            removeContact(index) {
                this.tabs.splice(index, 1);
                this.currentTab = (index > 0) ? (index - 1) : 0;
            },
            trimStr(str){
                return _.trim(str);
            }
        },
        created() {
            console.log('THIS>PARAMS', this.params);
        }
    }
</script>
