<template>
    <div>
        <div class="buildImagesSlider">


            <!--<div class="buildImagesSliderShower">
                <a class="buildImages" href="https://ph.ru/images/BuildGallery/7127_356200_11/build.jpg">
                    <img src="https://ph.ru/images/BuildGallery/7127_356200_11/w300/h300/build.jpg" class="buildImg">
                </a>
            </div>-->

            <div class="buildImagesSliderShower">
                <a class="buildImages" :href="'https://ph.ru/images/' + firstImagePath + '/build.jpg'">
                    <img :src="'https://ph.ru/images/' + firstImagePath +'/w300/h300/build.jpg'" class="buildImg">
                </a>
            </div>

            <ul class="buildImagesSliderList">
                <li v-for="(item, index) in allImages" :key="item.path" v-if="index <= 39">
                    <a :rel="index" class="buildImages" :href="'https://ph.ru/images/' + item.path + '/build.jpg'">
                        <img :src="'https://ph.ru/images/' + item.path + '/w100/h100/build.jpg'"
                             class="buildImg">
                    </a>
                </li>

                <li class="lastImage" v-if="hiddenImages.length > 0">
                    <a class="buildImages"
                       :href="'https://ph.ru/images/' + lastImagePath + '/build.jpg'"
                       :data-title="'Смотреть все (' + imagesCount + ')'">
                        <img :src="'https://ph.ru/images/' + lastImagePath + '/w100/h100/build.jpg'"
                             class="buildImg">
                    </a>
                </li>

                <li class="hide" v-for="(item, index) in hiddenImages" :key="item.path">
                    <a :rel="index" class="buildImages" :href="'https://ph.ru/images/' + item.path + '/build.jpg'">
                        <img :src="'https://ph.ru/images/' + item.path + '/w100/h100/build.jpg'"
                             class="buildImg">
                    </a>
                </li>

            </ul>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'BuildImageSlider',
        data() {
            return {}
        },
        //props: ['images'],
        computed: {
            images() {
                return this.$store.getters.bcDataImages;
            },
            firstImagePath() {
                let img = Object.values(this.images)[0];
                return img.path;
            },
            lastImagePath() {
                let img = Object.values(this.images)[0];
                return img.path;
            },
            allImages() {
                let images = Object.values(this.images);
                images.splice(0, 1);
                return images;
            },
            imagesCount() {
                let images = Object.values(this.images);
                return images.length;
            },
            hiddenImages() {
                let images = Object.values(this.images);
                images.splice(0, 38);
                return images;
            }
        },
        mounted() {

        }
    }
</script>

<style lang="scss">
    .buildImagesSlider ul.buildImagesSliderList {
        font-size: 0;
    }
</style>