<template>
    <tr>
        <td>
            <div class="buildName inline middle">
                <router-link :to="'/bc/' + row.InternalNameTranslit">
                    {{(row.BuildName !== '' ? row.BuildName + ' - ' : '') + row.PrettyAddress}}
                </router-link>
            </div>
            <div class="buildType inline middle text_gray">{{row.TypeName}}</div>
            <div class="blocksCount inline middle" :class="(parseInt(row.BlocksCount) === 0) ? 'empty' : ''">{{row.BlocksCount}} {{declOfNum(parseInt(row.BlocksCount), ['предложение', 'предложения', 'предложений'])}}</div>
        </td>
    </tr>
</template>

<script>

    export default {
        name: 'catalogSearchRow',
        data() {
            return {}
        },
        props: ['row'],
        methods: {
            declOfNum: function (number, titles) {
                let cases = [2, 0, 1, 1, 1, 2];
                return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
            }
        },
        created() {

        },
        mounted() {

        }
    }
</script>

<style lang="scss">


</style>
